	/*---------------------------------------------------------- 
 Main website specifications - AL Legacy skin
------------------------------------------------------------ */
/* load the main site font */
@font-face {
   font-family: Audiowide;
   src: url(../font/Audiowide-Regular.ttf);
}

* { 	margin: 0; padding: 0; 
}

html { overflow-y: scroll; 
	overflow-x: hidden;
}

body { background: black; font-family: Audiowide, Arial, helvetica, sans-serif;
}

img { display: block;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
	display: block;
}

.container { display: none; }

	
/*---------------------------------------------------------- 
 Main site width
------------------------------------------------------------ */
#wrapper {
	width: 100%;	
	max-width: 1280px;
	margin: auto;
} 
 
#main {
	width: 100%;
	margin-right: 5%;
	float: left;
}		
	
/*---------------------------------------------------------- 
 Top
------------------------------------------------------------ */
/* background */
#top_background {
	width: 100%;
	float: left;
	display: block;
	background: url(../images/top_bg.png) 0 0 no-repeat;
	height:100%;
	}

	
/* logos */	
#left { 	float: left;}
#logo_img { 	max-width: 100%;}
#logo_img_480 {	max-width: 100%;}	

			
#right { float: right;}
	#right img {
		max-width: 100%;
		float: right;
		}			

/* at a resolution of max 480 (smartphones) we want a smaller logo with border */		
@media screen and (max-width: 480px) { 
	.container { width: 15%; } 
	#left { width: 85%;
		}	
	#logo_img { margin-left: auto;
			margin-right: auto;
			display: none;
		}
	#logo_img_480  { margin-left: auto;
			margin-right: auto;
			margin-bottom: 5px;		
		}
	#right { width: 0%;
		display: none;
	}
	#top_background  { border-top-width: 0px;
			border-left-width: 0px;
			border-bottom-width: 7px;
			border-bottom-color: #00d3d3;
			border-style: solid;
			box-shadow: 0 0 7px #00d3d3;
		    background: -webkit-linear-gradient(black, #01b5b5); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient(black, #01b5b5); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient(black, #01b5b5); /* For Firefox 3.6 to 15 */
			background: linear-gradient(#175f5f, black); /* Standard syntax (must be last) */
		}
}		

/* at a resolution of max 960 (Tablets & low res laptop) we want the original logo without the bee */				
@media screen and (min-width: 481px) and (max-width: 960px){  
	.container { width: 15%; } 
	#left { width: 100%; }
	#logo_img{ margin-left: auto;
			   margin-right: auto; 
		}
	#logo_img_480{ display: none;}
		
	#right { width: 0%;
		display: none;
	}
}

/* For high res screens we want the full package - original logo and bee */
@media screen and (min-width: 961px) { 
	.container { width: 15%; } 
	#left { width: 50%;}
	#logo_img_480{ display: none;}	
	#right{ width: 35%;
		display: block;
		text-align: right;}
	}	
	
/*---------------------------------------------------------- 
 Menu
------------------------------------------------------------ */
/* ---------the side menu--------*/

/* the side menu for smartphones, tablets and old (laptop) screens */
/* it is also used for the high res monitors, but then only the skin switch will be visible */

	body, html {
        height: 100%;
        margin: 0;
     }

	.container {
		display : block;
		position: relative;
        height: 100%;
        width: 100%;
        left: 0;
        -webkit-transition:  left 0.4s ease-in-out;
        -moz-transition:  left 0.4s ease-in-out;
        -ms-transition:  left 0.4s ease-in-out;
        -o-transition:  left 0.4s ease-in-out;
        transition:  left 0.4s ease-in-out;
    }
    
    .container.open-sidebar {
        left: 170px;
    }
    
    #sidebar {
        position: absolute;
        left: -170px;
        background: black;
        width: 170px;
        height: 100%;
        box-sizing: border-box;
    }
	
    #sidebar ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
	
    #sidebar ul li { margin: 0;
			background:#00d3d3; }
	
    #sidebar ul li a {
        padding: 0;
        display: block;
        -webkit-transition:  background 0.3s ease-in-out;
        -moz-transition:  background 0.3s ease-in-out;
        -ms-transition:  background 0.3s ease-in-out;
        -o-transition:  background 0.3s ease-in-out;
        transition:  background 0.3s ease-in-out;
    }
	
 
	#sidebar ul li a img:hover { opacity:0.5;}
	
    .main-content {
        width: 100%;
        height: 100%;
        padding: 1px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        position: absolute;
    }
	
    .main-content .content{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
		padding-left: 60px;
		width: 100%;
    }
	
    .main-content .content p{
        width: 100%;
        line-height: 160%;
    }
	
    .main-content #sidebar-toggle {
        background: #01b5b5;
        border-radius: 3px;
        display: block;
        position: absolute;
        padding: 10px 7px;
        float: left;
    }
	
    .main-content #sidebar-toggle .bar{
        display: block;
        width: 18px;
        margin-bottom: 3px;
        height: 2px;
        background-color: #fff;
        border-radius: 1px;   
    }
	
    .main-content #sidebar-toggle .bar:last-child{
         margin-bottom: 0;   
    }
	
	#search_ul{ width: 100%; }
	
	#search_ul li { display: inline; float: left; }
	
	#search_side { width: 50px;}
	
	#search_text_side{ color: #ffffff;				
				width: 120px;
				height: 40px;
				border: 0;
				margin: 0;
				padding: 0;
				background: url(../images/menu_search_input.png) 0 0 no-repeat; 
				background-size: 120px 40px;
				text-align: center;
				display: block;
				font-family: Audiowide;
			}
	
/*-----some code for the skin submenu-------*/
	
	.clearfix:after {
		display:block;
		clear:both;
	}

	/*----- Menu Outline -----*/
	.skin-wrap {
		width:100%;
	}
	 
	.skin-menu {
		width:100%;
		margin:0px auto;
	}
	 
	.skin-menu li {
		margin:0px;
		list-style:none;
	}
	 
	.skin-menu a {
		transition:all linear 0.15s;
		color:#000000;
	}
	 
	 
	/*----- Top Level -----*/
	.skin-menu > ul > li {
		float:left;
		display:inline-block;
		position:relative;
		font-size:19px;
	}
	 
	/*----- Bottom Level -----*/
	.skin-menu li:hover .sub-menu {
		z-index:1;
		opacity:1;
	}

	.sub-menu {
		width:75%;
		padding:5px 0px;
		position:absolute;
		top:100%;
		left:0px;
		z-index:-1;
		opacity:0;
		transition:opacity linear 0.15s;
		box-shadow:0px 2px 3px rgba(0,0,0,0.2);
	}
	 
	.sub-menu li {
		display:block;
		font-size:16px;
		border-top-style: solid;
		border-top-color: #000000;
		border-top-width: 1px;
	}
	 
	.sub-menu li a {
		display:block;
		text-decoration: none;
		font-weight: normal;
		color: #182727;
		background : #00bdbf;
	}
	 
	.sub-menu li a:hover, .sub-menu .current-item a {
		background:#01b5b5;
		color:#43635f;
	}


/* 'position' is needed for smartphone view else the logo is covered by the sidemenu button */
@media screen and (max-width: 480px) { 
	.main-content {position: relative;}
	.main-content #sidebar-toggle {position: relative;}
	}	

/* resizing of buttons is done to get al info on screen in landscape for phones and tablets*/
@media screen and (max-width: 640px) { 
	#games_side{height: 40px;}
	#menus_side{height: 40px;}
	#demos_side{height: 40px;}
	#about_side{height: 40px;}
	#links_side{height: 40px;}
	#skin_side{height: 37px; width: 113px;}
	#search_side {height: 40px; width: 23px;}
	#search_text_side{ width: 90px; background-size: 90px 40px;}
	
	.container.open-sidebar { left: 113px;}
    #sidebar { left: -113px;
        width: 113px;
	}
	.sub-menu li { font-size:13px; }
}

/* for the lower resolutions, we don't have the menu bar below the top */ 
@media screen and (max-width: 1279px) {  	
	#home { display: none; }
	#search { display: none; } 
	#search_text{ display: none; } 
	#games { display: none; }
	#demos { display: none; }
	#about { display: none; }
	#menus { display: none; }
	#links { display: none; }
}

/* for the high resolutions, we only have the skin switch in the side menu */ 
@media screen and (min-width: 1280px) {  	
	#links_side { display: none; }
	#search_side { display: none; } 
	#search_text_side{ display: none; } 
	#games_side { display: none; }
	#demos_side { display: none; }
	#about_side { display: none; }
	#menus_side { display: none; }
}

/* ---------the main menu below top--------*/

/* This piece of code is used for higher res :
/*	1) making the side menu go to the left of the screen  --> Container absolute
/*  2) Side bar needs to be transparant for resolutions between 1281 and 16** or something --> #sidebar
/*  3) header nav is switched to absolute, if this is not done, the hyperlinks won't work anymore becauwe of position of container
/*  4) since header nav is absolute, the main part of the site needs to be repositioned */
@media screen and (min-width: 1281px){  	
	.container { position: absolute;}
	#sidebar {background-color: rgba(0, 0, 0, 0);}
	header nav { position: absolute; margin-top: 225px; left : 0}
	#main { position: relative; margin-top: 60px;}
}


header nav { float: center;
	width: 100%; 	
	}
	header nav ul { font-size: 0; width : 100%; text-align : center; 
		}
	header nav li {	display: inline-block;
		}
		header nav img:hover{ opacity:0.8; 
			}
			header nav input{ color: #ffffff;				
				width: 280px;
				height: 60px;
				border: 0;
				margin: 0;
				padding: 0;
				background: url(../images/menu_search_input.png) 0 0 no-repeat; 
				text-align: center;
				display: block;
				font-family: Audiowide;
			}


/*---------------------------------------------------------- 
 Main site
------------------------------------------------------------ */	

/* Up until width of 639 we have 1 tile per rows
 from 640 to 800 we have 2 tiles.
 From a width of 801 we will be having rows of 3 tiles */
 
/*------------------------------------------------------------
Standard tile settings 
-------------------------------------------------------------*/
.column-left { width: 32%; 
	 float:left;
}

.column-center { width: 32%; 
	 float:left;
	 margin-left: 2%;
}

.column-right { width: 32%; 
	 float:right;
}

.column-wide { width: 100%; 
	 float:left;
	 margin-top:0;
}

/* 2 tiles and background welcome image */
@media screen and (min-width: 640px) and (max-width: 800px)
{
	.column-left { width: 48%; 
			margin-top: -395px;
	}
	.column-center { width: 48%; float:right;
	}
	.column-right{display : none;}
	.column-left-tab { width: 48%; float: left;}
	.column-right-tab { width: 48%; float: right}
}

/* 1 tile and a simplified intro screen */
@media screen and (max-width: 639px) { 
	.column-left { width: 100%; } 
	.column-center { width: 100%; margin-left: 0px;}
	.column-right { width: 100%; }	
	.column-right-tab {display:none}
	.column-left-tab {display:none}
}

@media screen and (min-width: 801px) { 
	.column-right-tab {display:none}
	.column-left-tab {display:none}
}

.standard_tile  { width: 100%; 
		background-color: #122323;
		border-top: 10px solid #01b5b5;
		border-bottom: 3px solid #01b5b5;
	}

.standard_tile_line{ border-bottom: 2px solid #000000;
	}
	
.standard_tile_background{
		position:relative;
}

.standard_tile_image{ width: 100%; 	
		position:absolute;
		left:0;
		top:0;
}

.standard_tile p { 
		text-align: left;
		border-right: 2px solid #01b5b5;
		/*border-left: 2px solid #01b5b5;*/
		padding-left: 4%;
		padding-right: 4%;
		width: 91.7%;
}
				
.standard_tile_title{ 
		background: rgb(0, 80, 80) transparent;   /* Fallback for web browsers that doesn't support RGBa */
        background: rgba(0, 80, 80, 0.6);   /* RGBa with 0.6 opacity */
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#005050, endColorstr=#005050);  /* For IE 5.5 - 7*/
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#005050, endColorstr=#005050)";  /* For IE 8*/ 
/*		background: none;
/*		background: -webkit-linear-gradient(bottom, rgba(20, 80, 80,0.4), rgba(0, 80, 80,1)); /* For Safari 5.1 to 6.0 */
/*		background: -o-linear-gradient(top, rgba(0, 80, 80,0.4), rgba(0, 80, 80,1)); /* For Opera 11.1 to 12.0 */
/*		background: -moz-linear-gradient(top, rgba(0, 80, 80,0.4), rgba(0, 80, 80,1)); /* For Firefox 3.6 to 15 */
/*		background: linear-gradient(to top, rgba(0, 80, 80,0.4), rgba(0, 80, 80,1)); */
		padding-top:3%;
		font-size : 17pt;
		margin-top : 46%;
		color : white; 	
		z-index:100;
		position:absolute;
	    border-bottom: 2px solid #01b5b5;
}

/* .standard_tile_subtitle { background: none;
/*  	background: -webkit-linear-gradient(top, rgba(20, 80, 80,0.4), rgba(0, 80, 80,1)); /* For Safari 5.1 to 6.0 */
/*		background: -o-linear-gradient(bottom, rgba(0, 80, 80,0.4), rgba(0, 80, 80,1)); /* For Opera 11.1 to 12.0 */
/*		background: -moz-linear-gradient(bottom, rgba(0, 80, 80,0.4), rgba(0, 80, 80,1)); /* For Firefox 3.6 to 15 */
/*		background: linear-gradient(to bottom, rgba(0, 80, 80,0.4), rgba(0, 80, 80,1)); 
/*		padding-bottom: 2.7%;
/*		padding-top: 1%;
/*		font-size : 10pt; 
/*		color : #bcbdbd;
/*		z-index:100;
/*		margin-top: 56.2%;
/*		position:absolute;
/*		border-bottom: 2px solid #01b5b5;
} */

/* 1 tile and a simplified intro screen */
@media screen and (max-width: 639px) { 
.standard_tile_title{ margin-top : 50.5%;
	}

.standard_tile_subtitle { margin-top: 58%;
	}
}

 @media screen and (max-width: 1025px) { 
.standard_tile_title{ padding: 0.5%;
	}
}

@media screen and (max-width: 800px) { 
.standard_tile_title{ padding: 1.5%;
	}
}

@media screen and (max-width: 500px) { 
.standard_tile_title{ padding : 1%;
	}
}

@media screen and (max-width: 400px) { 
.standard_tile_title{ padding : 0;
	}
}

.standard_tile_explanation { position: relative;
					margin-top: 65%;
					margin-bottom: 4%;
					padding-left: 3%;
					padding-right: 3%;
					padding-bottom: 3%;}
					

.standard_tile h1 { color: white;
			font-size: 18pt;
			font-weight: 100;
			text-align: center;	
			margin-top:20px;
			margin-bottom:20px;
	}
	
.standard_tile h2 { color: #00d3d3;
			font-size: 10pt;
			font-weight: 100;
			font-style: italic;
			float: right;	
	}
	
.standard_tile h3 { color: white;
			font-size: 10pt;
			font-weight: 100;
			text-align: center;
	}
	
.standard_tile h4 { color: white;
			font-size: 12pt;
			font-weight: 100;
			text-align: left;
	}
 
.standard_tile h5 { color: #9c9c9c;
			font-size: 9pt;
			font-weight: 100;
			text-align: left;
	}

.standard_tile h6 { color: white;
			font-size: 11pt;
			font-weight: 100;
			text-align: left;
	}
	
.standard_tile_input { background : url(../images/logon_input.png) 0 0 no-repeat; 
				color: #ffffff;				
				width: 85%;
				height: 44px;
				margin-top:0;
				padding: 0;
				padding-left: 5px;
				border: 0;
				text-align: left;
				display: block;
				background-size: 85% 44px;
				font-family: Audiowide;	
}

.standard_tile_link:link { text-decoration: none;
	color: white;
}

.standard_tile_link:visited { text-decoration: none;
	color: white;
}

.standard_tile_link:hover { text-decoration: none;
	color: #01b5b5;
}

.standard_tile_link_reverse:link { text-decoration: none;
	color: #01b5b5;
}

.standard_tile_link_reverse:visited { text-decoration: none;
	color: #01b5b5;
}

.standard_tile_link_reverse:hover { text-decoration: none;
	color: white;
}

.standard_list_entry{position : relative;
		width: 100%;
		height: 140px;
		display: table;
 }

.standard_list_entry_left{
		left: 0px;
		width: 50%;
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
}

.standard_list_entry_left img { max-width: 100%;
		width: 80%;
		box-shadow: 0 0 7px #00d3d3;
		margin-left: 15px;
}

.standard_list_entry_left img:hover{ box-shadow: 0 0 7px white;}

.standard_list_entry_right{
		left: 48%;
		width: 50%;
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
}
 
.standard_list_entry_right_news_text {
		height: 70px;
		overflow: hidden;
}

@media screen and (min-width: 450px) and (max-width: 639px) { 
	.standard_list_entry{height: 180px;}
} 
 
.standard_tile_text { padding : 20px;}
 
/*---------------------------------------------------------- 
 Welcome tile settings --> frontpage
------------------------------------------------------------ */
#welcome { width: 66%;
		height: 460px;
		float: left;
		margin-top: 20px;
		border-top: 10px solid #01b5b5;
		border-bottom: 3px solid #01b5b5;
		margin-bottom:20px;
	}
	
#welcome p { background: rgb(0, 80, 80) transparent;   /* Fallback for web browsers that doesn't support RGBa */
        background: rgba(0, 80, 80, 0.6);   /* RGBa with 0.6 opacity */
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#005050, endColorstr=#005050);  /* For IE 5.5 - 7*/
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#005050, endColorstr=#005050)";  /* For IE 8*/
		text-align: center;
		border-right: 2px solid #01b5b5;
		padding-left: 5%;
		padding-right: 5%;
	}	

#welcome_quote { padding-top:20px;
		font-size : 30pt;
		margin-top : 12%;
		color : white; 	
	}
	
@media screen and (min-width: 500px) and (max-width: 1099px) { 	
#welcome_quote { font-size : 20pt;}
}	

#welcome_slogan { font-size : 16pt; 
		color : #bcbdbd;
	}

#welcome_text { font-size : 13pt; 
		padding-bottom: 25px;	
		color : white;
		border-bottom: 2px solid #01b5b5;				
	}

/* 1 tile and a simplified intro screen */
@media screen and (max-width: 639px) { 
	#welcome  { width: 100%;
		background-image: none;
		margin-top: -20px;
		margin-bottom: 25px;
		border-top: 0px}	

	#welcome_text { display : none;}
	
	#welcome_slogan { border-bottom: 2px solid #01b5b5; 
		border-left: 2px solid #01b5b5; 
		font-size : 13pt;
	}
	#welcome_quote { font-size : 15pt; 
		padding-top: 0px;
		border-left: 2px solid #01b5b5;	
		border-top: 2px solid #01b5b5; 
	}
}

/* 2 tiles and background welcome image */
@media screen and (min-width: 640px) and (max-width: 800px) { 
	#welcome  { width: 100%; 
			margin-bottom: 20px;
	}
}

/*---------------------------------------------------------- 
logon tile --> front page
------------------------------------------------------------ */
#logon { margin-top: 20px;
		float : right;
		margin-bottom : 20px;
		width: 32%;
}
	
.logon_input_usn{position : relative;
			width: 100%;
			margin-top:20px;
			margin-left: 10%;
 }

.logon_left{position: absolute;
		left: 0px;
		width: 10%;
}
.logon_right{position: absolute;
		left: 45px;
		width: 90%;
}
 
.logon_input_pwd{position : relative;
			width: 100%;
			margin-top:85px;
			margin-left: 10%;
 }
 
.logon_signin{ margin-top:170px; 
}

.logon_signin img{ display:block;
    margin:auto;
}

.logon_signin img:hover{ opacity:0.7;}

/* 1 tile */
@media screen and (max-width: 639px) { 
	#logon  { width: 100%; 
	margin-top: -320px;	
	margin-bottom: 20px;
	}
}

/* 2 tiles */
@media screen and (min-width: 640px) and (max-width: 800px) { 
	#logon  { width: 48%; 
		margin-bottom: 20px;	
		margin-top: 0px;
	}
}

/*---------------------------------------------------------- 
latest news tile --> front page
------------------------------------------------------------ */
#latest_news { margin-right: 20px;
			margin-bottom: 20px;
}


/*---------------------------------------------------------- 
screenstar tile - front page
------------------------------------------------------------ */
#screenstar_position_front { margin-bottom: 20px;}


/*---------------------------------------------------------- 
datequote tile - front page
------------------------------------------------------------ */
#datequote_position_front { 	margin-top:-95px;	
				margin-bottom: 20px;
}

#datequote_bg { background: url(../images/datequote_bg.jpg) ;}

/* 1 and 2 tiles */
@media screen and (max-width: 800px) { 
	#datequote_position_front { margin-top: 0px;}
}


#datequote_day{ font-size : 85pt;
		color : white; 
		margin-top: 0px;
		margin-bottom: -20px;
}

#datequote_month { font-size : 30pt;
		color : white;
		margin-top: -10px;
		margin-bottom: -10px;
	}

#datequote_year { font-size : 55pt;
		text-align: center;
		color : #cccccc; 
		margin-top: -10px;
	}

#datequote_text { background: rgb(0, 80, 80) transparent;   /* Fallback for web browsers that doesn't support RGBa */
        background: rgba(0, 80, 80, 0.6);   /* RGBa with 0.6 opacity */
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#005050, endColorstr=#005050);  /* For IE 5.5 - 7*/
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#005050, endColorstr=#005050)";  /* For IE 8*/ 
		color: white; 
		padding-top: 10px;
		padding-bottom: 10px;
	}	

/*---------------------------------------------------------- 
Who is it - front page
------------------------------------------------------------ */
#whoisit_position_front { margin-bottom: 20px; }


/*---------------------------------------------------------- 
Latest reviews tile - front page
------------------------------------------------------------ */
#latest_reviews{ margin-bottom: 20px;}	
		

/*---------------------------------------------------------- 
Did you know tile - front page
------------------------------------------------------------ */
#didyouknow_position_front{ margin-bottom: 20px; }	
			

/*---------------------------------------------------------- 
Statistics tile - front page
------------------------------------------------------------ */
#statistics_position_front{ margin-bottom: 20px; }	
	
	
/*---------------------------------------------------------- 
Hotlinks tile - front page
------------------------------------------------------------ */
#hotlinks_position_front{ margin-bottom: 20px; }	
				

/*---------------------------------------------------------- 
contact tiles - front page
------------------------------------------------------------ */
#contact_tiles { margin-bottom: 20px;
			background: none;
			border: none;
}

#contact_tiles  img{ margin-bottom: 20px;
			max-width: 100%;
}
			
/*---------------------------------------------------------- 
 Footer
------------------------------------------------------------ */
.footer{ width: 100%;
		float: left;	
		margin-top: 20px;
		padding-top: 20px;
		border-top: 10px solid #01b5b5;
		background: url(../images/footer_bg.jpg) 0 0 no-repeat;
	}

.footer_logo{ color: white;
		font-size: 10pt;
		text-align: center;
	}

#footer_img {margin-left: auto;
			margin-right: auto;
			margin-bottom: 5px;	
	}
/*---------------------------------------------------------- 
 resolutions tested!
------------------------------------------------------------ */
/* smartphones, iPhone, portrait 480x320 phones */
/* @media screen and (max-width: 320px) {  

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
/* @media screen and (min-width: 481px) { 

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
/* @media screen and (min-width: 641px) {  

/* tablet, landscape iPad, lo-res laptops ands desktops */
/* @media screen and (min-width: 961px) { 

/* big landscape tablets, laptops, and desktops */
/* @media screen and (min-width: 1025px) { 

/* hi-res laptops and desktops */
/* @media screen and (min-width: 1281px) {  
