{* Edit form for the trivia quote *}
{if isset($smarty_action) and $smarty_action == "trivia_quote_edit"}
    <textarea name="trivia_text" id="trivia_text" class="primary_textarea" rows="4">{$trivia_quote}</textarea>
    [BRK]
    <input type="button" value="Update" class="secondary_button" onclick="TriviaQuoteUpdate({$trivia_quote_id})">
{/if}

{* Return View for the trivia update *}
{if isset($smarty_action) and $smarty_action == "trivia_quote_update_returnview"}
    {$trivia_text}
    [BRK]
    <input type="button" value="Edit"  class="secondary_button" onclick="EditTriviaQuote({$trivia_quote_id})">
{/if}

{* Edit form for the did you know quote *}
{if isset($smarty_action) and $smarty_action == "did_you_know_edit_view"}
    <textarea name="trivia_text" id="trivia_text" class="primary_textarea" rows="4">{$trivia_text}</textarea>
    [BRK]
    <input type="button" value="Update"  class="secondary_button" onclick="DidyouknowUpdate({$trivia_id})">
{/if}

{* Return View for the did you know update *}
{if isset($smarty_action) and $smarty_action == "did_you_know_update_returnview"}
    {$trivia_text}
    [BRK]
    <input type="button" value="Edit"  class="secondary_button" onclick="DidyouknowEdit({$trivia_id})">
{/if}
