{* Ajax User Management *}

    {if isset($users)}
        <table class="standard_table_list">
            <tr>
                <th><input type="checkbox" name="user_select_all" id="user_select_all" class="quick_search_check">All</th>
                <th class="username_th">User Name</th>
                <th class="joindate_th">Join Date</th>
                <th class="lastvisit_th">Last Visit</th>
                <th class="email_th">Email</th>

            </tr>
            {foreach from=$users item=line}
            <tr>
                <td class="select_td"><input type="checkbox" name="user_id[]" value="{$line.user_id}" class="user_checkbox"></td>
                <td class="username_td">{if $line.user_name != ''}<a href="../user/user_detail.php?user_id_selected={$line.user_id}" class="standard_table_center">{$line.user_name}</a>{else}<i>n/a</i>{/if}</td>
                <td class="joindate_td">{if $line.join_date != ''}{$line.join_date}{else}<i>n/a</i>{/if}</td>
                <td class="lastvisit_td">{if $line.last_visit != ''}{$line.last_visit}{else}<i>n/a</i>{/if}</td>
                <td class="email_td">{if $line.email != ''}<a href="mailto:{$line.email}" class="standard_tile_link_black">M</a>{else}<i>n/a</i>{/if}</td>
            </tr>
            {/foreach}
            {else}
                <div class="left_nav_section">No users found</div>
            {/if}
            {if isset($nr_users)}
            <tr>
                <td class="standard_table_left" colspan="5">
                    <img width="38" height="22" style="float:left;" alt="" src="../../../themes/templates/1/includes/img/arrow_ltr.gif">
                        <select name="action" id="user_list_action">
                            <option value="-" selected>Select Action</option>
                            {if isset($mail_link)}
                                <option value="email_user">Send Email</option>
                            {/if}
                            <option value="deactivate_user">Deactivate User</option>
                            {if isset($delete_link)}
                                <option value="delete_user">Delete User</option>
                            {/if}
                        </select>
                    <b>Found {if $nr_users != ''}{$nr_users}{else}0{/if} users in {$query_time} sec</b>
                </td>
            </tr>
            {/if}
        </table>



