{* Ajax User Management *}

    {if isset($users)}
        <table class="secondary_table_list table_hover table_xs">
            <tr>
                <th>
                    <div class="checkbox">
                        <input type="checkbox" id="user_select_all" name="user_select_all">&nbsp; All
                        <label for="user_select_all"></label>
                    </div>
                </th>
                <th class="username_column w-25">User Name</th>
                <th class="joindate_column w-25">Join Date</th>
                <th class="lastvisit_column w-25">Last Visit</th>
                <th class="email_column w-10">Email</th>

            </tr>
            {foreach from=$users item=line}
            <tr>
                <td class="w-10">
                    <div class="checkbox">
                    <input type="checkbox" value="{$line.user_id}" id="checkboxInput[{$line.user_id}]" name="user_id[]" class="user_checkbox">
                    <label for="checkboxInput[{$line.user_id}]"></label>
                    </div>
                </td>
                <!-- <td class="username_td"><a class="standard_table_center user_popup fancybox.ajax" href="../administration/user_detail.php?user_id_selected={$line.user_id}">{$line.user_name}</a></td>-->
                <td class="username_column w-25">{if $line.user_name != ''}<a href="../user/user_detail.php?user_id_selected={$line.user_id}" class="standard_tile_text_center">{$line.user_name}</a>{else}<i>n/a</i>{/if}</td>
                <td class="joindate_column w-25">{if $line.join_date != ''}{$line.join_date}{else}<i>n/a</i>{/if}</td>
                <td class="lastvisit_column w-25">{if $line.last_visit != ''}{$line.last_visit}{else}<i>n/a</i>{/if}</td>
                <td class="email_column w-10">{if $line.email != ''}<a href="mailto:{$line.email}" class="standard_tile_link_black"><i class="fa fa-envelope" aria-hidden="true"></i></a>{/if}</td>
            </tr>
            {/foreach}
            {else}
                <div class="left_nav_section">No users found</div>
            {/if}
            {if isset($nr_users)}
            {if $nr_users != 0}
                <tr>
                    <td colspan="5">
                        <img width="38" height="22" style="float:left;" alt="" src="../../../themes/templates/1/includes/img/arrow_ltr.gif">
                        <select name="action" id="user_list_action" class="standard_select select_large">
                            <option value="-" selected>Select Action</option>
                            {if isset($mail_link)}
                                <option value="email_user">Send Email</option>
                            {/if}
                            <option value="activate_user">Activate User</option>
                            <option value="deactivate_user">Deactivate User</option>
                            {if isset($delete_link)}
                                <option value="delete_user">Delete User</option>
                            {/if}
                        </select>
                        <b>Found {$nr_users} users in {$query_time} sec</b>
                    </td>
                </tr>
            {/if}
            {/if}
        </table>
