<div class="standard_tile text-center">
    <h1>EDITING <a href="games_detail.php?game_id={$game->getId()}">{$game->getName()}</a></h1>
    <div class="standard_tile_line"></div>
    <div class="standard_tile_padding">
        <a href="games_detail.php?game_id={$game->getId()}">
            <img class="edit-tile" src="../../includes/show_image.php?file={$game_screenshot}" alt="Random screenshot of {$game->getName()|escape}">
        </a>
        <br>
        <small class="help-hint">(random screenshot)</small>
    </div>
</div>
