<div class="standard_tile text-center">
    <h1>RELEASES <span class="help-hint">({count($game_releases)})</span></h1>
    <div class="standard_tile_line"></div>
    <div class="standard_tile_padding">
        <span class="help-hint">Click to edit the release details</span>
        <br><br>
        {if $game_releases}
            <ul class="navigation-list">
                {foreach from=$game_releases item=release}
                    <li {if isset($release_id) and $release->getId() == $release_id}class="active"{/if}>
                        <a title="Delete release"
                            href="db_games_detail.php?action=delete_release&amp;game_id={$game->getId()}&amp;game_release_id[]={$release->getId()}"
                            onclick="javascript:return confirm('This release will be deleted');" class="standard_tile_link">
                            <i class="fa fa-fw fa-trash" aria-hidden="true"></i>
                        </a>

                        <a href="games_release_detail.php?release_id={$release->getId()}&game_id={$game->getId()}">
                            {if $release->getDate()}
                                {$release->getDate()|date_format:"%Y"}
                            {else}
                                [no date]
                            {/if}
                            {if $release->getName() != null} <small> as "{$release->getName()}"</small>{/if}
                            {if $release->getPublisher() != null} <small> by {$release->getPublisher()->getName()}</small>{/if}
                        </a>

                    </li>
                {/foreach}
            </ul>
        {/if}
        <br>
        <a class="primary_button" href="games_release_detail.php?game_id={$game->getId()}">
            Add a new release
        </a>
    </div>
</div>
