{extends file='1/admin/frontpage.html'}
{block name=main_tile}
<div class="NEWMAINCELL" style="display:block; margin-left:auto;margin-right: auto;">
	<br/>
	<div class="NEWNAVCELL" style="width:200px;">

						<li class="NEWHEADERBAR">Game Series</li>
						{foreach from=$game_series item=line}
							<li class="leftnav_list">
								<a href="../games/games_series_editor.php?series_page=series_editor&amp;game_series_id={$line.game_series_id}" class="LEFTNAV">{$line.game_series_name}</a>
							</li>
						{/foreach}	
					</div>
</div>
{/block}
