{extends file='1/admin/main.html'} {block name=main_tile}
<div class="standard_tile">
    <h1>GAME PUBLISHERS TO MERGE</h1>

    <div class="standard_tile_line"></div>

        <div class="standard_tile_padding">
            <div class="left_nav_section">
                This page lists all the games that still have publishers attached
                to them. They need to be merged into releases.
            </div>

            <br>

            <table class="secondary_table_list table_hover table_sm text-nowrap">
                <tbody>
                    <tr>
                        <th>Game name</th>
                        <th>Publisher name</th>
                        <th>Continent</th>
                        <th>Extra info</th>
                        <th>Release date</th>
                    </tr>
                    {foreach from=$rows item=row}
                        {if $row == 'separator'}
                            <tr>
                                <td colspan="5" class="secondary_table_separator">&nbsp;</td>
                            </tr>
                        {else}
                            <tr>
                                <td><a href="games_detail.php?game_id={$row.game_id}#gd_publisher_info" class="standard_tile_text_left">{$row.game_name}</a></td>
                                <td>{$row.pub_dev_name|default:'-'}</td>
                                <td>{$row.continent_name|default}</td>
                                <td>{$row.game_extra_info|default}</td>
                                <td>{$row.release_date|default:'-'}</td>
                            </tr>
                        {/if}
                    {/foreach}
                </tbody>
            </table>

    </div>

</div>
{/block}
