{extends file='1/admin/main.html'}
{block name=java_script}
<script>
function maginsert()
{
    JSnewmag=document.forms["insertmag"].newmag.value;

    if (JSnewmag=='')
    {
        alert('Please fill in a magazine name');
    }
    else
    {
        // CONFIRM REQUIRES ONE ARGUMENT
        var message = "Are you sure you want to insert this magazine name into the database?";
        // CONFIRM IS BOOLEAN. THAT MEANS THAT
        // IT RETURNS TRUE IF 'OK' IS CLICKED
        // OTHERWISE IT RETURN FALSE
        var return_value = confirm(message);

        if (return_value !="0")
        {
            url="../magazine/db_magazine.php?newmag="+JSnewmag+"&action=insert_magazine"
            location.href=url;
    }
    }
}
</script>
{/block}
{block name=title}Add Magazines{/block}
{block name=main_tile}
<div class="NEWMAINCELL" style="text-align:center;">
    <fieldset class="interview_set">
        Add Magazines here, enter the name of the magazine in the field below and press "Insert" to enter it into the database.<br/>
    </fieldset>
        <br/>
        <br/>
        <fieldset class="interview_set">
    <legend class="primary_legend">New Magazine.</legend>
    <br/>
    <form method="post" action="" name="insertmag">
        Magazine Name
        <input type="text" name="newmag" size="50" maxlength="50" class="links_input-box">
        <input type="submit" name="inserter" value="Insert" onClick="maginsert(); return false;">
        <input type="hidden" name="choice" value="insert_magazine">
    </form> <br/>
</fieldset>
        <br/>
<fieldset class="interview_set">
    <legend class="primary_legend">Magazines already in archive</legend>

    <br/>
    {foreach from=$magazine item=line}

    {$line.magazine_name}<br/>

    {/foreach}
    <br/>
</fieldset>
<br/>
</div>
{/block}
