{extends file='1/admin/frontpage.html'}
{block name=title}Manage Magazines{/block}
{block name=main_tile}
<div class="NEWMAINCELL">
<fieldset class="interview_set">
    Hiya, here you can add issues to magazines and upload covershots. To add reviewscores please visit the gamepages.<br/>
</fieldset>
        <br/>
        <br/>
<fieldset class="interview_set">
    <legend class="primary_legend">Magazines in archive</legend>

    <br/>
    {foreach from=$magazine item=line}
    <a href="../magazine/magazine_edit.php?magazine_id={$line.magazine_id}" class="MAINNAV">{$line.magazine_name}</a><br/>
    {/foreach}
    <br/>
</fieldset>
<br/>
</div>
{/block}
