{extends file='1/admin/frontpage.html'}
{block name=title}Magazine reviews{/block}
{block name=main_tile}
<div class="NEWMAINCELL">
        <br/>
    <fieldset class="game_set">
    <legend class="links_legend">Reviewed games.</legend>
    <br/>
        <table class="secondary_table_list">
            <tr>
                <th class="w-80">Game Name</th>
                <th class="w-20">Score</th>
            </tr>
                    {foreach from=$magazine item=line}
            <tr>
                <td class="w-80">{if $line.game != ''}{$line.game}</a>{else}<i>n/a</i>{/if}</td>
                <td class="w-20">{$line.score}</td>
            </tr>
        {/foreach}
            <tr>
                <td class="game_list_footer" colspan="2">
                    &nbsp;&nbsp;&nbsp;
                </td>
            </tr>
        </table>
</fieldset>


<br/>
<br/><br/>
<div class="back_button"><a href="../magazine/magazine_edit.php?magazine_id={$magazine_info.magazine_id}" class="MAINNAV">Back</a></div>
</div>
{/block}
