# exclude everything except directory data
/public/data/*
!/public/data/database-*
public/data/database-dumps/*.zip
public/data/database-dumps/*.sql.gz

# exclude temporary directory where Smarty templates are compiled
/public/php/temp/*
!/public/php/temp/.gitkeep

# exclude composer dependencies
/public/php/vendor

# exclude the database connection settings file
/public/php/config/connection_settings.php
# exclude the SMTP settings file
/public/php/config/email_settings.php

# exclude the SASS cache
/public/themes/.sass-cache/
/public/themes/.pleeeaserc
.sass-cache/
/result/
/node_modules/
scss-lint-report.xml

# exclude the SASS map file
/public/themes/styles/1/css/style.css
/public/themes/styles/1/css/style.css.map
/public/themes/styles/2/css/style.css
/public/themes/styles/2/css/style.css.map
/public/themes/styles/3/css/style.css
/public/themes/styles/3/css/style.css.map
style.css
style.css.map
composer.phar
