$ cat .gitignore 
# exclude everything except directory data 
Website/AtariLegend/data/* 

$ cat .gitignore 
# exclude everything except directory templates_c
Website/AtariLegend/php/includes/smarty/templates_c/*

$ cat .gitignore 
# exclude the connect.php file
Website/AtariLegend/php/includes/connect.php

$ cat .gitignore 
# exclude the SASS cache
Website/AtariLegend/themes/.sass-cache/*
Website/AtariLegend/themes/.pleeeaserc

$ cat .gitignore 
# exclude the SASS map file
Website/AtariLegend/themes/styles/1/css/*
Website/AtariLegend/themes/styles/2/css/*
Website/AtariLegend/themes/styles/3/css/*
