Options +Indexes
IndexIgnore .??* *~ *# HEADER* README* RCS CVS *,v *,t
HeaderName HEADER.html
IndexOptions NameWidth=*
AddDescription "MySQL database dump" *.sql.gz
AddDescription "Game images archive" *.zip
