//*************************************************************/
//**********************LEGACY SKIN****************************/
//*************************************************************/
//*************************************************************/
//*****************CPanel USER section css*********************/
//*************************************************************/
//*----------------------------------------------------------
//User details
//------------------------------------------------------------ */
#user_details_img_dark {
    margin-left: 1%;
    box-shadow: 0 0 12px #000000;
}

.user_details_container {
    display: flex;
}
#child_1_user, #child_2_user {
    width: 47.5%;
    margin-left: 2%;
}

#child_3_user {
    width: 5%;
}

.user_details_text {
    display: table-cell;
    width: 50%;
}

.user_details_input {
    display: table-cell;
    width: 50%;
}

#file_upload_user_detail {
    width: 60%;
}

.user_details_row {
    display: table;
    width: 100%;
}

#checkbox_user_detail label {
    border: 1px solid #008b8b;
}


//*----------------------------------------------------------
//User main
//------------------------------------------------------------ */
#main_stats_position_usermain {
    float: left;
    margin-top: 0;
    margin-bottom: 30px;
}

.user_main_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
