//*************************************************************/
//**********************LEGACY SKIN****************************/
//*************************************************************/
//*************************************************************/
//****************CPanel INTERVIEWS section css****************/
//*************************************************************/
//*----------------------------------------------------------
//Interviews main
//------------------------------------------------------------ */

.interview_preview_screenshot_order {
    width: 170px;
    margin: auto;
    font-size: 9pt;
    background-color: #006f6f;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 8px;
    padding-right: 8px;
}

.interview_buttons {
    right: 0;
    top: 0;
    float: right;
    display: inline-flex;
    .primary_button {
        margin-top: 0;
        padding-left: 10px;
        padding-right: 10px;
        display: inline-block;
    }
    .main{float: left;}
    .edit{float: right;}
}

.interview_screenshot_img{
    @extend .game_screenshot_img;
    min-width: 50px;
}
