//*************************************************************/
//**********************LEGACY SKIN****************************/
//*************************************************************/
//*************************************************************/
//********CPanel MAIN structure and LEFT and RIGHT css*********/
//*************************************************************/
//*----------------------------------------------------------
//Front page
//------------------------------------------------------------ */

.main_stats_container {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
}
#child_some_stats,
#child_good_karma_chart,
#child_bad_karma_chart,
#child_good_karma,
#child_bar,
#child_line,
#child_bad_karma {
    width: 100%;
    float: left;
}
.good_karma_chart,
.bad_karma_chart {
    width: 100%;
    height: 100%;
}
.line_changelog {
    float: left;
    width: 100%;
    height: 100%;
}
//*----------------------------------------------------------
//Left nav
//------------------------------------------------------------ */
.left_nav_section {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    margin: 0;
    color: #ffffdd;
    text-align: center;
    list-style-type: none;
    background-color: #006f6f;
    border-collapse: collapse;
    border-bottom: solid 1px #000000;
}
.left_nav_link:link {
    color: #122323;
}
.left_nav_link:visited {
    color: #122323;
}
.left_nav_link:hover {
    color: #ffffff;
}
//*----------------------------------------------------------
//Quick search games
//------------------------------------------------------------ */

#quick_search_options,
#quick_search_user_options {
    display: table;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}
.quick_search_games_button {
    display: block;
    width: 80px;
    height: 25px;
    padding-top: 3px;
    margin-right: auto;
    margin-left: auto;
    font-size: 10pt;
    color: #182727;
    cursor: pointer;
    background: #00d3d3;
    border: 0;
    border-bottom: 3px solid #008b8b;
    border-left: 1px solid #007878;
}
.quick_search_games_button:hover {
    color: #ffffff;
    color: #182727;
    background: #00a9a9;
    border-bottom: 3px solid #006f6f;
}
