//*************************************************************/
//**********************LEGACY SKIN****************************/
//*************************************************************/
//*************************************************************/
//*****************CPanel GAMES section css********************/
//*************************************************************/
//*----------------------------------------------------------
//Games main
//------------------------------------------------------------ */

#child_1,
#child_2 {
    width: 50%;
    margin: auto;
}

.games_check_row {
    display: table;
    width: 100%;
}

h1 {
    a {
        color: #00d3d3;
    }
}

//*----------------------------------------------------------
//Games detail
//------------------------------------------------------------ */

img.edit-tile {
    width: 100%;
}

.gd_navigator {
    button {
        width: 100%;
        margin-left: 0;
    }

    a {
        display: block;
    }
}

#games_detail {
    float: left;
}

#gd_development {
    float: left;
    width: 100%;
    margin-top: 20px;
}

#gd_releases_info {
    float: left;
    width: 100%;
    margin-top: 20px;
}

#gd_basic_game_info {
    float: left;
    width: 100%;
}

.gd_basic_game_info_row {
    display: table;
    width: 65%;
    padding: 2px;
}

.gd_basic_game_info_row_check {
    display: table-cell;
    width: 3%;
}

.gd_basic_game_info_row_checktxt {
    display: table-cell;
    width: 45%;
}

#gd_basic_game_info_category {
    float: right;
    width: 40%;
    margin-top: -285px;
}

#gd_creator_info,
#gd_publisher_info,
#gd_developer_info {
    margin-bottom: 20px;
}
#gd_back {
    margin-top: 20px;
    margin-bottom: 20px;
}

#gd_bottom {
    float: left;
    width: 100%;
}
#gd_text_area_big {
    height: 100%;
}

#file_upload_game_screenshots,
#file_upload_game_file,
#file_upload_game_box,
#file_upload_game_music {
    width: 60%;
}

hr.separator_add {
    margin-top: 10px;
    margin-bottom: 5px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #122323, rgba(0, 0, 0, 0));
}

.gd_left {
    width: 50%;
    float: left;
}

.gd_right {
    width: 50%;
    float: right;
}

.gd_clear {
    clear: both;
}

//*----------------------------------------------------------
//Games upload
//------------------------------------------------------------ */
.game_upload_container {
    display: flex;
}
#gu_child_1,
#gu_child_2 {
    width: 50%;
    margin-left: 2%;
}

//*----------------------------------------------------------
//Games review
//------------------------------------------------------------ */
.review_buttons {
    right: 0;
    top: 0;
    float: right;
    display: inline-flex;
    .primary_button {
        margin-top: 0;
        padding-left: 10px;
        padding-right: 10px;
        display: inline-block;
    }
    .edit{float: right;}
}


//*----------------------------------------------------------
//Games review preview
//------------------------------------------------------------ */
.review_container {
    display: flex;
    display: table;
    width: 100%;
    align-items: flex-start;
}

#review_text {
    display: table-cell;
    width: 70%;
    vertical-align: top;
}

#review_screenshots {
    display: table-cell;
    width: 30%;
    text-align: center;
}

.review_screenshot_order {
    width: 170px;
    margin: auto;
    font-size: 9pt;
}

//*----------------------------------------------------------
//Games screenshots upload
//------------------------------------------------------------ */
.game_screenshot_img {
    @extend #user_details_img_dark;
    width: 100%;
}

//*----------------------------------------------------------
//Games submissions
//------------------------------------------------------------ */
.submission_post_box{
    @extend .comments_post_box;
}

.submission_userinfo{
    @extend .comments_userinfo;
}

.submission_post_detail {
    @extend .comment_post_detail;
}

.submission_userinfo_phoneview {
    @extend .comments_userinfo_phoneview;
}

.submission_title {
    @extend .comments_title;
}

.submission_buttons {
    @extend .comment_buttons;
}

.jsSubmissionEmailButton, .jsSubmissionDeleteButton, .jsSubmissionMoveButton, .jsSubmissionApproveButton {
    @extend .jsCommentsEmailButton;
}

.submission_button_dropdown {
    @extend .comments_button_dropdown
}

.submission_line {
    @extend .comments_line;
}

.submission_title_phoneview {
    @extend .comments_title_phoneview;
}

.submission_post_info {
    @extend .comments_post_info;
}

.submission_post_text {
    position: relative;
    z-index: 0;
    a:link {
        color: #00d3d3;
        font-weight: normal;
    }
    a:visited {
        color: #00d3d3;
        font-weight: normal;
    }
    a:hover {
        color: #ffffff;
        font-weight: normal;
    }
}

.dropdown_show {
    display: block;
}

//*----------------------------------------------------------
// Navigation list inside a tile
//------------------------------------------------------------ */
ul.navigation-list {
    list-style-type: none;
    text-align: left;

    li {
        padding-top: 5px;
        padding-bottom: 5px;

        &.active {
            background-color: #00d3d3;

            a {
                color: black;
            }

            small {
                color: #333;
            }

            i {
                color: #666;
            }
        }
    }

    a {
        color: #00d3d3;

        small {
            color: #bbb;
        }

        i {
            color: white;
            margin-left: 5px;
        }

    }
}
