//*************************************************************/
//**********************LEGACY SKIN****************************/
//*************************************************************/
//*************************************************************/
//****************CPanel DOWNLOAD section css****************/
//*************************************************************/

// DOWNLOAD edit section
// *********************

#download_version, #download_info{@extend .standard_tile_input_small; width: 95%;}

#file_upload_game_detail{width: 60%;}

.downloads_main_row{@extend .games_main_row;}

.download_short_descr{display:none;}

.download_details_input{
    @extend .user_details_input;
    width: 75%;
}

.download_details_text{
    @extend .user_details_text;
    width: 25%;
}

.download_details_row{
    @extend .user_details_row;
}

download_details_text_long{
    @extend .user_details_text;
    width: 100%;
    text-align:center;
}
