//*********************************************************************/
//**************************LEGACY SKIN********************************/
//*********************************************************************/
//*********************************************************************/
//**** This is the css code for general skin specific css settings ****/
//*********************************************************************/
//*----------------------------------------------------------
//load the main font
//------------------------------------------------------------ */
@font-face { 
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: normal;
    src: url('../font/audiowide-regular-webfont.eot');
    src: url('../font/audiowide-regular-webfont.eot?#iefix') format('embedded-opentype'),
                   url('../font/audiowide-regular-webfont.woff2') format('woff2'),
                   url('../font/audiowide-regular-webfont.woff') format('woff'),
                   url('../font/audiowide-regular-webfont.ttf') format('truetype'),
                   url('../font/audiowide-regular-webfont.svg#audiowideregular') format('svg');
}

* {
    padding: 0;
    margin: 0;
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    font-family: Audiowide, Arial, helvetica, sans-serif;
    background-color: #000;
}

body a { text-decoration: none; }
body a:hover { text-decoration: none; }
body a:visited { text-decoration: none; }
img { display: block; }
//*----------------------------------------------------------
// Main site width
//------------------------------------------------------------ */
#wrapper {
    width: 100%;
    max-width: 1920px;
    margin: auto;
}

#wrapper_header {
    width: 100%;
    max-width: 1280px;
    margin: auto;
}

#main {
    float: left;
    width: 100%;
    margin-right: 5%;
}

//*------------------------------------------------------------
//Standard tile settings
//
//Up until width of 639 we have 1 tile per rows
//From 640 to 800 we have 2 tiles.
//From a width of 801 we will be having rows of 3 tiles
//-------------------------------------------------------------*/
.column_left {
    float: left;
    width: 32%;
}

.column_center {
    float: left;
    width: 32%;
    margin-left: 2%;
}

.column_right {
    float: right;
    width: 32%;
}

.column_wide_left {
    float: left;
    width: 64%;
    margin-top: 0;
}

.column_wide_right {
    float: right;
    width: 32%;
    margin-top: 0;
}

.column_wide_right_1920 { display: none; }
.column_wide_left_1920 { display: none; }
.column_wide_center_1920 { display: none; }
.standard_tile {
    width: 100%;
    background-color: #122323;
    border-top: 10px solid #01b5b5;
    border-bottom: 3px solid #01b5b5;
}

.standard_tile_line { border-bottom: 2px solid #000; }
.standard_tile_background { position: relative; }
.standard_tile_image { width: 100%; }
.standard_tile_subtext {
    font-size: 10pt;
    color: #bcbdbd;
}

.standard_tile p {
    width: 91.7%;
    padding-right: 4%;
    text-align: left;
    border-right: 2px solid #01b5b5;
//  border-left: 2px solid #01b5b5;
    padding-left: 4%;
}

.standard_tile_title {
    position: absolute;
    bottom: 0;
    z-index: 1;
    //* RGBa with 0.6 opacity */
    padding-top: 3%;
    font-size: 17pt;
    color: #fff;
    background: rgb(0, 80, 80);
    //* Fallback for web browsers that doesn't support RGBa */
    background: rgba(0, 80, 80, .6);
    border-bottom: 2px solid #01b5b5;
}

.standard_tile_explanation {
    position: relative;
    padding-right: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    margin-bottom: 4%;
}

.standard_tile h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18pt;
    font-weight: 100;
    color: #fff;
    text-align: center;
}

.standard_tile h2 {
    float: right;
    font-size: 10pt;
    font-style: italic;
    font-weight: 100;
    color: $bg-color;
}

.standard_tile h3 {
    font-size: 10pt;
    font-weight: 100;
    color: #fff;
    text-align: center;
}

.standard_tile h4 {
    font-size: 12pt;
    font-weight: 100;
    color: #fff;
    text-align: left;
}

.standard_tile h5 {
    font-size: 9pt;
    font-weight: 100;
    color: #9c9c9c;
    text-align: left;
}

.standard_tile h6 {
    font-size: 11pt;
    font-weight: 100;
    color: #fff;
    text-align: left;
}

.standard_tile_input {
    display: block;
    width: 85%;
    height: 44px;
    padding: 0;
    padding-left: 5px;
    margin-top: 0;
    font-family: Audiowide;
    color: #fff;
    text-align: left;
    background: url('../images/logon_input.png') 0 0 no-repeat;
    background-size: 85% 44px;
    border: 0;
}

.standard_tile_input_small {
    width: 185px;
    height: 25px;
    padding: 0;
    padding-left: 5px;
    margin-top: 0;
    color: #fff;
    text-align: left;
    background: #000;
    border: 1px solid #008b8b;
    font-family: Audiowide;
}

.standard_tile_input_area {
    width: 90%;
    height: 40px;
    padding: 0;
    padding-left: 5px;
    margin-top: 0;
    color: #fff;
    text-align: left;
    background: #000;
    border: 1px solid #008b8b;
    font-family: Audiowide;
}

#text_area_big { height: 150px; }
.standard_tile th {
    font-size: 12pt;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.standard_tile_link:link { color: #fff; }
.standard_tile_link:visited { color: #fff; }
.standard_tile_link:hover { color: #01b5b5; }
.standard_tile_link_reverse:link { color: #01b5b5; }
.standard_tile_link_reverse:visited { color: #01b5b5; }
.standard_tile_link_reverse:hover { color: #fff; }
.standard_tile_link_cpanel:link { color: #01b5b5; }
.standard_tile_link_cpanel:visited { color: #01b5b5; }
.standard_tile_link_cpanel:hover { color: #fff; }
.standard_tile_link_black:link {
    font-weight: bold;
    color: #000;
}

.standard_tile_link_black:visited { color: #000; }
.standard_tile_link_black:hover { color: #fff; }
.standard_tile_link_button:link { color: #000; }
.standard_list_entry {
    position: relative;
    display: table;
    width: 100%;
    height: 140px;
}

.standard_list_entry_odd {
    position: relative;
    display: table;
    width: 100%;
    height: 140px;
    background: #000;
}

.standard_list_entry_left {
    position: absolute;
    top: 50%;
    left: 0;
    width: 50%;
    transform: translateY(-50%);
}

.standard_list_entry_left img {
    max-width: 100%;
    width: 80%;
    margin-left: 15px;
    box-shadow: 0 0 7px $bg-color;
}

.standard_list_entry_left img:hover { box-shadow: 0 0 7px #fff; }
.standard_list_entry_right {
    position: absolute;
    top: 50%;
    left: 48%;
    width: 50%;
    transform: translateY(-50%);
}

.standard_list_entry_right_news_text {
    display: block;
    //* Fallback for non-webkit */
    display: -webkit-box;
    height: 70px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    //* Fallback for non-webkit */
    line-height: 1.2;
    text-overflow: ellipsis;
    box-sizing: border-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.standard_tile_text { padding: 20px; }
.standard_tile select {
    width: 78%;
    height: 20px;
    padding: 0;
    padding-left: 5px;
    margin-top: 5px;
    font-family: Audiowide;
    background-color: #000;
    color: #fff;
    border: 1px solid #008b8b;
}

#small_select {
    width: 50px;
    height: 25px;
}

#medium_select {
    width: 185px;
    height: 25px;
    margin-top: 0;
}

#medium_select2 {
    width: 140px;
    height: 25px;
    margin-top: 0;
}

#other { border-right: 1px solid #007878; }
.centered_fieldset {
    margin: auto;
    text-align: center;
}

#file-upload{
    display: none;
}

.file_upload {
    width: 80px;
    height: 25px;
    font-size: 10pt;
    color: #fff;
    cursor: pointer;
    background: #122323;
    border: 0;
    border-bottom: 3px solid #122323;
    border-left: 1px solid #122323;
    padding: 3px 10px; 
}

.file_upload:hover {
    color: #fff;
    background: #006f6f;
    border-bottom: 3px solid #122323;
}

.selected{
    font-weight:bold;
}

//*------------------------------------------------------------
//Standard table settings
//-------------------------------------------------------------*/
#column_left_cpanel {
    float: left;
    width: 20%;
    margin-right: 1%;
}

#column_center_cpanel {
    float: left;
    width: 58%;
}

#column_right_cpanel {
    float: right;
    width: 20%;
    margin-left: 1%;
}

.standard_table_list {
    width: 100%;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    background-color: #00d3d3;
    border: solid 1px #000;
    border-spacing: 0;
}

.standard_table_list  li {
    font-size: 10pt;
    font-weight: 100;
    color: #fff;
    text-align: center;
    list-style-type: none;
}

.standard_table_list th {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    margin: 0;
    background-color: #006f6f;
    border-collapse: collapse;
    border-bottom: solid 1px #000;
}

.standard_table_list tr:nth-child(even) { background-color: #00d3d3; }
.standard_table_list tr:nth-child(odd) { background-color: #006f6f; }
.standard_table_list tr:hover { background-color: #294f4f; }
.standard_table_list td {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    margin: 0;
    border-bottom: solid 1px #000;
}

.standard_table_center {
    font-size: 10pt;
    font-weight: 100;
    color: #fff;
    text-align: center;
}

.standard_table_left {
    padding-left: 2px;
    font-size: 10pt;
    font-weight: 100;
    color: #fff;
    text-align: left;
}

.standard_table_right {
    padding-right: 2px;
    font-size: 10pt;
    font-weight: 100;
    color: #fff;
    text-align: right;
}

.standard_table_center img { display: inline; }
.topbutton_cpanel_small {
    width: 80px;
    height: 25px;
    font-size: 10pt;
    color: #fff;
    cursor: pointer;
    background: #122323;
    border: 0;
    border-bottom: 3px solid #122323;
    border-left: 1px solid #122323;
}

.topbutton_cpanel_small:hover {
    color: #fff;
    background: #006f6f;
    border-bottom: 3px solid #122323;
}

.topbutton_cpanel {
    @extend .topbutton_cpanel_small;
    width: 120px;
}

.topbutton_cpanel:hover { @extend .topbutton_cpanel_small:hover; }
fieldset {
    padding: 8px;
    font-size: 11pt;
    background: $bg-color;
    border: solid 1px #000;
}

legend {
    padding: 1px 10px;
    color: #fff;
    background: #006f6f;
    border: #000 solid 1px;
}

//*------------------------------------------------------------
//The CSS for the help tips
//-------------------------------------------------------------*/
.help-tip {
    float: right;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    cursor: default;
    background-color: #000;
    border: #00d3d3 solid 1px;
    border-radius: 50%;
}

#help-tip2 {
    width: 10px;
    height: 10px;
    font-size: 10px;
    line-height: 10px;
    display: inline;
}

.help-tip::before {
    font-weight: bold;
    color: #fff;
    content: '?';
}

#help-tip2::before {
    content: '-';
}

.help-tip:hover p {
    display: block;
    transform-origin: 100% 0;
    animation: fadeIn .3s ease-in-out;
}

.help-tip p {
    position: relative;
    right: 290px;
    //* The tooltip */
    display: none;
    width: 300px;
    padding: 5px;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    background-color: #000;
    color: #fff;
    border: #00d3d3 solid 1px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}

#help-tip2 p { 
    right: 200px;
    width: 200px;
    }

// I am removing the pointer as the alignment of the text box changes from '?' to '?' - this is done the be compliant with a resolution of 320 width.
// Test it for yourself to see what I mean
// .help-tip p::before {
// The pointer of the tooltip
//  position: absolute;
//  content: '';
//  width: 0;
//  height: 0;
//  border: 6px solid transparent;
//  border-bottom-color: #1E2021;
//  right: 10px;
//  top: -12px;
//}

.help-tip p::after {
    position: absolute;
    top: -40px;
    left: 0;
    //* Prevents the tooltip from being hidden */
    width: 100%;
    height: 40px;
    content: '';
}

//* CSS animation */
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(.6);
    }

    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 100%; }
}
