//*************************************************************/
//**********************LEGACY SKIN****************************/
//*************************************************************/

//*************************************************************/
//*********************** Lists *******************************/
//*************************************************************/

.primary_list {
    background-color: $primary_base_color;
    color: $primary_text_color;
    font-size: 11pt;
}

.secondary_list {
    background-color: $secondary_base_color;
    color: $secondary_text_color;
    font-size: 11pt;
}

.secondary_list_odd {
    background-color: $secondary_odd_color;
    color: $secondary_text_color;
    font-size: 11pt;
}
