//**************************************************************/
//**************************LEGACY SKIN*************************/
//**************************************************************/
//**************************************************************/
//***This is the css code for the game pages of the main site***/
//**************************************************************/


//****************Games main search page************************/

#games_nav {
    @extend #main_nav;
}

#games_nav_ul {
    @extend #main_nav_ul;
    .primary_button {
        padding-left: 13px;
        padding-right: 13px;
    }
}

.games_main_text_site {
    display: table-cell;
    width: 25%;
    font-weight: bold;
}

.games_main_row_site {
    display: table;
    width: 75%;
    margin: auto;
}

.games_main_text_short {
    display: table-cell;
    width: 10%;
    font-weight: bold;
}

.games_main_input_site {
    display: table-cell;
    width: 65%;
}

.games_main_input_site_text {
    display: table-cell;
    width: 65%;
}

.games_main_container {
    display: flex;
    width: 75%;
    margin-left: 13%;
}

#child_1_games,
#child_2_games {
    width: 47.5%;
    border-top: 1px solid #00d3d3;
    border-bottom: 1px solid #00d3d3;
}

#child_1_games {
    border-left: 1px solid #00d3d3;
}
#child_2_games {
    border-right: 1px solid #00d3d3;
}

#child_3_games {
    width: 5%;
    border-top: 1px solid #00d3d3;
    border-bottom: 1px solid #00d3d3;
}

.games_main_text_check {
    width: 80%;
    display: table-cell;
}
.games_main_input_check {
    width: 10%;
    display: table-cell;
}


//****************Games main list page************************/

.games_tabulator_list {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#games_main_list_4,
#games_main_list_3,
#games_main_list_2 {
    display: none;
}

.games_main_list_title {
    @extend .standard_tile_subtext;
    text-align: center;
}

.game_main_list_screenshot_img {
    @extend .game_screenshot_img;
    display: inline;
    opacity: 0;
    max-width: 200px;
}

.game_main_list_screenshot_img:not(.initial) {
    transition: opacity 1s;
}
.game_main_list_screenshot_img.initial,
.game_main_list_screenshot_img.loaded,
.game_main_list_screenshot_img.error {
    opacity: 1;
}

.game_main_list_screenshot_img:not([src]) {
    visibility: hidden;
}

.games_main_list_info {
    @extend .standard_tile_subtext;
    text-align: center;
    color: #ffffff;
}

.games_main_list_info a {
    color: #ffffff;
}

.games_main_input_list_text {
    display: table-cell;
    width: 65%;
}

//****************Games detail page************************/

#column_left_games_details {
    float: left;
    width: 24.75%;
    margin-right: 1%;
}

#column_center_games_details {
    float: left;
    width: 48.5%;
}

#column_right_games_details {
    float: right;
    width: 24.75%;
    margin-left: 1%;
}

.games_details_img {
    display: inline;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    max-height: 100px;
    border: 1px solid #666666;
    background: #000000;
    padding: 5px;
}

.games_main_detail_info_right {
    color: #bcbdbd;
    margin-left: 20px;
    font-size: 1em;
}

.games_main_detail_info_left {
    color: #ffffff;
    font-size: 1em;
}

.games_main_detail_screenshot {
    position: relative;
    margin: 10px auto;
    top: 0;
    left: 0;
    width: 960px;
    height: 480px;
    overflow: hidden;
    visibility: hidden;
}

.games_main_detail_slides {
    cursor: default;
    position: relative;
    top: 10px;
    left: 240px;
    width: 690px;
    height: 431px;
    overflow: hidden;
    border: 1px solid #008b8b;
    image-rendering: pixelated;
}

.games_main_detail_thumbs {
    position: absolute;
    left: 10px;
    top: 0;
    width: 200px;
    height: 480px;
}

.games_main_detail_thumbs .p {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
}
.games_main_detail_thumbs .t {
    position: absolute;
    top: 0;
    left: 1px;
    width: 97%;
    height: 97%;
    border: 1px solid #ffffff;
    opacity: .55;
}
.games_main_detail_thumbs .p:hover .t {
    opacity: .8;
}
.games_main_detail_thumbs .pav .t,
.games_main_detail_thumbs .pdn .t,
.games_main_detail_thumbs .p:hover.pdn .t {
    opacity: 1;
}

.games_main_detail_nav {
    position: absolute;
    bottom: 12px;
    right: 25px;
}

.games_main_detail_nav .i {
    position: absolute;
    cursor: pointer;
    width: 16px;
    height: 16px;
}
.games_main_detail_nav .i .b {
    fill: #ffffff;
    fill-opacity: .3;
    stroke: #ffffff;
    stroke-width: 400;
    stroke-miterlimit: 10;
    stroke-opacity: .7;
}
.games_main_detail_nav .i:hover .b {
    fill-opacity: .7;
}
.games_main_detail_nav .iav .b {
    fill-opacity: 1;
}
.games_main_detail_nav .i.idn {
    opacity: .3;
}

.games_main_detail_arrow {
    display: block;
    position: absolute;
    cursor: pointer;
    width: 55px;
    height: 55px;
    top: 0;
}
.games_main_detail_arrow .a {
    fill: none;
    stroke: #ffffff;
    stroke-width: 360;
    stroke-miterlimit: 10;
}
.games_main_detail_arrow:hover {
    opacity: .8;
}
.games_main_detail_arrow.games_main_detail_arrowdn {
    opacity: .5;
}
.games_main_detail_arrow.games_main_detail_arrowds {
    opacity: .3;
    pointer-events: none;
}

#games_main_detail_arrow_left {
    left: 240px;
}
#games_main_detail_arrow_right {
    right: 30px;
}

.games_main_detail_box {
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 480px;
    height: 670px;
    overflow: hidden;
    visibility: hidden;
}

.games_main_detail_slides_box {
    cursor: default;
    position: relative;
    top: 0;
    width: 450px;
    height: 500px;
    left: 15px;
    overflow: hidden;
    margin-top: 20px;
}

.games_main_detail_box_img {
    border: 1px solid #008b8b;
}

#games_main_detail_arrow_left_box {
    left: 45px;
}
#games_main_detail_arrow_right_box {
    right: 45px;
}

.games_main_detail_thumbs_box {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 450px;
    height: 100px;
    top: 545px;
    border: 1px solid #666666;
    background-color: #000000;
    overflow: hidden;
}

.games_main_detail_thumbs_box .p {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
}
.games_main_detail_thumbs_box .t {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    opacity: .45;
}
.games_main_detail_thumbs_box .p:hover .t {
    opacity: .8;
}
.games_main_detail_thumbs_box .pav .t,
.games_main_detail_thumbs_box .pdn .t,
.games_main_detail_thumbs_box .p:hover.pdn .t {
    opacity: 1;
}

.games_main_detail_comments_log_on {
    @extend .latest_comments_text;
    text-align: center;
    color: #ff0000;
    float: none;
}

.games_main_detail_comments_container {
    max-height: 500px;
    overflow: auto;
    width: 100%;
}

#games_main_details_facts_text{
    @extend .latest_comments_text;
    a {
        text-decoration: none;
        color: #00d3d3;
    }
    a:hover {
        text-decoration: none;
        color: #fff;
    }
    a:visited {
        text-decoration: none;
        color: #00d3d3;
    }
}

//scrollbar CHROME and SAFARI
.games_main_detail_comments_container::-webkit-scrollbar {
    width: 1em;
}

.games_main_detail_comments_container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0 , 0 , .3);
}

.games_main_detail_comments_container::-webkit-scrollbar-thumb {
    background-color: #008b8b;
    outline: 1px solid #708090;
}

//scrollbar IE
.games_main_detail_comments_container {
    scrollbar-3dlight-color: #008b8b;
    scrollbar-arrow-color: #008b8b;
    scrollbar-base-color: #008b8b;
    scrollbar-darkshadow-color: #008b8b;
    scrollbar-face-color: #008b8b;
    scrollbar-highlight-color: #122323;
    scrollbar-shadow-color: #008b8b;
}

.game_details_review_preview_text {
    @extend .standard_list_entry_news_text;
    height: 120px;
    display: block;
    margin-bottom: 10px;
}

.games_main_details_submisions_position_medium {
    display: none;
}
.games_main_details_info_position_low {
    display: none;
}

//*****Games Reviews*********/

.games_detail_review_container {
    display: flex;
    display: table;
    width: 100%;
    align-items: flex-start;
}

#games_detail_review_text {
    display: table-cell;
    width: 75%;
    vertical-align: top;
    color: #ffffff;
    font-size: 11pt;
    text-align: left;
}

#games_detail_review_screenshots {
    display: table-cell;
    width: 20%;
    text-align: center;
}

.games_detail_review_screenshot_order {
    width: 170px;
    margin: auto;
    font-size: 9pt;
    background-color: #122323;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 8px;
    padding-right: 8px;
}

#games_detail_review_bg {
    background-color: #0d2e2e;
}

.games_detail_review_screenshot_space {
    display: none;
}

.standard_tile_subtext_reviews {
    @extend .standard_tile_subtext;
    font-size: 1em;
}
