//*************************************************************/
//**********************LEGACY SKIN***************************/
//*************************************************************/

//*----------------------------------------------------------
// media queries
//------------------------------------------------------------ */

//*----------------------------------------------------------
// Main website
//------------------------------------------------------------ */
//*----------------------------------------------------------
// Welcome tile settings --> frontpage
//------------------------------------------------------------ */
@media screen and (max-width: 360px) {
    #file_upload_game_screenshots,
    #file_upload_game_detail,
    #file_upload_game_music {
        width: 50%;
    }
}


@media screen and (max-width: 399px) {
    #quick_search_options, #quick_search_user_options {
        width: 75%;
        margin-left: 15%;
    }
}

@media screen and (max-width: 400px) {
    .menu_list_crew_th, .menu_list_crew_td {
        display: none;
    }

}
@media screen and (max-width: 450px) {
    #download-json,
    #games_main_list_4,
    #games_main_list_3,
    #games_main_list_2,
    #games_main_list_1,
    .joindate_th,
    .joindate_td,
    .log_subsection_th,
    .log_date_th,
    .log_subsection_td,
    .log_date_td,
    .menu_cred_th,
    .menu_cred_td {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .whoisit_position_front {
        margin-top: 20px;
    }
    #download_details_row {
        width: 100%;
    }
    #download_details_text,
    #download_details_input,
    .games_main_text,
    .games_main_input {
        display: inline;
    }
    .interviews_main_photo,
    #news_approve_icon {
        display: none;
    }
    .games_main_row {
        width: 50%;
        margin-left: 10%;
    }
    .links_addnew_text {
        width: 100%;
        display: block;
    }
    .links_addnew_input {
        width: 100%;
        display: block;
    }
    .links_addnew_row {
        width: 100%;
    }
    #child_some_stats, #child_good_karma_chart, #child_bad_karma_chart, #child_good_karma, #child_bar, #child_line, #child_bad_karma {
        width: 100%;
        float: left;
    }
    .good_karma_chart, .bad_karma_chart {
        width: 100%;
        height: 100%;
    }
    .user_details_text {
        width: 50%;
        display: inline;
    }
    .user_details_input {
        width: 50%;
        display: inline;
    }
    .user_details_row {
        width: 100%;
    }
    .user_details_input_small {
        width: 90%;
    }
    #child_1_user {
        margin-bottom: 5px;
    }
    #file_upload_user_detail {
        width: 55%;
    }
}

@media screen and (min-width: 499px) {
    #linkcat_small {
        display: none;
    }
}
@media screen and (max-width: 500px) {
    .user_main_container {
        flex-direction: column;
    }

    #user_main_child_3 {
        margin-top: 5px;
    }
    .menu_list_ind_th,
    .menu_list_ind_td,
    .menu_crew_th,
    .menu_crew_td,
    .td_db_result,
    .th_db_result,
    .th_db_state,
    .td_db_state,
    .td_db_id,
    .th_db_id,
    .th_db_exe,
    .td_db_exe,
    .nrreviews_gr_th,
    .nrreviews_gr_td,
    #linkcat_wide {
        display: none;
    }
    .menu_disk_set_th, .menu_disk_set_td {
        text-align: center;
    }
    .gc_center_head {
        width: 65%;
    }
    .gc_right_head {
        width: 35%;
    }
    .links_list_row {
        flex-direction: column;
    }
}

@media screen and (max-width: 525px) {
    .log_subsection_th,
    .log_subsection_td {
        display: none;
    }
}
@media screen and (max-width: 550px) {
    .links_mod_text {
        width: 100%;
        display: block;
    }
    .links_mod_input {
        width: 100%;
        display: block;
    }
    .links_mod_row {
        width: 100%;
        margin-bottom: 10px;
    }
    #website_name, #website_url {
        width: 62%;
    }
    #website_category_select {
        width: 63.7%;
    }
    .links_mod_container {
        margin-left: 3.5%;
    }
    .games_main_text {
        width: 35%;
    }
    .games_main_input {
        width: 65%;
    }
    .zaks_gm_th,
    .zaks_gm_td {
        display: none;
    }
    .tech_doc_img {
        width: 90%;
    }
    .menu_state_th,
    .menu_state_td,
    .menu_gamedev_th,
    .menu_gamedev_td {
        display: none;
    }
}
@media screen and (max-width: 599px) {
    #quick_search_options, #quick_search_user_options {
        margin-left: 30%;
    }
}
@media screen and (max-width: 599px) {
    .scroll-top-wrapper {
        width: 40px;
        height: 38px;
        line-height: 36px;
        right: 10px;
        bottom: 10px;
    }
}
//*This stuff is a 'solution' for all the problems I'm having regarding responsiveness in IE!! */
@media screen and (max-width: 600px) {
    .download_long_descr,
    .td_db_result,
    .th_db_result,
    .th_db_state,
    .td_db_state,
    .td_db_id,
    .th_db_id,
    .nr_menus_th,
    .menu_type_th,
    .nr_menus_td,
    .menu_type_td,
    .news_images_name,
    .username_gr_th,
    .username_gr_td,
    .pub_td,
    .pub_th,
    #user_stats_img_dark,
    .lastvisit_th,
    .lastvisit_td,
    .game_details_review_preview_left,
    .games_main_text_short,
    #child_3_games {
        display: none;
    }
    .download_short_descr {
        display: inline;
    }
    .news_images_container {
        text-align: center;
    }
    #gd_basic_game_info_category {
        width: 100%;
        float: left;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 5%;
    }

    #gd_other_features_left {
        float: left;
        width: 100%;
        margin-bottom: 20px;
    }

    #gd_game_aka {
        margin-bottom: 20px;
    }
    #gd_other_features_right {
        float: right;
        width: 100%;
    }

    #gd_left {
        float: left;
        width: 100%;
    }

    #gd_right {
        float: right;
        width: 100%;
    }

    #gd_center {
        float: right;
        width: 100%;
    }

    #gd_publisher_info {
        margin-top: 0;
    }

    #gd_text_area_big {
        height: 100%;
    }
    .game_th, .game_td {
        text-align: center;
    }
    .games_main_text_site {
        display: inline;
        width: 100%;
    }
    .games_main_input_site, .games_main_input_site_text, .games_main_input_list_text {
        display: inline;
        width: 100%;
        margin-bottom: 5px;
    }
    .games_main_row_site {
        width: 90%;
    }
    .standard_tile_input_small_site, #games_main_select_site {
        margin-bottom: 10px;
    }
    .games_main_container {
        flex-direction: column;
        margin-left: 10%;
    }
    #child_1_games, #child_2_games, #child_3_games {
        width: 100%;
    }
    #child_1_games {
        border-right: 1px solid #00d3d3;
        border-bottom: 0;
    }

    #child_2_games {
        border-left: 1px solid #00d3d3;
        border-top: 0;
    }
}


//* 1 tile and a simplified intro screen */
@media screen and (max-width: 639px) {
    #welcome {
        visibility: hidden;
    }
    .logon {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .register {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .latest_news {
        margin-top: 20px;
    }
    .datequote_position_front {
    }
    .column_left,
    .column_right_tab,
    .column_left_tab,
    .column_wide_right,
    .column_wide_left {
        display: none;
    }
    .column_center {
        width: 100%;
        margin-left: 0;
    }
    .column_right {
        width: 100%;
    }
}
@media screen and (max-width: 640px) {
    .user_stats_img_dark,
    .gc_left_head,
    .gc_left {
        display: none;
    }
}
@media screen and (max-width: 650px) {
    #interview_preview_photo {
        display: none;
    }
}
@media screen and (max-width: 670px) {
    #games_main_list_4, #games_main_list_3, #games_main_list_1 {
        display: none;
    }
    #games_main_list_2 {
        display: inline;
    }
}

@media screen and (max-width: 700px) {
    .menu_gameyear_th,
    .menu_gameinfo_th,
    .menu_gameset_th,
    .menu_gameyear_td,
    .menu_gameinfo_td,
    .menu_gameset_td,
    .menu_docinfo_td,
    .menu_docinfo_th {
        display: none;
    }
}
@media screen and (max-width: 725px) {
    .log_name_th, .log_name_td {
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    .cd-timeline-content h2 {
        font-size: 20px;
        font-size: 1.25rem;
    }
    .cd-timeline-content p {
        font-size: 16px;
        font-size: 1rem;
    }
    .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
        font-size: 14px;
        font-size: .875rem;
    }
}
@media screen and (max-width: 799px) {
    #games_main_list_4, #games_main_list_2, #games_main_list_1 {
        display: none;
    }
    #games_main_list_3 {
        display: inline;
    }
    .main_container_games_details {
        display: flex;
        flex-direction: column-reverse;
        float: left;
        width: 100%;
    }

    #column_left_games_details {
        width: 100%;
        float: left;
        margin: auto;
        order: 2;
    }
    #column_center_games_details {
        width: 100%;
        float: left;
        margin: auto;
        order: 3;
    }
    #column_right_games_details {
        width: 100%;
        float: right;
        margin: auto;
        order: 1;
    }

    .main_container_games_details > div {
        width: 100%;
    }

    .content_box_games_details {
        display: block;
        margin: 0 auto;
    }

    .games_main_detail_nav {
        display: none;
    }

    .games_main_details_info_position_low {
        display: inline;
    }
    .games_main_details_info_position_high {
        display: none;
    }
    #column_left_interviews_details {
        width: 100%;
        float: left;
        margin: auto;
        order: 3;
    }
    #column_center_interviews_details {
        width: 100%;
        float: left;
        margin: auto;
        order: 2;
    }
    #column_right_interviews_details {
        width: 100%;
        float: right;
        margin: auto;
        order: 1;
    }
    #column_left_reviews_details {
        width: 100%;
        float: left;
        margin: auto;
        order: 2;
    }
    #column_center_reviews_details {
        width: 100%;
        float: left;
        margin: auto;
        order: 3;
    }
    #column_right_reviews_details {
        width: 100%;
        float: right;
        margin: auto;
        order: 1;
    }
    #main_stats_position_front {
        width: 100%;
        float: left;
    }

    #left_nav_position_front {
        width: 100%;
        float: left;
    }
    #quick_search_options, #quick_search_user_options {
        display: table;
        width: 50%;
        margin-left: 40%;
        margin-right: auto;
        text-align: left;
    }
    .main_container_cpanel {
        display: flex;
        flex-direction: column-reverse;
        float: left;
        width: 100%;
    }
    #column_left_cpanel {
        width: 100%;
        float: left;
        margin: auto;
    }
    #column_center_cpanel {
        width: 100%;
        float: left;
        margin: auto;
    }
    #column_right_cpanel {
        width: 100%;
        float: right;
        margin: auto;
    }
    .main_container_cpanel > div {
        width: 100%;
    }
    .content_box_cpanel {
        display: block;
        margin: 0 auto;
    }
}
@media screen and (min-width: 801px) {
    .column_right_tab,
    .column_left_tab,
    .column_phone {
        display: none;
    }
}
@media screen and (max-width: 900px) {
    .news_date {
        display: inline;
    }
    .news_right_head,
    .td_db_result,
    .th_db_result,
    .th_db_state,
    .td_db_state {
        display: none;
    }
    .news_left_head {
        width: 100%;
    }
}

@media screen and (max-width: 949px) {
    #games_main_list_4, #games_main_list_3, #games_main_list_1 {
        display: none;
    }
    #games_main_list_2 {
        display: inline;
    }
}

@media screen and (max-width: 985px) {
    .dev_td, .dev_th {
        display: none;
    }
}

@media screen and (max-width: 999px) {
    .games_detail_review_container {
        flex-direction: column;
    }
    #games_detail_review_screenshots, #games_detail_review_text {
        width: 100%;
        float: left;
    }
    .games_detail_review_container > div {
        width: 100%;
    }
    .games_detail_review_child {
        display: block;
        margin: 0 auto;
    }
    .games_detail_review_screenshot_order {
        display: inline-block;
        vertical-align: top;
    }
    .games_detail_review_screenshot_space {
        display: inline;
    }
    #games_detail_review_screenshots {
        background-color: #122323;
    }
}

@media screen and (max-width: 1000px) {
    .standard_tile_input_small_site {
        width: 97.7%;
    }
    .pub_gm_th, .pub_gm_td {
        display: none;
    }
}
@media screen and (max-width: 1049px) {
    .games_main_input_site_text {
        width: 50%;
    }
}
@media screen and (max-width: 1050px) {
    .user_details_container,
    .game_upload_container {
        flex-direction: column;
    }
    .user_details_input_small {
        width: 75%;
    }
    #child_1_user,
    #child_2_user {
        margin-left: 4%;
    }
    #child_1_user {
        margin-bottom: 5px;
    }
    .menu_individual_th,
    .menu_individual_td {
        display: none;
    }
    .games_check_container {
        flex-direction: column;
        width: 100%;
    }
    #child_1,
    #child_2 {
        width: 100%;
        margin-left: 10%;
    }
    .games_main_row {
        width: 90%;
    }
    .games_main_text {
        width: 40%;
    }
    .games_main_input {
        width: 60%;
    }
}

@media screen and (max-width: 1099px) {
    #quick_search_options, #quick_search_user_options {
        margin-left: 5%;
        width: 100%;
    }
}
@media screen and (max-width: 1100px) {
    .reviewdate_gr_th, .reviewdate_gr_td {
        display: none;
    }
}
@media screen and (max-width: 1150px) {
    .email_th,
    .email_td,
    .website_th,
    .website_td {
        display: none;
    }
}

@media only screen and (max-width: 1169px) {
    .fa-birthday-cake {
        margin-left: 10%;
        margin-top: 5%;
    }
    .cd-timeline-content .cd-date {
        text-align: center;
        display: block;
        float: none;
    }
    .cd-icon {
        margin-top: 3px;
    }
    .cd-icon2 {
        margin-top: 8px;
    }
}
@media only screen and (min-width: 1170px) {
    #cd-timeline {
        margin-top: 3em;
        margin-bottom: 3em;
    }
    #cd-timeline::before {
        left: 50%;
        margin-left: -2px;
    }
    .cd-timeline-block {
        margin: 4em 0;
    }
    .cd-timeline-block:first-child {
        margin-top: 0;
    }
    .cd-timeline-block:last-child {
        margin-bottom: 0;
    }
    //* inverse bounce effect on even content blocks */
    .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
        animation: cd-bounce-2-inverse .6s;
    }
    .cd-timeline-content {
        margin-left: 0;
        width: 37%;
    }
    .cd-timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: #ffffff;
    }
    .cd-timeline-content .cd-read-more {
        float: left;
    }
    .cd-timeline-content .cd-date {
        position: absolute;
        width: 100%;
        left: 140%;
        top: 6px;
        font-size: 16px;
        font-size: 1rem;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: #ffffff;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 140%;
        text-align: right;
    }
    .cssanimations .cd-timeline-content.is-hidden {
        visibility: hidden;
    }
    .cssanimations .cd-timeline-content.bounce-in {
        visibility: visible;
        animation: cd-bounce-2 .6s;
    }
    .cd-timeline-img {
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;
        //* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
    .cssanimations .cd-timeline-img.is-hidden {
        visibility: hidden;
    }
    .cssanimations .cd-timeline-img.bounce-in {
        visibility: visible;
        animation: cd-bounce-1 .6s;
    }
}

@media screen and (max-width: 1199px) {
    .main_stats_container {
        flex-direction: column-reverse;
    }
    #child_some_stats,
    #child_good_karma_chart,
    #child_bad_karma_chart,
    #child_good_karma,
    #child_bar,
    #child_line,
    #child_bad_karma {
        width: 75%;
        float: left;
    }
    #child_good_karma,
    #child_bar,
    #child_line,
    #child_good_karma_chart,
    #child_bad_karma_chart,
    #child_bad_karma {
        margin-top: 20px;
    }
    .main_stats_container > div {
        width: 100%;
    }
    .main_stats_child {
        display: block;
        margin: 0 auto;
    }
    .review_container {
        flex-direction: column;
    }
    #review_screenshots, #review_text {
        width: 100%;
        float: left;
    }
    .review_container > div {
        width: 100%;
    }
    .review_screenshot_order {
        display: inline-block;
        vertical-align: top;
    }
    .interview_preview_screenshot_order {
        display: inline-block;
        vertical-align: top;
    }
    #review_screenshots {
        background: #006f6f;
    }
}
@media screen and (max-width: 1200px) {
    .log_sub_name_th, .log_subname_td {
        display: none;
    }
}

@media screen and (max-width: 1210px) {
    .info_td, .year_td, .info_th, .year_th {
        display: none;
    }
}

@media screen and (max-width: 1279px) {
    #welcome {
        margin-top: 0;
    }
    .td_db_result,
    .th_db_result,
    #gd_other_features {
        display: none;
    }
    #gd_basic_game_info {
        width: 100%;
        margin-bottom: 20px;
    }
    #gd_other_features_left {
        float: left;
        width: 49%;
    }
    #gd_other_features_right {
        float: right;
        width: 49%;
    }
    #gd_left {
        float: left;
        width: 49%;
    }
    #gd_right {
        float: right;
        width: 49%;
    }
    #gd_center {
        float: right;
        width: 49%;
    }
    #gd_back {
        margin-top: 20px;
    }
    #gd_publisher_info {
        margin-top: 20px;
    }
}

@media screen and (min-width: 1280px) {
    .whoisit_position_front {
        float: right;
        margin-top: 20px;
    }
    #gd_other_features_left {
        display: none;
    }
    #gd_other_features_right {
        display: none;
    }
    body {
        background-image: url('../images/top_bg_menu.png'), url('../images/top_bg_sides.jpg');
        background-position: left 225px, left top;
        background-repeat: repeat-x, repeat-x;
    }
}

@media screen and (max-width: 1280px) {
    #column_left_games_details {
        float: left;
        width: 40%;
    }

    #column_center_games_details {
        float: right;
        width: 58%;
    }

    #column_right_games_details {
        float: right;
        width: 58%;
    }
    #column_left_interviews_details {
        float: left;
        width: 40%;
    }

    #column_center_interviews_details {
        float: right;
        width: 58%;
    }

    #column_right_interviews_details {
        float: left;
        width: 40%;
        margin-left: 0;
    }
    #column_left_reviews_details {
        float: left;
        width: 40%;
    }

    #column_center_reviews_details {
        float: right;
        width: 58%;
    }

    #column_right_reviews_details {
        float: left;
        width: 40%;
        margin-left: 0;
    }
    #child_1_user, #child_2_user {
        width: 100%;
    }
    #gu_child_1, #gu_child_2 {
        width: 100%;
    }
    #column_left_cpanel {
        width: 25%;
        float: left;
    }

    #column_center_cpanel {
        width: 73%;
        float: right;
    }

    #column_right_cpanel {
        display: none;
    }
}
@media screen and (max-width: 1449px) {
    .good_karma_chart, .bad_karma_chart, .bar_changelog, .line_changelog {
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 1450px) {
    .standard_tile_input_small_site {
        width: 98.3%;
    }
    .year_gm_th, .year_gm_td {
        display: none;
    }
}
@media screen and (min-width: 1450px) {
    .good_karma_chart, .bad_karma_chart {
        width: 400px;
        height: 425px;
    }

    .bar_changelog, .line_changelog {
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 1494px) {
    .datequote_position_front {
        float: right;
    }
    .tile_open_db_front {
        float: right;
    }
    .screenstar_position_front {
        margin-top: 0;
    }
}

@media screen and (min-width: 1495px) {
    .latest_news {
        float: left;
        width: 48%;
    }
    .screenstar_position_front {
        width: 94%;
    }
    .datequote_position_front {
        float: left;
        width: 94%;
    }
    .tile_open_db_front {
        float: left;
        width: 94%;
    }
    .latest_reviews {
        width: 49%;
        float: right;
    }
    .didyouknow_position_front {
        float: left;
        width: 100%;
    }
    .statistics_position_front {
        float: left;
        width: 100%;
    }
    .social_corner_position_front {
        float: left;
        width: 94%;
    }
    .spotlight_position_front {
        float: left;
        width: 100%;
    }
    .hotlinks_position_front {
        width: 94%;
        float: left;
    }
    .class_position_front {
        width: 94%;
        float: left;
    }
    .contact_tiles {
        width: 49%;
        float: right;
    }
    .column_wide_left {
        width: 49%;
    }
    .column_wide_center_1920 {
        display: inline;
        width: 100%;
    }
    .column_wide_right_1920 {
        width: 24.75%;
        float: right;
        display: block;
    }
    .column_wide_left_1920 {
        width: 24.75%;
        float: left;
        display: block;
    }
    .column_wide_right,
    .column_left,
    .column_center,
    .column_right,
    .column_phone {
        display: none;
    }
}

@media screen and (max-width: 1549px) {
    .main_company_container {
        flex-direction: column;
    }

    #child_edit_company,
    #child_add_company {
        float: left;
        margin-bottom: 30px;
    }

    .main_company_container > div {
        width: 100%;
    }

    .main_company_child {
        display: block;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1599px) {
    #games_main_list_4, #games_main_list_2, #games_main_list_1 {
        display: none;
    }
    #games_main_list_3 {
        display: inline;
    }
}
@media screen and (max-width: 1750px) {
    .gamepub_gr_th,
    .gamepub_gr_td {
        display: none;
    }
}
@media screen and (max-width: 1919px) {
    #games_nav {
        display: none;
    }
    #games_main_space {
        display: none;
    }
}
@media screen and (min-width: 1920px) {
    body {
        background-image: url('../images/top_bg_left.jpg'), url('../images/top_bg_right.jpg'), url('../images/top_bg_menu.png');
        background-position: left 2px, right 2px, left 225px;
        background-repeat: no-repeat, no-repeat, repeat-x;
    }
}

@media screen and (min-width: 1921px) {
    body {
        background-image: url('../images/top_bg_sides.jpg'), url('../images/top_bg_menu.png'), url('../images/main_bg.png'), url('../images/main_bg.png');
        background-position: left top, left 225px, -3% 45%, 95% 125%, left top;
        background-repeat: repeat-x, repeat-x, no-repeat, no-repeat;
    }
}


//* 2 tiles and background welcome image */
@media screen and (min-width: 640px) and (max-width: 800px) {
    #welcome {
        margin-bottom: 20px;
    }
    .logon {
        margin-top: 0;
    }
    .latest_news {
        margin-top: 395px;
    }
    .column_left {
        width: 48%;
        margin-top: -395px;
    }
    .column_center {
        width: 48%;
        float: right;
    }

    .column_right {
        display: none;
    }
    .column_phone {
        display: none;
    }
    .column_left_tab {
        width: 48%;
        float: left;
    }
    .column_right_tab {
        width: 48%;
        float: right;
    }
    .column_wide_right {
        width: 48%;
        float: right;
    }
    .column_wide_left {
        width: 100%;
    }
}
//* 2 tiles and background welcome image */
@media screen and (min-width: 640px) and (max-width: 1279px) {
    .register {
        margin-top: 0;
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
    .game_details_review_preview_left {
        display: none;
    }
}
@media screen and (min-width: 800px) and (max-width: 1280px) {
    .games_main_details_submissions_position_high {
        display: none;
    }
    .games_main_details_submisions_position_medium {
        display: inline;
    }
}
@media screen and (min-width: 800px) and (max-width: 1100px) {
    .tile_arrow {
        font-size: 12pt;
    }
    .grid figure figcaption {
        font-size: 1em;
    }
}
@media screen and (min-width: 450px) and (max-width: 639px) {
    .standard_list_entry {
        height: 180px;
    }
}

//*----------------------------------------------------------
// resolutions tested!
//------------------------------------------------------------ */
//* smartphones, iPhone, portrait 480x320 phones */
//* @media screen and (max-width: 320px) {

//* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
//* @media screen and (min-width: 481px) {

//* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
//* @media screen and (min-width: 641px) {

//* tablet, landscape iPad, lo-res laptops ands desktops */
//* @media screen and (min-width: 961px) {

//* big landscape tablets, laptops, and desktops */
//* @media screen and (min-width: 1025px) {

//* hi-res laptops and desktops */
//* @media screen and (min-width: 1281px) {  */
