//*************************************************************/
//**********************LEGACY SKIN****************************/
//*************************************************************/
//*************************************************************/
//*************** Tables****************/
//*************************************************************/
//*----------------------------------------------------------
// Tables
//------------------------------------------------------------ */


.table_xs {
    th {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 3;
        padding-right: 3;
    }
    td {
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 3;
        padding-right: 3;
    }
}
.table_sm {
    th,
    td {
        padding-top: 3px;
        padding-bottom: 3px;
    }
}
.table_md {
    th,
    td {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
.table_lg {
    th,
    td {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
.table_hover {
    tbody tr:hover {
        background-color: #294f4f;
    }
}
.no_border {
    border: 0 !important;
}
//
// Table Headers
//
.table_textalign_right {
    text-align: right;
}
.table_textalign_left {
    text-align: left;
}
.table_textalign_center {
    text-align: center;
}

//
// Table cells
//
.db_result_column,
.db_state_column,
.db_id_column,
.db_description_column,
.db_exe_column {
    text-align: center;
}
.log_date_column,
.log_action_column,
.log_section_column,
.log_subsection_column,
.log_user_column,
.log_name_column,
.menu_disk_set_column,
.menu_crew_column,
.menu_individual_column,
.nr_menus_column,
.menu_type_column,
.game_gm_column,
.pub_gm_column,
.year_gm_column,
.zaks_gm_column,
.username_gr_column,
.gamepub_gr_column,
.reviewdate_gr_column,
.nrreviews_gr_column,
.gamename_gr_column,
.menu_list_crew_column,
.menu_disk_list_column,
.menu_list_individual_column,
.game_name_column,
.publisher_table_column,
.developer_table_column,
.information_table_column,
.release_year_column,
.username_column,
.joindate_column,
.lastvisit_column,
.email_column {
    text-align: left;
}
.menu_docname_column,
.menu_doctype_column,
.menu_docinfo_column,
.menu_mark_column,
.menu_gameinfo_column,
.menu_gameset_column,
.menu_gamename_column,
.menu_gamedeveloper_column,
.menu_gameyear_column,
.menu_credits_column,
.menu_scene_column,
.menu_delete_column {
    font-size: 10pt;
    color: #ffffff;
    text-align: left;
}

.menu_state_column,
.karma_points_tablecell,
.log_subname_column {
    text-align: right;
}
.standard_table_list {
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    background-color: #00d3d3;
    color: #ffffff;
    border: solid 1px #000000;
    border-spacing: 0;
    font-size: 10pt;
}
.standard_table_list th {
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #006f6f;
    border-collapse: collapse;
    border-bottom: solid 1px #000000;
}
.standard_table_list td {
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: solid 1px #000000;
}
.standard_table_list tr:nth-child(even) {
    background-color: #122323;
}
.standard_table_list tr:nth-child(odd) {
    background-color: #0d2e2e;
}
.secondary_table_list {
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    background-color: #00d3d3;
    font-size: 10pt;
    color: #ffffff;
    border: solid 1px #000000;
    border-spacing: 0;
}
.secondary_table_list th {
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #006f6f;
    border-collapse: collapse;
    border-bottom: solid 1px #000000;
}
.secondary_table_list td {
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: solid 1px #000000;
}

.secondary_table_list tr:nth-child(even) {
    background-color: #00d3d3;
}
.secondary_table_list tr:nth-child(odd) {
    background-color: #006f6f;
}

.standard_table_center {
    font-size: 10pt;
    font-weight: 100;
    color: #ffffff;
    text-align: center;
}

.standard_table_center img {
    display: inline;
}
#menu_list_table {
    background-color: #294f4f;
}
#menu_list_table tr:nth-child(even) {
    background-color: #294f4f;
}
#menu_list_table tr:nth-child(odd) {
    background-color: #006f6f;
}

//*----------------------------------------------------------
//Games comment
//------------------------------------------------------------ */
.gc_table_list {
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    background-color: #00d3d3;
    border: solid 1px #000000;
    border-spacing: 0;
}
.gc_table_list tr:nth-child(even) {
    background-color: #00d3d3;
}
.gc_table_list tr:nth-child(odd) {
    background-color: #006f6f;
}
.gc_table_list td {
    padding: 5px;
    margin: 0;
    border-bottom: solid 1px #000000;
}
.gc_left_column,
.gc_center_column {
    font-size: 10pt;
}
.gc_right_head {
    font-size: 10pt;
    text-align: right;
}

//*----------------------------------------------------------
//Games review main
//------------------------------------------------------------ */

.links_modlist_tdline {
    padding: 5px;
    font-size: 10pt;
    color: #000000;
}

.news_left_head {
    text-align: left;
}
.news_right_head {
    text-align: right;
}
