//*************************************************************/
//**********************LEGACY SKIN****************************/
//*************************************************************/
//*----------------------------------------------------------
// SASS Variables
//------------------------------------------------------------ */
$skin_name: 'legacy';
$bg_color: #00d3d3;

$primary_base_color: #122323;
$primary_odd_color: #0d2e2e;
$primary_text_color: #ffffff;

$secondary_base_color: #006f6f;
$secondary_odd_color: #00d3d3;
$secondary_text_color: #ffffff;

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: (
    5: 5%,
    10: 10%,
    15: 15%,
    20: 20%,
    25: 25%,
    30: 30%,
    35: 35%,
    40: 40%,
    45: 45%,
    50: 50%,
    55: 55%,
    60: 60%,
    65: 65%,
    70: 70%,
    75: 75%,
    80: 80%,
    85: 85%,
    90: 90%,
    95: 95%,
    100: 100%
) !default;

//----------------------------------------------------------
// Normalization script
//------------------------------------------------------------
@import '../../common/main_scss/normalize/import-now';      // --> Normalize script

//*----------------------------------------------------------
// General settings
//------------------------------------------------------------ */
@import '../../1/scss/variables';                             //* --> Borrow from Bootstrap */
@import '../../common/main_scss/bootstrap/bootstrap';                      //* --> Borrow from Bootstrap */
@import '../../1/scss/general';                             //* --> general skin specific css settings */
@import '../../1/scss/form_components';                             //* --> general skin specific css settings */
@import '../../1/scss/tables';                             //* --> general skin specific css settings */
@import '../../1/scss/list';                             //* --> general skin specific css settings */

//*----------------------------------------------------------
// Top
//------------------------------------------------------------ */
@import '../../common/main_scss/top';                       //* --> TOP background & graphics */
@import '../../common/main_scss/top_animation';             //* --> TOP animation */
@import '../../common/main_scss/menu';                      //* --> TOP and SIDE MENU */

//*----------------------------------------------------------
// Tabulator
//------------------------------------------------------------ */
@import '../../common/main_scss/tabulator';                 //* --> the excel style tabulator */

//*----------------------------------------------------------
// Tiles
//------------------------------------------------------------ */
@import '../../common/main_scss/tiles';                     //* --> Tiles */

//*----------------------------------------------------------
// UI Widgets
//------------------------------------------------------------ */
@import '../../common/main_scss/ui.widgets';                //* --> Widgets */

//*----------------------------------------------------------
// Main website
//------------------------------------------------------------ */
@import '../../1/scss/main-front';                          //* --> Front page */
@import '../../1/scss/main-games';                          //* --> The game pages */
@import '../../1/scss/main-interviews';                     //* --> The interview pages */
@import '../../1/scss/main-news';                           //* --> The news pages */
@import '../../1/scss/main-reviews';                        //* --> The news pages */
@import '../../1/scss/main-classAL';                        //* --> The Class of AL pages */

//*----------------------------------------------------------
// CPanel
//------------------------------------------------------------ */
@import '../../1/scss/cpanel-main';                         //* --> Main structure, left and right side */
@import '../../1/scss/cpanel-users';                        //* --> Users section */
@import '../../1/scss/cpanel-links';                        //* --> Links section */
@import '../../1/scss/cpanel-games';                        //* --> Games section */
@import '../../1/scss/cpanel-magazines';                    //* --> Magazine section */
@import '../../1/scss/cpanel-news';                         //* --> News section */
@import '../../1/scss/cpanel-company';                      //* --> company section */
@import '../../1/scss/cpanel-individuals';                  //* --> individuals section */
@import '../../1/scss/cpanel-interviews';                   //* --> interviews section */
@import '../../1/scss/cpanel-admin';                        //* --> admin section */
@import '../../1/scss/cpanel-menus';                        //* --> menus section */
@import '../../1/scss/cpanel-download';                     //* --> download section */


//*----------------------------------------------------------
// Media Queries Main & CPanel
//------------------------------------------------------------ */
@import '../../1/scss/mq';
