/*************************************************************/	
/**********************TOS 207 SKIN***************************/
/*************************************************************/ 

/*************************************************************/	
/*****************CPanel LINKS section css********************/
/*************************************************************/ 

/*---------------------------------------------------------- 
Links addnew
------------------------------------------------------------ */
#leftnav_position_linkaddnew{ margin-top: 20px; margin-bottom: 30px; float: left;}
#linkaddnew{ margin-top: 20px; margin-bottom: 30px; float: left;}
#linkvalidate{ margin-bottom: 30px; float: left;}
#quick_search_games_position_linkaddnew{margin-top: 20px; margin-bottom: 30px;}

.links_addnew_area { background: #666666;
				color: #ffffff;				
				width: 90%;
				height: 150px;
				margin-top:0;
				padding: 0;
				padding-left: 5px;
				border: 1px solid #b2b2b2;
				text-align: left;
}

.links_addnew_row select  { 
	background: #666666;
	border: 1px solid #b2b2b2;
	color: #ffffff;				
	margin-top:0;
	padding: 0;
	padding-left: 5px;
	width: 185px;
	height: 25px;
}

.links_addnew_text{width:25%;display:table-cell; vertical-align:top;}
.links_addnew_input{width:75%;display:table-cell;}
.links_addnew_row{display:table;width:100%;}

.links_addnew_info { font-size: 16px; color: black; padding: 5px;}

.links_addnew_link:link { color: #6a6a6a;}

.links_addnew_link:visited { color: #6a6a6a;}

.links_addnew_link:hover { color: black;}

/*---------------------------------------------------------- 
Links Modify list
------------------------------------------------------------ */
.links_modlist_tdline { font-size: 16px; color: black; padding: 5px; border-bottom: solid 1px #b2b2b2;}

.user_stats_img_dark{ box-shadow: 0 0 12px black;
					margin: 10px 5px 10px 5px;
					max-width: 100%;
					opacity: 0.8;}
										
#leftnav_position_linkmodlist {margin-top: 20px; margin-bottom: 30px; float: left;}
#quick_search_games_linkmodlist{margin-top: 20px; margin-bottom: 30px;}
#linkmodlist{ margin-top: 20px; margin-bottom: 30px; float: left;}

.links_list_text{margin-right:1%;}
.links_list_input{margin-left:1%;}

.links_list_row{
  display: flex; 
  justify-content: center;
  align-items: center;
 }

/*---------------------------------------------------------- 
Links category
------------------------------------------------------------ */
#leftnav_position_linkcat{margin-top: 20px; margin-bottom: 30px; float: left;}
#quick_search_games_position_linkcat{margin-top: 20px; margin-bottom: 30px;}
#linkcat{ margin-top: 20px; margin-bottom: 30px; float: left;}
.link_cat_td { text-align:right;}

/*---------------------------------------------------------- 
Links Modify
------------------------------------------------------------ */					
#leftnav_position_linkmod {margin-top: 20px; margin-bottom: 30px; float: left;}
#link_mod{margin-top: 20px; margin-bottom: 30px; float: left;}
#quick_search_games_position_linkmod{margin-top: 20px; margin-bottom: 30px;}

.links_mod_text{width:35%;display:table-cell; vertical-align:top;}
.links_mod_input{width:65%;display:table-cell;}
.links_mod_row{display:table;width:100%;}