/*************************************************************/	
/**********************TOS 207 SKIN***************************/
/*************************************************************/ 

/*************************************************************/	
/*****************CPanel TRIVIA section css*******************/
/*************************************************************/ 

/*---------------------------------------------------------- 
Did you know
------------------------------------------------------------ */
#leftnav_position_didyouknow{ margin-top: 20px; margin-bottom: 30px; float: left;}
#quick_search_games_position_didyouknow{ margin-top: 20px; margin-bottom: 30px; float: left;}
#didyouknow{ margin-top: 20px; margin-bottom: 30px; float: left;}

/*---------------------------------------------------------- 
Trivia Quotes
------------------------------------------------------------ */
#leftnav_position_triviaquotes{ margin-top: 20px; margin-bottom: 30px; float: left;}
#quick_search_games_position_triviaquotes{ margin-top: 20px; margin-bottom: 30px; float: left;}
#triviaquotes{ margin-top: 20px; margin-bottom: 30px; float: left;}