/*************************************************************/	
/**********************TOS 207 SKIN***************************/
/*************************************************************/ 

/*************************************************************/	
/*****************CPanel GAMES section css********************/
/*************************************************************/

/*---------------------------------------------------------- 
Games main
------------------------------------------------------------ */			
#quick_search_games_main{margin-top: 20px; margin-bottom: 30px; float: left;}
#games_main{ margin-top: 20px; margin-bottom: 30px; float: left;}
#leftnav_position_games_main{ margin-top: 20px; margin-bottom: 30px; float: left;}

.games_main_text{width:25%;display:table-cell;font-weight:bold;}
.games_main_input{width:75%;display:table-cell;}
.games_main_row{display:table;width:75%;margin-left:auto;}

.games_check_container{
  display: flex; 
  width: 50%;
  margin:auto;
 }
 
#child_1, #child_2{width:50%; margin:auto;}
.games_check_text{width:95%;display:table-cell;font-weight:bold;}
.games_check_box{width:5%;display:table-cell;}
.games_check_row{display:table;width:100%;}

#games_main_pub_select{ 
	width: 185px;
	margin-top: 0;
	height: 25px;
	background: #666666;
}

#games_main_dev_select{ 
	width: 185px;
	margin-top: 0;
	height: 25px;
	background: #666666;
}

#games_main_small_select{ 
	width: 50px;
	height: 25px;
	background: #666666;
}

/*---------------------------------------------------------- 
Games list
------------------------------------------------------------ */	
#games_list{margin-top: 20px; margin-bottom: 30px; float: left;}
#quick_search_games_list{margin-top: 20px; margin-bottom: 30px; float: left;}
#leftnav_position_games_list{margin-top: 20px; margin-bottom: 30px; float: left;}

#game_th{width:40%;text-align: left;}
#pub_th,#dev_th{width:20%;text-align: left;}
#year_th,#info_th{width:10%;text-align: left;}

.game_td {text-align: left;
		padding-left: 2px;
		width:40%;
}

.pub_td,.dev_td {text-align: left;
		padding-left: 2px;
		width:20%;
}

.info_td,.year_td {text-align: left;
		padding-left: 2px;
		width:10%;
}

#game_list_table{width: 100%;}

/*---------------------------------------------------------- 
Games detail
------------------------------------------------------------ */	
#games_detail{margin-top: 20px; margin-bottom: 30px; float: left;}
#quick_search_games_detail{margin-top: 20px; margin-bottom: 30px; float: left;}
#leftnav_position_games_detail{margin-top: 20px; margin-bottom: 30px; float: left;}

#gd_left{width: 32%; float:left;}
#gd_center { width: 32%; float:left; margin-left: 2%;}
#gd_right { width: 32%; float:right;}
#gd_development {width:100%; float:left; margin-top:20px;}
#gd_basic_game_info{width:60%; float:left;}
.gd_basic_game_info_row{display:table;width:65%;padding:2px; margin-left:5%}
.gd_basic_game_info_row_check{display:table-cell;width:3%;}
.gd_basic_game_info_row_checktxt{display:table-cell;width:45%;}
#gd_basic_game_info_category{float:right;width:40%;margin-top:-285px;}
#gd_other_features{width:38%;float:right; }
#gd_creator_info{margin-bottom:20px;}
#gd_publisher_info{margin-bottom:20px;}
#gd_developer_info{margin-bottom:20px;}
#gd_back{margin-bottom:20px; margin-top:20px;}
#gd_bottom{width:100%; float:left;}	
#gd_dev_small_select{ 
	width: 50px;
	height: 27px;
	background: #666666;
}
#gd_pub_small_select{ 
	width: 50px;
	height: 27px;
	background: #666666;
}
#gd_text_area_big {height: 250px; background:#666666}

#game_extra_info_pub,#continent_pub,#company_id_pub,#game_extra_info_dev,#continent_dev,
#company_id_dev,#game_extra_info_year,#author_type_id,#ind_id{ 
	width: 140px;
	margin-top: 0;
	height: 25px;
	background: #666666;
}	

/*---------------------------------------------------------- 
Games comment
------------------------------------------------------------ */	
#quick_search_games_comment{margin-top: 20px; margin-bottom: 30px; float: left;}
#leftnav_position_games_comment{margin-top: 20px; margin-bottom: 30px; float: left;}
#games_comment{margin-top: 20px; margin-bottom: 30px; float: left;}

.gc_table_list {
	width: 100%;
	border: solid 1px #b2b2b2; 
	background-color:#f3f3f3;
	margin-left:auto;
	margin-right:auto;
	border-spacing: 0;
	text-align:left;
}

.gc_table_list tr:nth-child(even){
	background-color:#f3f3f3;
}

.gc_table_list tr:nth-child(odd){
	background-color:#EFEFEF;
}

.gc_table_list td {
	border-bottom: solid 1px black;
	padding: 5px;
	margin:0;
}

.gc_left_head{width:20%;font-size: 16px;}
.gc_center_head{width:80%;font-size: 16px;}

.gc_left{width:20%;font-size: 16px;}
.gc_center{width:80%;font-size: 16px;}

/*---------------------------------------------------------- 
Games comment edit
------------------------------------------------------------ */	
#quick_search_games_comment_edit{margin-top: 20px; margin-bottom: 30px; float: left;}
#leftnav_position_games_comment_edit{margin-top: 20px; margin-bottom: 30px; float: left;}
#games_comment_edit{margin-top: 20px; margin-bottom: 30px; float: left;}

#gce_button,#gce_button2{float:right; margin-bottom:20px; margin-left:5px;}

#gce_area { width: 100%;}
