/*************************************************************/	
/**********************LEGACY SKIN****************************/
/*************************************************************/ 

/*************************************************************/	
/*****************CPanel TRIVIA section css*******************/
/*************************************************************/ 

/*---------------------------------------------------------- 
Did you know
------------------------------------------------------------ */
#leftnav_position_didyouknow{ margin-top: 80px; margin-bottom: 30px; float: left;}
#didyouknow{ margin-top: 80px; margin-bottom: 30px; float: left;}
#quick_search_games_position_didyouknow{ margin-top: 80px; margin-bottom: 30px; float: left;}

@media screen and (max-width: 1279px) { 
	#leftnav_position_didyouknow{ margin-top: 20px;}
	#didyouknow{margin-top: 20px;}
}

/*---------------------------------------------------------- 
Trivia Quotes
------------------------------------------------------------ */
#leftnav_position_triviaquotes{ margin-top: 80px; margin-bottom: 30px; float: left;}
#triviaquotes{ margin-top: 80px; margin-bottom: 30px; float: left;}
#quick_search_games_position_triviaquotes{ margin-top: 80px; margin-bottom: 30px; float: left;}

@media screen and (max-width: 1279px) { 
	#leftnav_position_triviaquotes{ margin-top: 20px;}
	#triviaquotes{margin-top: 20px;}
}
