<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html xml:lang="sv" lang="sv">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link href="../templates/0/css/jukebox.css" rel="stylesheet" type="text/css" />
	<title>Jukebox</title>

</head>

<body bgcolor="#EFEFEF">

<h3 id="artistHeader">Artist</h3>
<div id="artistDiv" class="artistDiv">
	<ul class="artist">
	
	{foreach from=$artist item=line}

	<li onmousedown="this.firstChild.href+='&artist_scroll='+this.parentNode.parentNode.scrollTop;">
	<a href="jukebox.php?artist_id={$line.individual_id}">{$line.individual_name}</a>
	</li>		
	{/foreach}
	</ul>
</div>

<h3 id="songHeader">Song</h3>
<div id="songDiv" class="songDiv">
	<ul class="song">
	
	<!-- if artist_id is set then list his songs -->
	
	{if isset($artist_id)}
	{foreach from=$music item=line}
		<li><a href="playmusic.php?music_id={$line.music_id}">{$line.game_name}.{$line.imgext}</a></li>
	{/foreach}
	{/if}
	</ul>
</div>

	

<h3 id="infoHeader">Info</h3> 
<div id="infoDiv" class="infoDiv"> 

<span style="font-weight:bold;">Atarilegend Jukebox</span><br>
<span style="font-style: italic;font-size: 8px">Coded by perihelion & Atarilegend
Graphics shamelessly stolen from UMD8730(Grazey/PHF)</span><br>
<br>
The Atarilegend jukebox contains the following music file formats:<br>
<br>
<span style="font-weight:bold;">SNDH</span><br>
<br>
- <a href="http://creamhq.de">WinJam</a> by Cream<br>
- <a href="http://sc68.atari.org">SC68</a> plugin for <a href="http://www.winamp.com">Winamp</a><br>
<br>
<span style="font-weight:bold;">MP3</span><br>
<br>
- <a href="http://www.winamp.com">Winamp</a> will do fine but there are an enormous amount of players out there that will play this format.<br>
<br>
<span style="font-weight:bold;">MOD</span><br>
<br>
- <a href="http://www.deliplayer.com">Deliplayer</a><br>
- <a href="http://www.modplug.com/modplug/download.php3">Modplug</a><br>

</div>


</body>
</html>
	<script language="javascript" type="text/javascript">
	var artistScrollTop = {$artist_scroll};
	</script>
	<script language="javascript" type="text/javascript" src="../templates/0/js/jukebox.js"></script>
