                        <div class="music-player other">
                            <div class="info">
                                by {$line.music_ind_name} ({$line.music_extension})
                                <a href="../../../data/music/games/{$line.music_id}.{$line.music_extension}" download="{$game_info.game_name}.{$line.music_extension}" title="Download music for {$game_info.game_name} by {$line.music_ind_name}"><i class="fa fa-download"></i></a>
                            </div>
                        </div>

