{if count($releases) > 0}
    <br>
    <div class="standard_tile release_list">
        <h1>{if count($releases) > 1}RELEASES{else}RELEASE INFO{/if}</h1>
        <div class="standard_tile_line"></div>

        <div class="standard_list_entry">
            <table class="primary_table_list table_sm no_border">
                {foreach from=$releases item=$release name=release}
                    <tr>
                        <td colspan="3" class="release_logo">
                            <h4>{$release->getDate()|date_format:"Y"|default:"[no date]"}</h4>
                        </td>
                    </tr>
                    {if $release->getName() != null}
                        <tr>
                            <td class="w-30"><span class="games_main_detail_info_right">Name</span></td>
                            <td class="w-5">-</td>
                            <td class="w-60">{$release->getName()}</td>
                        </tr>
                    {/if}
                    {if $release->getPublisher() != null}
                        <tr>
                            <td class="w-30"><span class="games_main_detail_info_right">Publisher</span></td>
                            <td class="w-5">-</td>
                            <td class="w-60">
                                <a class="standard_tile_link" href="games_main_list.php?publisher={$release->getPublisher()->getId()}&amp;action=search">
                                    {$release->getPublisher()->getName()}
                                </a>
                                {if $release->getPublisher()->getProfile() != null}
                                    <a style="cursor: pointer;"
                                        onclick="javascript:jQuery('#release_{$release->getId()}_publisher_profile_{$release->getPublisher()->getId()}').toggle()"
                                        title="Click to view profile"
                                        class="latest_comments_link">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    </a>
                                {/if}

                                {if $release->getPublisher()->getImage() != null}
                                    <a href="../../includes/show_image.php?file={$release->getPublisher()->getImage()}"
                                        data-lightbox="image-1"
                                        data-title="{$release->getPublisher()->getName()}"
                                        class="latest_comments_link">
                                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                                    </a>
                                {/if}
                            </td>
                        </tr>
                        {if $release->getPublisher()->getProfile() != null}
                            <tr style="display: none;"><td colspan="3"></td></tr>
                            <tr style="display:none;" id="release_{$release->getId()}_publisher_profile_{$release->getPublisher()->getId()}">
                                <td colspan="3">
                                    <textarea id="profile{$release->getPublisher()->getId()}" class="primary_textarea" rows="6" style="margin-top:5px;margin-bottom:5px;font-size:10pt;margin-left:auto;margin-right:auto;" readonly>{$release->getPublisher()->getProfile()}</textarea>
                                </td>
                            </tr>
                        {/if}
                    {/if}
                    {if $distributors[$release->getId()]}
                        {foreach from=$distributors[$release->getId()] item=distributor_id name=distributor}
                            <tr>
                                <td class="w-30">{if $smarty.foreach.distributor.index == 0}<span class="games_main_detail_info_right">Distributor</span>{/if}</td>
                                <td class="w-5">-</td>
                                <td class="w-60">
                                    {$distributor_id->getName()}
                                    {if $distributor_id->getProfile() != null}
                                        <a style="cursor: pointer;"
                                            onclick="javascript:jQuery('#release_{$release->getId()}_publisher_profile_{$distributor_id->getId()}').toggle()"
                                            title="Click to view profile"
                                            class="latest_comments_link">
                                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                                        </a>
                                    {/if}

                                    {if $distributor_id->getImage() != null}
                                        <a href="../../includes/show_image.php?file={$distributor_id->getImage()}"
                                            data-lightbox="image-1"
                                            data-title="{$distributor_id->getName()}"
                                            class="latest_comments_link">
                                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                                        </a>
                                    {/if}
                                </td>
                            </tr>
                            {if $distributor_id->getProfile() != null}
                                <tr style="display: none;"><td colspan="3"></td></tr>
                                <tr style="display:none;" id="release_{$release->getId()}_publisher_profile_{$distributor_id->getId()}">
                                    <td colspan="3">
                                        <textarea id="profile{$distributor_id->getId()}" class="primary_textarea" rows="6" style="margin-top:5px;margin-bottom:5px;font-size:10pt;margin-left:auto;margin-right:auto;" readonly>{$distributor_id->getProfile()}</textarea>
                                    </td>
                                </tr>
                            {/if}
                        {/foreach}
                    {/if}
                    {if $release->getType() != null}
                        <tr>
                            <td class="w-30"><span class="games_main_detail_info_right">Type</span></td>
                            <td class="w-5">-</td>
                            <td class="w-60">{$release->getType()}</td>
                        </tr>
                    {/if}
                    {if $release->getLicense() != null}
                        <tr>
                            <td class="w-30"><span class="games_main_detail_info_right">License</span></td>
                            <td class="w-5">-</td>
                            <td class="w-60">{$release->getLicense()}</td>
                        </tr>
                    {/if}
                    {if $release_location[$release->getId()]}
                        {foreach from=$release_location[$release->getId()] item=location_id name=location}
                            <tr>
                                <td class="w-30">{if $smarty.foreach.location.index == 0}<span class="games_main_detail_info_right">Locations</span>{/if}</td>
                                <td class="w-5">-</td>
                                <td class="w-60">
                                    <div>
                                        {if $locations[$location_id]->getCountryISO2() != null}
                                            <img src="../../themes/templates/1/includes/img/vendor/country-flags-1.0/{$locations[$location_id]->getCountryISO2()|lower}.svg"
                                                class="location_flag"
                                                alt="Flag of {$locations[$location_id]->getName()|escape}">
                                        {/if}
                                        {$locations[$location_id]->getName()}
                                    </div>
                                </td>
                            </tr>
                        {/foreach}
                    {/if}

                    {if $release_resolution[$release->getId()]}
                        {foreach from=$release_resolution[$release->getId()] item=resolution_id name=resolution}
                            <tr>
                                <td class="w-30">{if $smarty.foreach.resolution.index == 0}<span class="games_main_detail_info_right">Resolutions</span>{/if}</td>
                                <td class="w-5">-</td>
                                <td class="w-60">
                                    {$resolutions[$resolution_id]->getName()}<br>
                                </td>
                            </tr>
                        {/foreach}
                    {/if}

                    {if $system_enhanced[$release->getId()]}
                        {foreach from=$system_enhanced[$release->getId()] item=system_id name=system}
                            <tr>
                                <td class="w-30">{if $smarty.foreach.system.index == 0}<span class="games_main_detail_info_right">Enhanced</span>{/if}</td>
                                <td class="w-5">-</td>
                                <td class="w-60">
                                    {$systems[$system_id]->getName()}<br>
                                </td>
                            </tr>
                        {/foreach}
                    {/if}

                    {if $system_incompatible[$release->getId()]}
                        {foreach from=$system_incompatible[$release->getId()] item=system_id name=system}
                            <tr>
                                <td class="w-30">{if $smarty.foreach.system.index == 0}<span class="games_main_detail_info_right">Incompatible</span>{/if}</td>
                                <td class="w-5">-</td>
                                <td class="w-60">
                                    {$systems[$system_id]->getName()}<br>
                                </td>
                            </tr>
                        {/foreach}
                    {/if}

                    {if $emulator_incompatible[$release->getId()]}
                        {foreach from=$emulator_incompatible[$release->getId()] item=emulator_id name=emulator}
                            <tr>
                                <td class="w-30">{if $system_incompatible[$release->getId()]}{else}{if $smarty.foreach.emulator.index == 0}<span class="games_main_detail_info_right">Incompatible</span>{/if}{/if}</td>
                                <td class="w-5">-</td>
                                <td class="w-60">
                                    {$emulator_id->getName()} <span class="standard_tile_subtext">(Emulator)</span><br>
                                </td>
                            </tr>
                        {/foreach}
                    {/if}

                    {if $release_akas[$release->getId()]}
                        {foreach from=$release_akas[$release->getId()] item=aka_id name=aka}
                            <tr>
                                <td class="w-30">{if $smarty.foreach.aka.index == 0}<span class="games_main_detail_info_right">AKA</span>{/if}</td>
                                <td class="w-5">-</td>
                                <td class="w-60">
                                    {$aka_id->getName()} <span class="standard_tile_subtext">({$aka_id->getLanguage()->getName()})</span>
                                    <br>
                                </td>
                            </tr>
                        {/foreach}
                    {/if}

                    {if $trainerOptions[$release->getId()]}
                        {foreach from=$trainerOptions[$release->getId()] item=trainerOption_id name=trainerOption}
                            <tr>
                                <td class="w-30">{if $smarty.foreach.trainerOption.index == 0}<span class="games_main_detail_info_right">Trainer</span>{/if}</td>
                                <td class="w-5">-</td>
                                <td class="w-60">
                                    {$trainerOption_id->getName()}
                                    <br>
                                </td>
                            </tr>
                        {/foreach}
                    {/if}
                {/foreach}
            </table>
        </div>
    </div>
{/if}
