<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<title>AtariLegend 403 ERROR: Forbidden</title>
        <style>
            html {
                height: 100%;
            }
            body {
                background-color: white;
                margin: 0;
                height: 100%;
            }
            a {
                display: block;
                min-height: 100%;
            }
            img {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        </style>
	</head>
	<body>
        <a href="/" title="Home page">
            <img src="/themes/templates/1/includes/img/forbidden.png" alt="Privilege Violation">
        </a>
	</body>
</html>
