<html>
	<head>
		<title>Atarilegend 404 ERROR: Page not found</title>
		<script language="JavaScript">
			function link(url) {
				top.document.location = url;
			}
		</script>
	</head>
	<body bgcolor="white" leftmargin="0" topmargin="0" rightmargin="0" bottommargin="0" marginwidth="0" marginheight="0">		<a href="http://www.atarilegend.com" title="" alt="">			<table width="100%" height="100%">			<tr onclick="link('http://www.atarilegend.com')" style="cursor: hand;">				<td valign="center"><img src="includes/img/not_found.png" alt="" border="0"></td>			</tr>			</table>		</a>
	</body></html>
