//*************************************************************/
//**********************LEGACY SKIN****************************/
//*************************************************************/
//*************************************************************/
//*****************CPanel ADMIN section css********************/
//*************************************************************/
//*----------------------------------------------------------
//Change log
//------------------------------------------------------------ */


//*-----------------------Technical doc-------------------------- */
.tech_doc_contents {
    margin-left: 1em;
    text-align: left;
}

.tech_doc_img {
    margin-left: 1%;
    box-shadow: 0 0 12px #000000;
    display: inline;
    margin: 5px;
}


//*-----------------------Spotlight-------------------------- */
.spotlight_container{
    @extend .games_main_container;
    width: 75%;
}

.spotlight_child{
    width: 100%;
    border: 1px solid #008b8b;
}

.spotlight_row{
    @extend .games_main_row_site;
}

//*-----------------------DB update-------------------------- */
.database_update a.secondary_button {
    display: block;
    margin-bottom: 5px;
}
