//**************************************************************/
//**************************LEGACY SKIN*************************/
//**************************************************************/
//**************************************************************/
//***This is the css code for the front page of the main site***/
//**************************************************************/

//*----------------------------------------------------------
// Welcome tile settings --> frontpage
//------------------------------------------------------------ */
#welcome {
    position: relative;
    float: left;
    width: 845px;
    height: 460px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    border-top: 10px solid #00d3d3;
    border-bottom: 3px solid #00d3d3;
}

.welcome_slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 845px;
    height: 460px;
    overflow: hidden;
    cursor: move;
}

#welcome p {
    padding-right: 5%;
    padding-left: 5%;
    text-align: center;
}

.trivia_title {
    font-size: 19pt;
    color: #ffffff;
}

.trivia_tag {
    font-size: 13pt;
    color: #00d3d3;
}

.trivia_text {
    font-size: 12pt;
    color: #ffffff;
}

//*----------------------------------------------------------
//register tile --> front page
//------------------------------------------------------------ */
.register {
    width: 100%;
    margin-top: 20px;
}

.register_input {
    width: 100%;
    text-align: center;
}

.register_input div {
    color: white;
    width: 70%;
    margin: auto;
    margin-top: 20px;
}

// Honeypot for bots
.register_input input[name=name] {
    position: absolute;
    left: -2000px;
}

//*----------------------------------------------------------
//latest news tile --> front page
//------------------------------------------------------------ */
.latest_news {
    margin-bottom: 20px;
}

//*----------------------------------------------------------
//datequote tile - front page
//------------------------------------------------------------ */
.datequote_position_front {
    margin-bottom: 20px;
}
.datequote_bg {
    background: url('../images/datequote_bg.jpg');
}
.datequote_bg p {
    text-align: center;
    width: 100%
}
.datequote_day {
    margin-top: 0;
    margin-bottom: -20px;
    font-size: 85pt;
    color: #ffffff;
}

.datequote_month {
    margin-top: -10px;
    margin-bottom: -10px;
    font-size: 30pt;
    color: #ffffff;
}

.datequote_year {
    margin-top: -10px;
    font-size: 55pt;
    color: #cccccc;
    text-align: center;
}

.datequote_text {
    padding-top: 10px;
    padding-bottom: 10px;
    //* RGBa with 0.6 opacity */
    color: #ffffff;
    background: rgb(0, 80, 80);
    //* Fallback for web browsers that doesn't support RGBa */
    background: rgba(0, 80, 80, .6);
}

//*----------------------------------------------------------
//tile open DB - front page
//------------------------------------------------------------ */
.tile_open_db_front {
    margin-bottom: 20px;
}

//*----------------------------------------------------------
//screenstar --> front page
//------------------------------------------------------------ */
.screenstar_position_front {
    margin-top: 20px;
    margin-bottom: 20px;
}

//*----------------------------------------------------------
//Who is it - front page
//------------------------------------------------------------ */
.whoisit_position_front {
    margin-bottom: 20px;
}

//*----------------------------------------------------------
//Latest reviews tile - front page
//------------------------------------------------------------ */
.latest_reviews {
    margin-bottom: 20px;
}

//*----------------------------------------------------------
//Did you know tile - front page
//------------------------------------------------------------ */
.didyouknow_position_front {
    margin-bottom: 20px;
}

//*----------------------------------------------------------
//Statistics tile - front page
//------------------------------------------------------------ */
.statistics_position_front {
    margin-bottom: 20px;
}

//*----------------------------------------------------------
//Hotlinks tile - front page
//------------------------------------------------------------ */
.hotlinks_position_front {
    margin-bottom: 20px;
}

//*----------------------------------------------------------
//Class tile - front page
//------------------------------------------------------------ */
.class_position_front {
    margin-bottom: 20px;
}

//*----------------------------------------------------------
//Social corner tile - front page
//------------------------------------------------------------ */
.social_corner_position_front {
    margin-bottom: 20px;
}

//*----------------------------------------------------------
//spotlight tile - front page
//------------------------------------------------------------ */
.spotlight_position_front {
    margin-bottom: 20px;
}

//*----------------------------------------------------------
//altv tile - front page
//------------------------------------------------------------ */
.altv_position_front {
    margin-bottom: 20px;
}

//*----------------------------------------------------------
//al mobile tile - front page
//------------------------------------------------------------ */
.almobile_tile_front {
    margin-bottom: 20px;
}


//*----------------------------------------------------------
//contact tiles - front page
//------------------------------------------------------------ */
.contact_tiles {
    width: 100%;
    margin-bottom: 20px;
    background: none;
    border: none;
}

.contact_tiles > a > div {
    max-width: 100%;
    margin-bottom: 20px;
}

.contact_email_button {
    display: block;
    background-image: url('../images/email.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.contact_email_button > a {
    display: block;
    width: 320px;
    height: 120px;
}

.contact_facebook_button {
    display: block;
    background-image: url('../images/facebook.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.contact_facebook_button > a {
    display: block;
    width: 240px;
    height: 120px;
}

.contact_jukebox_button {
    display: block;
    background-image: url('../images/jukebox.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.contact_jukebox_button > a {
    display: block;
    width: 240px;
    height: 120px;
}

.contact_chat_button {
    display: block;
    background-image: url('../images/chat.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.contact_chat_button > a {
    display: block;
    width: 240px;
    height: 120px;
}

//*----------------------------------------------------------
// Footer
//------------------------------------------------------------ */
.footer {
    float: left;
    width: 100%;
    margin-top: 20px;
    background: url('../images/bottom_bg_sides.jpg') left 0 repeat-x;
    border-top: 10px solid #00d3d3;
}

.footer_logo {
    height: 120px;
    font-size: 10pt;
    color: #ffffff;
    text-align: center;
    background: url('../images/footer_bg.jpg') center 0 no-repeat;
}

.footer_logo_image::before {
    display: block;
    content: url('../images/footer_logo.png');
}

#footer_img {
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: auto;
}

footer img.license {
    margin-left: 10px;
    display: inline;
    vertical-align: middle;
}

footer img.github {
    margin-left: 10px;
    display: inline;
    vertical-align: middle;
    width: 1.25rem;
}

//*----------------------------------------------------------
// Skin specific code for the search results
//------------------------------------------------------------ */
//* Component containers
//----------------------------------*/
.ui-widget-content {
    width: 245px;
    font-family: Audiowide;
    font-size: 13px;
    color: #ffffff;
    background: #000000;
    border: 1px solid #00d3d3;
}

//* Interaction states
//----------------------------------*/
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    color: #000000;
    background: #00d3d3;
    border: 1px solid #000000;
}
