//*************************************************************/
//**********************PICASSO SKIN***************************/
//*************************************************************/
//*************************************************************/
//********CPanel MAIN structure and LEFT and RIGHT css*********/
//*************************************************************/
//*---------------------Front page--------------------------- */

.main_stats_container {
    display: flex;
    align-items: flex-start;
}

#child_some_stats {
    float: left;
    width: 45%;
}

#child_good_karma,
#child_bad_karma,
#child_bar,
#child_line,
#child_bad_karma_chart
#child_good_karma_chart {
    float: left;
    width: 50%;
    margin-left: auto;
}

.main_stats_child  table { width: 98%; }
#user_stats table { width: 100%; }
#welcome_cpanel table { width: 100%; }

//*----------------------------------------------------------
//Left nav
//------------------------------------------------------------ */

#leftnav_position_front { float: left; }
.left_nav_section {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    margin: 0;
    font-weight: bold;
    text-align: center;
    list-style-type: none;
    background-color: #dbd7d1;
    border-collapse: collapse;
    border-top: solid 2px #b2b2b2;
    border-bottom: solid 2px #b2b2b2;
}

.left_nav_link:link {
    font-size: 11pt;
    color: #122323;
}

.left_nav_link:visited { color: #122323; }
.left_nav_link:hover { color: #6a6a6a; }

//*----------------------------------------------------------
//Quick search games
//------------------------------------------------------------ */

.quick_search_check { margin-right: 5px; }

#quick_search_options, #quick_search_user_options {
    display: table;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}

.quick_search_games_button {
    width: 80px;
    height: 25px;
    margin-left: 2px;
    font-size: 10pt;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    background: #161c71;
    border: 2px solid #000;
    border-radius: 0 15px 15px 0;
}

.quick_search_games_button:hover {
    color: #000;
    background: #dbd7d1;
    border: 2px solid #4f4f4f;
}

.standard_select {
    margin-top: 0;
    height: 25px;
    padding: 0;
    padding-left: 5px;
    background-color: #666;
    color: #fff;
    border: 1px solid #b2b2b2;
}
