//*************************************************************/
//**********************PICASSO SKIN***************************/
//*************************************************************/
//*************************************************************/
//*****************CPanel LINKS section css********************/
//*************************************************************/
//*---------------------Links addnew------------------------ */

.links_addnew_text {
    display: table-cell;
    width: 25%;
    vertical-align: top;
}

.links_addnew_input {
    display: table-cell;
    width: 75%;
}

.links_addnew_row {
    display: table;
    width: 100%;
}

.links_addnew_info {
    padding: 5px;
    font-size: 11pt;
    color: #000000;
}

.links_addnew_link:link {
    color: #161c71;
}
.links_addnew_link:visited {
    color: #161c71;
}
.links_addnew_link:hover {
    color: #000000;
}

//*----------------------------------------------------------
//Links Modify list
//------------------------------------------------------------ */
.links_modlist_tdline {
    padding: 5px;
    font-size: 11pt;
    color: #000000;
    border-bottom: solid 1px #b2b2b2;
}

.user_stats_img_dark {
    max-width: 100%;
    margin: 10px 5px 10px 5px;
    opacity: .8;
    filter: alpha(opacity = 40);
    box-shadow: 0 0 12px #000000;
}

.links_list_text {
    margin-right: 1%;
}
.links_list_input {
    margin-left: 1%;
}
.links_list_row {
    display: flex;
    justify-content: center;
    align-items: center;
}

//*----------------------------------------------------------
//Links category
//------------------------------------------------------------ */

.link_cat_td {
    text-align: right;
}

//*----------------------------------------------------------
//Links Modify
//------------------------------------------------------------ */

.links_mod_text {
    display: table-cell;
    width: 35%;
    vertical-align: top;
}

.links_mod_input {
    display: table-cell;
    width: 65%;
}

.links_mod_row {
    display: table;
    width: 100%;
}

.links_mod_checkbox {
    @extend .checkbox;
    @extend #checkbox_user_detail;
}

#website_name,
#website_url {
    width: 50%;
}
