//*************************************************************/
//**********************PICASSO SKIN****************************/
//*************************************************************/
//*************************************************************/
//*****************CPanel ADMIN section css*********************/
//*************************************************************/
//*--------------------------Change log---------------------- */

#log_date_th,
#log_action_th,
#log_section_th,
#log_subsection_th {
    width: 10%;
    text-align: left;
}

#log_name_th,
#log_sub_name_th,
#log_user_th {
    width: 20%;
    text-align: left;
}

#log_sub_name_th {
    padding-right: 5px;
    text-align: right;
}

.log_date_td,
.log_action_td,
.log_section_td,
.log_subsection_td {
    width: 10%;
    padding-left: 2px;
    font-size: 11pt;
    font-weight: 100;
    color: #000;
}

.log_user_td,
.log_name_td, log_subname_td {
    width: 20%;
    padding-left: 2px;
    font-size: 11pt;
    font-weight: 100;
    color: #000;
}

.log_subname_td {
    padding-right: 5px;
    text-align: right;
}

#changelog_select select { width: 50%; }
