//*************************************************************/
//**********************PICASSO SKIN****************************/
//*************************************************************/
//*************************************************************/
//*****************CPanel ADMIN section css*********************/
//*************************************************************/
//*--------------------------Change log---------------------- */



#changelog_select select {
    width: 50%;
}

//*-----------------------Database updates-------------------------- */


//*-----------------------Technical doc-------------------------- */
.tech_doc_contents {
    margin-left: 1em;
    text-align: left;
}

.tech_doc_img {
    margin-left: 1%;
    box-shadow: 0 0 12px #000000;
    display: inline;
    margin: 5px;
}
