//*************************************************************/
//**********************PICASSO SKIN***************************/
//*************************************************************/
//*************************************************************/
//*****************CPanel USER section css*********************/
//*************************************************************/
//*----------------------------------------------------------
//User details
//------------------------------------------------------------ */
#user_details_img_dark {
    margin-left: 1%;
    box-shadow: 0 0 12px #000;
}

.user_details_container { display: flex; }
#child_1_user,
#child_2_user {
    width: 47.5%;
    margin-left: 2%;
}

#child_3_user {width: 5%;}

.user_details_text {
    display: table-cell;
    width: 50%;
}

.user_details_input {
    display: table-cell;
    width: 50%;
}

.user_details_input_small{
    @extend .standard_tile_input_small;
    width: 90%;
}

#file_upload_user_detail{width: 60%;}

.user_details_row {
    display: table;
    width: 100%;
}

#checkbox_user_detail label {
        background: #666;
        border: 1px solid #b2b2b2; }

//*----------------------------------------------------------
//User main
//------------------------------------------------------------ */
#main_stats_position_usermain {
    float: left;
    margin-top: 0;
    margin-bottom: 30px;
}

.user_main_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

///*----------------------------------------------------------
//User search
//------------------------------------------------------------ */
#usersearch th { text-align: left; }
.username_th,
.joindate_th,
.lastvisit_th {
    width: 25%;
}

.username_td,
.joindate_td,
.lastvisit_td {
    width: 25%;
    padding-left: 2px;
    font-size: 12pt;
    color: #000;
}

.email_th { width: 10%; }
.email_td {
    width: 10%;
    padding-left: 2px;
    font-size: 12pt;
    color: #000;
}

.website_th { width: 15%; }
.website_td {
    width: 15%;
    padding-left: 2px;
    font-size: 12pt;
    color: #000;
}

#user_search_main_tabel {
    width: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
    border: 0;
}

//*----------------------------------------------------------
//User karma
//------------------------------------------------------------ */
.karma_column {
    width: 50%;
    text-align: center;
}

//*----------------------------------------------------------
//User management
//------------------------------------------------------------ */
#user_management th { text-align: left; }
.select_th { width: 10%; }
.select_td {
    width: 10%;
    padding-left: 2px;
}

#user_list_action {
    width: 185px;
    height: 25px;
    margin-top: 0;
}
