/*---------------------------------------------------------- 
 Menu
------------------------------------------------------------ */
/* ---------the side menu--------*/

/* the side menu for smartphones, tablets and old (laptop) screens */
/* it is also used for the high res monitors, but then only the skin switch will be visible */

	body, html {
        height: 100%;
        margin: 0;
     }

	.container {
		display : block;
		z-index: 3;
		position: relative;
        width: 100%;
        left: 0;
        -webkit-transition:  left 0.4s ease-in-out;
        -moz-transition:  left 0.4s ease-in-out;
        -ms-transition:  left 0.4s ease-in-out;
        -o-transition:  left 0.4s ease-in-out;
        transition:  left 0.4s ease-in-out;
    }
    
    .container.open-sidebar {
        left: 170px;
    }
    
    #sidebar {
		z-index:1;
		position: absolute;
        left: -172px;
        background: black;
        width: 172px;
        height: 100%;
        box-sizing: border-box;
    }
	
    #sidebar ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
	
    #sidebar ul li { margin: 0;}
	
    #sidebar ul li a {
        padding: 0;
        display: block;
        -webkit-transition:  background 0.3s ease-in-out;
        -moz-transition:  background 0.3s ease-in-out;
        -ms-transition:  background 0.3s ease-in-out;
        -o-transition:  background 0.3s ease-in-out;
        transition:  background 0.3s ease-in-out;
    }
			
    .main-content {
        width: 100%;
        height: 100%;
        padding: 1px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        position: absolute;
    }
	
    .main-content .content{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
		padding-left: 60px;
		width: 100%;
    }
	
    .main-content .content p{
        width: 100%;
        line-height: 160%;
    }
	
    .main-content #sidebar-toggle {
        background: #161c71;
        border-radius: 3px;
        display: block;
        position: absolute;
        padding: 10px 7px;
        float: left;
    }
	
    .main-content #sidebar-toggle .bar{
        display: block;
        width: 18px;
        margin-bottom: 3px;
        height: 2px;
        background-color: #fff;
        border-radius: 1px;   
    }
	
    .main-content #sidebar-toggle .bar:last-child{
         margin-bottom: 0;   
    }
	
	#search_ul{ width: 100%; }
	
	#search_ul li { display: inline; float: left; }
	
	#search_side { width: 45px; 
		height: 28px;
		-webkit-border-radius: 0 15px 15px 0;
		-moz-border-radius: 0 15px 15px 0;
		border-radius: 0 15px 15px 0;
		border:1px solid black;
	}
	
	#searchbutton_side {
		background: #161c71;
		height: 28px;
		width: 119px;
		border-bottom: 2px solid #161c71;
		border-left : 4px solid black;
 		padding-top: 0px;
	}
	
	#search_text_side{ color: #ffffff;				
				width: 105px;
				height: 18px;
				border: 1px solid #161c71;
				margin: 4.5px 0px 0px 6px;
				padding: 0;
				background: #000; 
				text-align: center;
				font-family: robot, arial;
			}
	
/*-----some code for the skin submenu-------*/
	#skin_side, #games_side,#menus_side,#demos_side,#links_side,#about_side,#music_side,#forum_main_side,#magazines_side{width:170px;}

	.clearfix:after {
		display:block;
		clear:both;
	}

	/*----- Menu Outline -----*/
	.skin-wrap {
		width:100%;
	}
	
	@media screen and (max-width: 1919px) { 
		.skin-wrap {
			margin-top:30px;
		}
	}
	 
	.skin-menu {
		width:100%;
		margin:0px auto;
	}
	 
	.skin-menu li {
		margin:0px;
		list-style:none;
	}
	 
	.skin-menu a {
		transition:all linear 0.15s;
		color:#000000;
	}
	 
	 
	/*----- Top Level -----*/
	.skin-menu > ul > li {
		float:left;
		display:inline-block;
		position:relative;
		font-size:19px;
	}
	 
	/*----- Bottom Level -----*/
	.skin-menu li:hover .sub-menu {
		z-index:1;
		opacity:1;
	}

	.sub-menu {
		width:75%;
		padding:5px 0px;
		position:absolute;
		top:100%;
		left:0px;
		z-index:-1;
		opacity:0;
		transition:opacity linear 0.15s;
		box-shadow:0px 2px 3px rgba(0,0,0,0.2);
		text-align:center;
	}
	 
	.sub-menu li {
		display:block;
		font-size:16px;
		border-top-style: solid;
		border-top-color: #000000;
		border-top-width: 1px;
	}
	 
	.sub-menu li a {
		display:block;
		text-decoration: none;
		font-weight: normal;
		color: white;
		background : #161c71;
	}
	 
	.sub-menu li a:hover, .sub-menu .current-item a {
		background:#dbd7d1;
		color:black;
	    border: 1px solid black;
	}


/* 'position' is needed for smartphone view else the logo is covered by the sidemenu button */
@media screen and (max-width: 480px) { 
	.main-content {position: relative;}
	.main-content #sidebar-toggle {position: relative;}
	}	

/* resizing of buttons is done to get al info on screen in landscape for phones and tablets*/
@media screen and (max-width: 640px) { 
	#games_side{height: 40px; width: 113px; font-size: 14px;}
	#menus_side{height: 40px; width: 113px; font-size: 14px;}
	#demos_side{height: 40px; width: 113px; font-size: 14px;}
	#forum_main_side{height: 40px; width: 113px; font-size: 14px;}
	#magazines_side{height: 40px; width: 113px; font-size: 14px;}
	#music_side{height: 40px; width: 113px; font-size: 14px;}
	#about_side{height: 40px; width: 113px; font-size: 14px;}
	#links_side{height: 40px; width: 113px; font-size: 14px;}
	#skin_side{height: 37px; width: 113px; font-size: 14px;}
	#search_side {height: 37px; width: 39px;}
	#search_text_side{height: 28px; width: 60px; margin-left:3px;}
	#searchbutton_side{height: 37px; width: 70px;}
	.container.open-sidebar { left: 113px;}
    #sidebar { left: -115px;
        width: 115px;
	}
	.sub-menu li { font-size:13px; }
}