/*************************************************************/	
/**********************LEGACY SKIN****************************/
/*************************************************************/ 

/*************************************************************/	
/*****************CPanel COMPANY section css*********************/
/*************************************************************/ 

/*---------------------------------------------------------- 
Company main
------------------------------------------------------------ */
#leftnav_position_company_main{ margin-top: 20px; margin-bottom: 30px; float: left;}
#quick_search_games_company_main{ margin-top: 20px; margin-bottom: 30px;}
#company_main{ margin-top: 20px; margin-bottom: 30px; float: left;}

.main_company_container {
  display: flex;
  align-items: flex-start; 
 }
 
.main_company_child {text-align:center;}
 
#child_edit_company, #child_add_company {width: 85%;float:left;}

/*---------------------------------------------------------- 
Company edit
------------------------------------------------------------ */
#leftnav_position_company_edit{ margin-top: 20px; margin-bottom: 30px; float: left;}
#quick_search_games_company_edit{ margin-top: 20px; margin-bottom: 30px;}
#company_edit{ margin-top: 20px; margin-bottom: 30px; float: left;}

/*---------------------------------------------------------- 
Company logos
------------------------------------------------------------ */
#leftnav_position_company_logos{ margin-top: 20px; margin-bottom: 30px; float: left;}
#quick_search_games_company_logos{ margin-top: 20px; margin-bottom: 30px;}
#company_logos{ margin-top: 20px; margin-bottom: 30px; float: left;}