/*************************************************************/	
/**********************LEGACY SKIN****************************/
/*************************************************************/ 

/*************************************************************/	
/*****************CPanel ADMIN section css********************/
/*************************************************************/ 

/*---------------------------------------------------------- 
DB updates
------------------------------------------------------------ */
#left_nav_position_db_updates{ margin-top: 20px; margin-bottom: 30px; float: left;}
#db_updates{ margin-top: 20px; margin-bottom: 30px; float: left;}
#quick_search_db_updates{margin-top: 20px; margin-bottom: 30px;}

/*---------------------------------------------------------- 
Change log
------------------------------------------------------------ */
#leftnav_position_change_log{ margin-top: 20px; margin-bottom: 30px; float: left;}
#change_log{ margin-top: 20px; margin-bottom: 30px; float: left;}
#quick_search_change_log{margin-top: 20px; margin-bottom: 30px;}

#log_date_th,#log_action_th, #log_section_th, #log_subsection_th{width:10%; text-align: left;}
#log_name_th, #log_sub_name_th, #log_user_th{width:20%; text-align: left;}
#log_sub_name_th{text-align: right; padding-right: 5px;}

.log_date_td,.log_action_td, .log_section_td, .log_subsection_td{width:10%; color: white; font-size: 10pt; font-weight: 100; padding-left: 2px;}
.log_user_td,.log_name_td, log_subname_td{width:20%; color: white; font-size: 10pt; font-weight: 100; padding-left: 2px;}
.log_subname_td{text-align: right; padding-right: 5px;}

#changelog_select select {width:50%;}