/*************************************************************/	
/**********************LEGACY SKIN****************************/
/*************************************************************/ 

/*************************************************************/	
/**************CPanel Magazine section css********************/
/*************************************************************/ 

/*---------------------------------------------------------- 
Magazine review score
------------------------------------------------------------ */	
#magazine_review_score{ margin-top: 20px; margin-bottom: 20px;}
#quick_search_magazine_review_score{ margin-top: 20px; margin-bottom: 20px;}
#leftnav_position_magazine_review_score{ margin-top: 20px; margin-bottom: 20px;}

/*---------------------------------------------------------- 
Magazine set score
------------------------------------------------------------ */	
#magazine_set_score{ margin-top: 20px; margin-bottom: 20px;}
#quick_search_magazine_set_score{ margin-top: 20px; margin-bottom: 20px;}
#leftnav_position_magazine_set_score{ margin-top: 20px; margin-bottom: 20px;}