//*****************************************************************/
//**** This is the css code for the side menu and the top menu ****/
//*****************************************************************/
//* ---------SASS variables for menu--------*/
$menu_top: 0;
$menu_opacity: 0;
$menu_input_height: 0;
$menu_input_margin: 0;
$menu_input_border: 0;
$menu_input_font: 0;
$menu_top_button_border: 0;
$menu_top_button_color: 0;
$menu_top_button_height: 0;
$menu_top_button_width: 0;
$menu_top_button_font: 0;
$menu_top_button_font_weight: normal;
$menu_top_button_border_bottom: 0;
$menu_top_button_border_left: 0;
$menu_top_button_margin_left: 0;
$menu_top_button_shadow: '';
$menu_top_button_radius: '';
$menu_top_button_hover_bg: 0;
$menu_top_button_hover_color: 0;
$menu_top_button_hover_border: 0;
$menu_top_button_hover_border_bottom: 0;
$sidebutton_bg: 0;
$sidebutton_font: 0;
$sidebutton_height: 0;
$sidebutton_hoover_font: 0;
$searchbutton_height: 0;
$searchbutton_font: 0;
$searchbutton_shadow: 0;
$sidebutton_cpanel_font: 0;
$sidebutton_cpanel_left_border: 0;
$sidebutton_cpanel_bg: 0;
$menu_sub_button_font: 0;
$menu_sub_button_height: 0;
$log_on_bg: 0;
$log_on_border: 0;

@if $skin_name == tos {
    $menu_top: 0;
    $menu_opacity: 1;
    $menu_input_margin: 3px 0 0 16px;
    $menu_input_height: 20px;
    $menu_input_border: 1px solid #007b7b;
    $menu_input_font: 12pt;
    $menu_top_button_color: #000000;
    $menu_top_button_height: 30px;
    $menu_top_button_width: 194.6px;
    $menu_top_button_font: 20px;
    $menu_top_button_shadow: -1px 1px 5px #ffffff, 1px -1px 15px #acacac;
    $menu_top_button_hover_bg: #000000;
    $menu_top_button_hover_color: #ffffff;
    $sidebutton_bg: #ffffff;
    $sidebutton_font: 16px;
    $sidebutton_height: 27px;
    $sidebutton_hoover_font: #ffffff;
    $searchbutton_height: 27px;
    $searchbutton_font: 15px;
    $sidebutton_cpanel_bg: #eeeeee;
    $sidebutton_cpanel_left_border: 1px solid #000000;
    $sidebutton_cpanel_font: 16px;
    $menu_sub_button_font: 16px;
    $menu_sub_button_height: 30px;
    $log_on_bg: #ffffff;
    $log_on_border: 1px solid #000000;
} @else if $skin_name == picasso {
    $menu_top: 220px;
    $menu_opacity: 1;
    $menu_input_margin: 2px 0x 0 16px;
    $menu_input_height: 20px;
    $menu_input_border: 1px solid #4f4f4f;
    $menu_input_font: 12pt;
    $menu_top_button_border: 2px solid #000000;
    $menu_top_button_color: #ffffff;
    $menu_top_button_height: 26px;
    $menu_top_button_width: 181.5px;
    $menu_top_button_font: 19px;
    $menu_top_button_font_weight: bold;
    $menu_top_button_margin_left: 2px;
    $menu_top_button_radius: 0 15px 15px 0;
    $menu_top_button_border_left: 2px solid #000000;
    $menu_top_button_border_bottom: 2px solid #000000;
    $menu_top_button_hover_bg: #dbd7d1;
    $menu_top_button_hover_color: #000000;
    $menu_top_button_hover_border: 2px solid #4f4f4f;
    $sidebutton_bg: #161c71;
    $sidebutton_font: 19px;
    $sidebutton_height: 30px;
    $sidebutton_hoover_font: #ffffff;
    $searchbutton_height: 26px;
    $searchbutton_font: 20px;
    $searchbutton_shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff;
    $menu_top_button_hover_border_bottom: 2px solid #4f4f4f;
    $sidebutton_cpanel_bg: #383b6f;
    $sidebutton_cpanel_font: 15px;
    $sidebutton_cpanel_left_border: 2px solid #000000;
    $menu_sub_button_font: 16px;
    $menu_sub_button_height: 30px;
    $log_on_bg: #161c71;
    $log_on_border: 1px solid #ffffff;
} @else if $skin_name == legacy {
    $menu_top: 225px;
    $menu_opacity: .8;
    $menu_input_margin: 11px 0 0 16px;
    $menu_input_height: 35px;
    $menu_input_border: 1px solid #007b7b;
    $menu_input_font: 15pt;
    $menu_top_button_color: #182727;
    $menu_top_button_height: 57px;
    $menu_top_button_width: 183px;
    $menu_top_button_font: 20px;
    $menu_top_button_border_bottom: 3px solid #008b8b;
    $menu_top_button_border_left: 1px solid #008b8b;
    $menu_top_button_hover_bg: #00a9a9;
    $menu_top_button_hover_color: #182727;
    $menu_top_button_hover_border_bottom: 3px solid #006f6f;
    $sidebutton_bg: #00d3d3;
    $sidebutton_font: 16px;
    $sidebutton_height: 30px;
    $sidebutton_hoover_font: #182727;
    $searchbutton_height: 57px;
    $searchbutton_font: 20px;
    $sidebutton_cpanel_font: 13px;
    $sidebutton_cpanel_left_border: 1px solid #008b8b;
    $sidebutton_cpanel_bg: #55b4b4;
    $menu_sub_button_font: 15px;
    $menu_sub_button_height: 26px;
    $log_on_bg: #122323;
    $log_on_border: 1px solid #000000;
}

//* ---------the side menu--------*/
//* the side menu for smartphones, tablets and old (laptop) screens */
//* it is also used for the high res monitors, but then only the skin switch will be visible and */
//* in certain resolutions the quick search field */
//* This file contains the complete build code as well as the positioning of the side menu for all */
//* resolutions - see the code at the bottom of the file */
body,
html {
    height: 100%;
}

.container {
    display: block;
    z-index: 3;
    position: relative;
    width: 100%;
    left: 0;
    transition: left .4s ease-in-out;
}

@if $skin_name == tos {
    //* for the TOS skin, we want to side button to be lower not to interfere with the main menu */
    @media screen and (min-width: 1280px) and (max-width: 2304px) {
        .container {
            margin-top: 34px;
        }
    }
    //* this is the width of the side menu when it is pushed open */
    .container.open-sidebar {
        left: 209px;
    }
    //* the position of the side buttons when pushed open */
    #sidebar {
        left: -209px;
        width: 191px;
    }
} @else {
    //* this is the width of the side menu when it is pushed open */
    .container.open-sidebar {
        left: 190px;
    }
    //* the position of the side buttons when pushed open */
    #sidebar {
        left: -192px;
        width: 170px;
    }
}

//* the side bar button options */
#sidebar {
    z-index: 1;
    position: absolute;
    background: #000000;
    height: 100%;
    box-sizing: border-box;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        //* placement of the side menu buttons */
        li {
            margin: 0;
            //* side menu button effect */
            a {
                padding: 0;
                display: block;
                transition: background .3s ease-in-out;
            }
        }
    }
}

.main-content {
    width: 100%;
    height: 100%;
    padding: 1px;
    position: absolute;
    box-sizing: border-box;
    #sidebar-toggle {
        display: block;
        position: absolute;
        padding: 10px 7px;
        float: left;
        background: $bg_color;
        .bar {
            display: block;
            width: 18px;
            margin-bottom: 3px;
            height: 2px;
        }
    }
}

@if $skin_name == tos {
    .main-content #sidebar-toggle .bar {
        background-color: #000000;
    }
} @else {
    .main-content #sidebar-toggle {
        border-radius: 3px;
    }
    .main-content #sidebar-toggle .bar {
        background-color: #ffffff;
        border-radius: 1px;
    }
}

.main-content #sidebar-toggle .bar:last-child {
    margin-bottom: 0;
}

//* search field and button code - this is very skin specific */
#search_ul {
    width: 100%;
}

#search_ul li {
    float: left;
}

@if $skin_name == legacy {
    #search_side {
        border: none;
        border-bottom: 3px solid #008b8b;
        background-image: url('../images/menu_search.png');
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 1px;
        padding-left: 50px;
        padding-top: 19px;
    }
    #searchbutton_side {
        background: $bg_color;
        height: 41px;
        width: 118px;
        border-bottom: 3px solid #008b8b;
        border-left: 1px solid #007878;
        padding-top: 0;
    }
    #search_text_side {
        color: #ffffff;
        width: 105px;
        height: 23px;
        border: 1px solid #007b7b;
        margin: 7px 0 0 6px;
        padding: 0;
        background: #000000;
        text-align: center;
    }
} @else if $skin_name == picasso {
    #search_side {
        background-image: url('../images/menu_search.png');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        padding-left: 45px;
        padding-top: 28px;
        border-radius: 0 15px 15px 0;
        border: 1px solid #000000;
    }
    #searchbutton_side {
        background: $bg_color;
        height: 28px;
        width: 119px;
        border-bottom: 2px solid #161c71;
        border-left: 4px solid #000000;
        padding-top: 0;
    }
    #search_text_side {
        color: #ffffff;
        width: 105px;
        height: 18px;
        border: 1px solid #161c71;
        margin: 4.5px 0 0 6px;
        padding: 0;
        background: #000000;
        text-align: center;
    }
} @else if $skin_name == tos {
    #search_side {
        background-image: url('../images/menu_search.png');
        background-size: cover;
        background-repeat: no-repeat;
        padding-left: 30px;
        padding-top: 27px;
        border-bottom: 3px solid #000000;
    }
    #searchbutton_side {
        background: $bg_color;
        height: 27px;
        width: 160px;
        border-bottom: 3px solid #000000;
        padding-top: 0;
    }
    #search_text_side {
        color: #ffffff;
        width: 153px;
        height: 17px;
        border: 1px solid #007b7b;
        margin: 4px 0 0 6px;
        padding: 0;
        background: #000000;
        text-align: center;
    }
}

@if $skin_name == tos {
    #skin_side,
    #other_side,
    #games_side,
    #menus_side,
    #demos_side,
    #users_side,
    #admin_side,
    .side_navigation * a {
        width: 190px;
        border-bottom: 3px solid #000000;
    }
} @else if $skin_name == picasso {
    #skin_side,
    #other_side,
    #games_side,
    #menus_side,
    #demos_side,
    #users_side,
    #admin_side,
    .side_navigation * a {
        width: 165px;
    }
} @else if $skin_name == legacy {
    #skin_side,
    #other_side,
    #games_side,
    #menus_side,
    #demos_side,
    #users_side,
    #admin_side,
    .side_navigation * a {
        width: 168px;
    }
}

.skin-menu {
    width: 100%;
    margin: 0 auto;
}

.skin-menu li {
    margin: 0;
    list-style: none;
}

.skin-menu a {
    transition: all linear .15s;
}

//*  Top Level */
.skin-menu > ul > li {
    float: left;
    display: inline-block;
    position: relative;
    font-size: 19px;
}

//* Bottom Level - This is the skin switching part */
.skin-menu li:hover .sub-menu {
    z-index: 1;
    opacity: 1;
}

.sub-menu {
    width: 75%;
    padding: 5px 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity linear .15s;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    text-align: center;
}

.sub-menu li {
    display: block;
    font-size: 16px;
}

.sub-menu li a {
    display: block;
    font-weight: normal;
    background: $sidebutton_cpanel_bg;
}

@if $skin_name == legacy {
    .sub-menu li a {
        color: #182727;
    }
    .sub-menu li a:hover {
        background: #00d3d3;
        color: #43635f;
    }
} @else if $skin_name == picasso {
    .sub-menu li a {
        color: #ffffff;
    }
    .sub-menu li a:hover {
        background: #dbd7d1;
        color: #000000;
    }
} @else if $skin_name == tos {
    .sub-menu li a {
        color: #000000;
    }
    .sub-menu li a:hover {
        background: #000000;
        color: #ffffff;
    }
}

//* 'position' is needed for smartphone view else the logo is covered by the sidemenu button */
@media screen and (max-width: 480px) {
    .main-content {
        position: relative;
    }
    .main-content #sidebar-toggle {
        position: relative;
    }
}

.sidebutton_extra {
    border: $menu_top_button_border;
    cursor: pointer;
    color: $menu_top_button_color;
    border-radius: $menu_top_button_radius;
    text-align: center;
    text-shadow: $menu_top_button_shadow;
    font-weight: $menu_top_button_font_weight;
    border-bottom: $menu_top_button_border_bottom;
    line-height: $sidebutton_height;
}

.sidebutton {
    @extend .sidebutton_extra;
    margin-left: $menu_top_button_margin_left;
    width: 213px;
    font-size: $sidebutton_font;
    background: $sidebutton_bg;
}

.sidebutton_cpanel {
    margin-left: 20px;
    width: 180px;
    font-size: $sidebutton_cpanel_font;
    border-left: $sidebutton_cpanel_left_border;
    background: $sidebutton_cpanel_bg;
    @if $skin_name == tos {
        border-bottom: 3px solid #000000;
    }
    @extend .sidebutton_extra;
}

.sidebutton:hover,
.sidebutton_cpanel:hover {
    background: $menu_top_button_hover_bg;
    color: $sidebutton_hoover_font;
    @if $skin_name == legacy or $skin_name == picasso {
        border-bottom: $menu_top_button_hover_border_bottom;
    }
    @if $skin_name == picasso {
        border: $menu_top_button_hover_border;
    }
}

@if $skin_name == legacy {
    @media screen and (min-width: 1920px) {
        .sidebutton {
            line-height: 40px;
        }
    }
}

//* for the lower resolutions, we don't have the menu bar below the top */
@media screen and (max-width: 1279px) {
    #main_nav {
        display: none;
    }
}

//* for resolutions between 1280 and 1920 the search goes to the side menu */
//* some re-placement of the skin button is needed here */
//* HOWEVER, this is not done for the CPANEL, to solve this id no-wrap is created */
.no-wrap {
    margin-top: 0;
}

@if $skin_name == legacy {
    @media screen and (max-width: 1919px) {
        .skin-wrap {
            margin-top: 40px;
        }
    }
} @else {
    @media screen and (max-width: 1919px) {
        .skin-wrap {
            margin-top: 30px;
        }
    }
}

//* for the high resolutions, we only have the skin switch in the side menu */
@media screen and (min-width: 1280px) {
    .side_navigation {
        display: none;
    }
}

@media screen and (min-width: 1920px) {
    #search_side,
    #search_text_side {
        display: none;
    }
}

//* ---------the main menu--------*/
//* this is the css code for the main menu and its buttons
//* This piece of code is used for higher res :
//*  1) making the side menu go to the left of the screen  --> Container absolute
//*  2) Side bar needs to be transparant for resolutions between 1281 and 16** or something --> #sidebar
//*  3) header nav is switched to absolute, if this is not done, the hyperlinks won't work anymore becauwe of position of container
//*  4) since header nav is absolute, the main part of the site needs to be repositioned */
@media screen and (min-width: 1280px) {
    .container {
        position: absolute;
    }
    #sidebar {
        background-color: rgba(0, 0, 0, 0);
    }
    header nav {
        position: absolute;
        margin-top: $menu_top;
    }
    @if $skin_name == legacy {
        #main {
            position: relative;
            margin-top: 60px;
        }
    } @else if $skin_name == picasso {
        #main {
            position: relative;
            margin-top: 30px;
        }
    }
}

#main_nav {
    width: 100%;
    left: 0;
}

#main_nav_ul {
    font-size: .1px;
    display: flex;
    justify-content: center;
    padding: 0;
}

//* this is some extra code for the cpanel sub menu at the main bar */
#main_nav_ul li {
    position: relative;
}

#main_nav_ul li a:first-child:nth-last-child(2)::before {
    content: '';
    position: absolute;
}

//* submenu positioning*/
#main_nav_ul ul {
    position: absolute;
    z-index: 1;
    left: -99999em;
    @if $skin_name == legacy {
        top: 60px;
    } @else if $skin_name == tos {
        top: 30px;
        padding: 0;
    } @else {
        top: 27px;
    }
}

#main_nav_ul > li:hover > ul {
    left: auto;
    @if $skin_name == tos {
        border-top: 3px #000000 solid;
    }
}

#main_nav_ul > li li:hover > ul {
    left: 100%;
}

header nav img:hover {
    opacity: $menu_opacity;
}

header nav li {
    display: inline-block;
}

header nav input[type=text] {
    background-color: #000000;
    color: #ffffff;
    width: 247px;
    height: $menu_input_height;
    border: $menu_input_border;
    margin: $menu_input_margin;
    padding: 0;
    display: block;
    text-align: center;
    font-size: $menu_input_font;
}
header nav input[type=submit] {
    border: none;
}

.top_button_extra {
    display: block;
    cursor: pointer;
    border: $menu_top_button_border;
    background-color: $bg_color;
    color: $menu_top_button_color;
    width: $menu_top_button_width;
    text-align: center;
    font-weight: $menu_top_button_font_weight;
    border-bottom: $menu_top_button_border_bottom;
    border-left: $menu_top_button_border_left;
    padding-top: 0;
    text-shadow: $menu_top_button_shadow;
    border-radius: $menu_top_button_radius;
}

.topbutton {
    @extend .top_button_extra;
    font-size: $menu_top_button_font;
    line-height: $menu_top_button_height;
}

.subbutton {
    font-size: $menu_sub_button_font;
    line-height: $menu_sub_button_height;
    background: $sidebutton_cpanel_bg;
    @if $skin_name == tos {
        border-bottom: 3px solid #000000;
    }
    @extend .top_button_extra;
}

.topbutton:hover,
.subbutton:hover {
    background: $menu_top_button_hover_bg;
    color: $menu_top_button_hover_color;
    @if $skin_name == tos or $skin_name == picasso {
        border: $menu_top_button_hover_border;
    }
}

.subbutton:hover {
    @if $skin_name == tos {
        border-bottom: 3px solid #000000;
    }
    else {
        border-bottom: $menu_top_button_hover_border_bottom;
    }
}

.searchbutton {
    display: block;
    float: left;
    border: $menu_top_button_border;
    background: $sidebutton_bg;
    color: $menu_top_button_color;
    height: $searchbutton_height;
    width: 280px;
    font-size: $searchbutton_font;
    border-bottom: $menu_top_button_border_bottom;
    border-left: $menu_top_button_border_left;
    padding-top: 0;
    border-radius: $menu_top_button_radius;
    margin-left: $menu_top_button_margin_left;
    text-shadow: $searchbutton_shadow;
}

@if $skin_name == tos or $skin_name == picasso {
    #home:hover,
    #search:hover {
        height: 0;
    }
}

@if $skin_name == picasso {
    #home {
        display: block;
        border-radius: 0 15px 15px 0;
        height: 26px;
        border: 2px solid #000000;
    }
    #home {
        display: block;
        background: url('../images/menu_home.png') 0 0 no-repeat;
        padding-left: 60px;
        border: 2px solid #4f4f4f;
    }
    #home:hover {
        background: url('../images/menu_home_hover.png') 0 0 no-repeat;
        padding-top: 26px;
        padding-left: 60px;
        border: 2px solid #4f4f4f;
    }
    #search {
        display: block;
        background: url('../images/menu_search.png') 0 0 no-repeat;
        padding-left: 60px;
        border-radius: 0 15px 15px 0;
        height: 26px;
        border: 2px solid #000000;
        margin-left: 2px;
    }
    #search:hover {
        background: url('../images/menu_search_hover.png') 0 0 no-repeat;
        padding-top: 26px;
        padding-left: 60px;
        border: 2px solid #4f4f4f;
    }
    @media screen and (max-width: 1550px) {
        #home {
            display: none;
        }
    }
    @media screen and (max-width: 1480px) {
        .topbutton {
            width: 153.8px;
        }
    }
} @else if $skin_name == tos {
    #main_nav {
        background-color: #ffffff;
        border-bottom: 3px solid #000000;
    }
    #search {
        background: url('../images/menu_search.png') 0 0 no-repeat;
        padding-top: 30px;
        padding-left: 30px;
    }
    #search:hover {
        background: url('../images/menu_search_hover.png') 0 0 no-repeat;
        padding-top: 30px;
        padding-left: 30px;
    }
    #home {
        display: inline-block;
        background: url('../images/menu_home.png') 0 0 no-repeat;
        padding-top: 22px;
        padding-left: 30px;
    }
    #home:hover {
        background: url('../images/menu_home_hover.png') 0 0 no-repeat;
        padding-top: 22px;
        padding-left: 30px;
    }
    @media screen and (max-width: 1590px) {
        #home {
            display: none;
        }
    }
    @media screen and (max-width: 1560px) {
        .topbutton {
            width: 165px;
        }
    }
    @media screen and (max-width: 1325px) {
        .topbutton {
            width: 155px;
        }
    }
} @else if $skin_name == legacy {
    #home {
        display: block;
        background: url('../images/menu_home.png') 0 0 no-repeat;
        padding-top: 60px;
        padding-left: 75px;
    }
    #home:hover {
        opacity: .5;
    }
    #search {
        display: block;
        background: url('../images/menu_search.png') 0 0 no-repeat;
        padding-top: 60px;
        padding-left: 75px;
    }
    #search:hover {
        opacity: .5;
    }
    @media screen and (max-width: 1919px) {
        #about {
            border-right: 1px solid #007878;
        }
    }
    @media screen and (max-width: 1550px) {
        #home {
            display: none;
        }
    }
    @media screen and (max-width: 1475px) {
        .topbutton {
            width: 156.7px;
        }
    }
}

//* responsiveness of the top menu for resolutions from 1281 to 1920 */
@media screen and (max-width: 1919px) {
    #search_text {
        display: none;
    }
    #search {
        display: none;
    }
}


//* ---------the log on menu --------*/

.log_on_menu {
    position: absolute;
    display: block;
    right: 0;
}

@if $skin_name == tos {
    @media screen and (min-width: 1280px) and (max-width: 2304px) {
        .log_on_menu {
            margin-top: 34px;
        }
    }
}

.log_on_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    float: right;
    background-color: $sidebutton_bg;
    border-bottom: $menu_top_button_border_bottom;
}

@if $skin_name != tos {
    .log_on_menu ul {
        border-radius: 3px;
    }
}

.log_on_menu li {
    float: left;
}

.log_on_menu #login {
    border-right: $menu_top_button_border_left;
    border-left: $menu_top_button_border_left;
    padding: 5px 7px;
    border: medium none;
}

.log_on_menu #signup a {
    border-radius: 0 3px 3px 0;
}

@if $skin_name != tos {
    .log_on_menu #login-trigger {
        border-radius: 3px 0 0 3px;
    }
}

.log_on_menu #login-trigger,
.log_on_menu #signup a {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 8px;
    text-decoration: none;
    color: $menu_top_button_color;
}

.log_on_menu #login-trigger:hover,
.log_on_menu #login .active,
.log_on_menu #signup a:hover {
    background: $menu_top_button_hover_bg;
    color: $menu_top_button_hover_color;
}

.log_on_menu #login-content {
    display: none;
    position: absolute;
    @if $skin_name != tos {
        top: 39px;
    } @else {
        top: 36px;
    }
    right: 0;
    z-index: 999;
    background-color: $log_on_bg;
    padding: 15px;
    box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
    border-radius: 3px 0 3px 3px;
}

.log_on_menu li #login-content {
    right: 0;
    width: 260px;
}

@if $skin_name != tos {
    .log_on_text {
        font-size: 10pt;
    }
}
@else {
    .log_on_text {
        font-size: .9em;
    }
}

::placeholder {
    color: #666;
}

.log_on_avatar {
    border-radius: 50%;
    display: inline;
    float: left;
    border: $log_on_border;
}

@media screen and (max-width: 480px) {
    #log_on_button {
        display: none;
    }
    .log_on_avatar {
        margin-top: 3px;
    }
    .log_on_menu ul {
        border: none;
    }
    .log_on_menu #login {
        padding: 2px 0;
    }
    .log_on_menu #login-trigger:hover {
        color: $menu_top_button_color;
        background-color: $sidebutton_bg;
    }
}

@media screen and (min-width: 481px) {
    #log_on_button_480 {
        display: none;
    }
}
