//*************************************************************/
//**********************PICASSO SKIN****************************/
//*************************************************************/
//*************************************************************/
//****************CPanel MENUS section css****************/
//*************************************************************/
//*---------------------Menus editor------------------------- */


.help_text {
    font-size: 12pt;
    color: #000000;
    text-align: left;
    border: 0;
}

//*----------------------------------------------------------
//Menu set edit
//------------------------------------------------------------ */

.add_new_disk_space {
    display: inline-block;
    width: 50%;
}
