/*************************************************************/	
/**********************TOS 207 SKIN***************************/
/*************************************************************/ 

/*************************************************************/	
/********CPanel MAIN structure and LEFT and RIGHT css*********/
/*************************************************************/ 

/*---------------------------------------------------------- 
Front page
------------------------------------------------------------ */
#user_stats{ float: right; width:48%; margin-bottom: 30px;}	
#welcome_cpanel{ float: left; width:48%; margin-bottom: 30px;}	
#left_nav_position_front{ margin-top: -40px; margin-bottom: 20px; float: left;}
#main_stats_position_front{ margin-top: -40px; margin-bottom: 20px;}
#quick_search_position_front{ margin-top: -40px; margin-bottom: 20px; float: right;}

.user_stats_img{ max-width: 100%;
		box-shadow: 0 0 12px black;	
		opacity: 0.8;
		margin-bottom: 10px;
}
.main_stats_container {
  display: flex;
  align-items: flex-start; 
 }
  
#child_some_stats { width:45%; float:left;}
#child_good_karma,#child_bad_karma{ width:27%; float:left;}

.main_stats_child  table { width:98%;}
#user_stats table { width:100%;}
#welcome_cpanel table { width:100%;}

/*---------------------------------------------------------- 
Left nav
------------------------------------------------------------ */
#leftnav_position_front { margin-top: 20px; margin-bottom: 30px; float: left;
}

.left_nav_section{
	font-weight: bold;
	border-bottom: solid 2px #b2b2b2;
	border-top: solid 2px #b2b2b2;
	background-color:#DBD7D1;
	border-collapse: collapse;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:3px;
	margin:0;
	text-align: center;
	list-style-type: none;
}

.left_nav_link:link { color: #122323;}

.left_nav_link:visited { color: #122323;}

.left_nav_link:hover { color: #6a6a6a;}

/*---------------------------------------------------------- 
Quick search games
------------------------------------------------------------ */
.quick_search_check {margin-right: 5px;}
#quick_search_games_main{margin-top: 20px; margin-bottom: 00px; float: left;}

#quick_search_options{display:table; 
	width:75%; 
	margin-left:auto;
	margin-right: auto;
	text-align:left;		
}

.quick_search_games_button{  
	  cursor: pointer;
	  border: 0;
	  background: white;
	  color: #182727;
	  border-bottom: 3px solid black;
	  padding-top: 3px;
	  text-shadow: -1px 1px 5px white, 1px -1px 15px #acacac;
	  height: 25px;
	  width: 80px;
	  font-size: 13px;
}

.quick_search_games_button:hover {
  background: black;
  color: white;
}


#quick_search_pub_select{ 
	background: #666666;
	width: 185px;
	margin-top: 0;
	height: 25px;
}

#quick_search_dev_select{ 
	background: #666666;
	width: 185px;
	margin-top: 0;
	height: 25px;
}

#quick_search_small_select{ 
	background: #666666;
	width: 50px;
	height: 25px;
}