/*************************************************************/	
/**********************PICASSO SKIN***************************/
/*************************************************************/ 

/*************************************************************/	
/*****************CPanel USER section css*********************/
/*************************************************************/ 

/*---------------------------------------------------------- 
User details
------------------------------------------------------------ */
#leftnav_position_userdetails{margin-top: 50px; margin-bottom: 30px; float: left;}
#quick_search_games_position_userdetails{margin-top: 50px; margin-bottom: 30px;}
#user_details{ margin-top: 50px; margin-bottom: 30px; float: left;}
#user_details_img_dark{ box-shadow: 0 0 12px black; margin-left:1%;}

.user_details_container{
  display: flex; 
 }
 
#child_1, #child_2{ width:50%; margin-left:2%;}
.user_details_text{width:50%;display:table-cell;}
.user_details_input{width:50%;display:table-cell;}
.user_details_row{display:table;width:100%;}


/*---------------------------------------------------------- 
User statistics
------------------------------------------------------------ */
#leftnav_position_userstatistics{ margin-top: 50px; margin-bottom: 30px; float: left;}
#user_statistics{ margin-top: 50px; margin-bottom: 30px; float: left;}


/*---------------------------------------------------------- 
User main
------------------------------------------------------------ */
#leftnav_position_usermain{ margin-top: 50px; margin-bottom: 30px; float: left;}
#quick_search_position_usermain {margin-top: 50px; margin-bottom: 30px;}
#user_main{ margin-top: 50px; margin-bottom: 30px; float: left;}
#main_stats_position_usermain{ margin-top: 0; margin-bottom: 30px; float: left;}

.user_main_container{
  display: flex; 
  justify-content: center;
  align-items: center;
 }


/*---------------------------------------------------------- 
User search
------------------------------------------------------------ */
#leftnav_position_usersearch{ margin-top: 50px; margin-bottom: 30px; float: left;}
#quick_search_games_position_usersearch{ margin-top: 50px; margin-bottom: 30px; }
#usersearch{ margin-top: 50px; margin-bottom: 30px; float: left;}
#usersearch th {text-align:left;}
.username_th,.joindate_th,.lastvisit_th{width:25%;}
.username_td,.joindate_td,.lastvisit_td{width:25%;color: black; font-size: 12pt; padding-left: 2px;}
.email_th{width:10%;}
.email_td{width:10%;color: black; font-size: 12pt; padding-left: 2px;}
.website_th{width:15%;}
.website_td{width:15%;color: black; font-size: 12pt; padding-left: 2px;}
#user_search_main_tabel{border:0; width:100%; margin-top:3px; margin-bottom:3px;}


/*---------------------------------------------------------- 
User karma
------------------------------------------------------------ */
#leftnav_position_karma{ margin-top: 50px; margin-bottom: 30px; float: left;}
#quick_search_games_position_karma{ margin-top: 50px; margin-bottom: 30px;}
#karma{ margin-top: 50px; margin-bottom: 30px; float: left;}
.karma_column{width:50%; text-align:center;}