/*************************************************************/	
/**********************PICASSO SKIN***************************/
/*************************************************************/ 

/*************************************************************/	
/*****************CPanel LINKS section css********************/
/*************************************************************/ 

/*---------------------------------------------------------- 
Links addnew
------------------------------------------------------------ */
#leftnav_position_linkaddnew{ margin-top: 50px; margin-bottom: 30px; float: left;}
#linkaddnew{ margin-top: 50px; margin-bottom: 30px; float: left;}
#linkvalidate{ margin-bottom: 30px; float: left;}
#quick_search_games_position_linkaddnew{margin-top: 50px; margin-bottom: 30px;}


@media screen and (max-width: 1279px) { 
	#leftnav_position_linkaddnew{ margin-top: 20px;}
	#linkaddnew{margin-top: 20px;}
}

@media screen and (max-width: 480px) { 
	#linkaddnew{ margin-top: 0;}
}

.links_addnew_area { background: #666666;
				color: #ffffff;				
				width: 90%;
				height: 150px;
				margin-top:0;
				padding: 0;
				padding-left: 5px;
				border: 1px solid #b2b2b2;
				text-align: left;
}

.links_addnew_row select  { 
	background: #666666;
	border: 1px solid #b2b2b2;
	color: #ffffff;				
	margin-top:0;
	padding: 0;
	padding-left: 5px;
	height: 25px;
	width: 185px;
}

.links_addnew_text{width:25%;display:table-cell; vertical-align:top;}
.links_addnew_input{width:75%;display:table-cell;}
.links_addnew_row{display:table;width:100%;}

.links_addnew_info { font-size: 11pt; color: black; padding: 5px;}

.links_addnew_link:link { 
	color: #161c71;
}

.links_addnew_link:visited { 
	color: #161c71;
}

.links_addnew_link:hover { 
	color: black;
}

@media screen and (max-width: 480px) { 
.links_addnew_text{width:50%;display:inline;}
.links_addnew_input{width:50%;display:inline;}
.links_addnew_row{width:50%;}
}

/*---------------------------------------------------------- 
Links Modify list
------------------------------------------------------------ */
.links_modlist_tdline{ font-size: 11pt; color: black; padding: 5px; border-bottom: solid 1px #b2b2b2; } 

.user_stats_img_dark{ box-shadow: 0 0 12px black;
					margin: 10px 5px 10px 5px;
					max-width: 100%;
					opacity: 0.8;
					filter: alpha(opacity=40); /* For IE8 and earlier */}
					
#leftnav_position_linkmodlist {margin-top: 50px; margin-bottom: 30px; float: left;}
#quick_search_games_linkmodlist{margin-top: 50px; margin-bottom: 30px;}
#linkmodlist{ margin-top: 50px; margin-bottom: 30px; float: left;}

.links_list_text{margin-right:1%;}
.links_list_input{margin-left:1%;}

.links_list_row{
  display: flex; 
  justify-content: center;
  align-items: center;
 }
 
@media screen and (max-width: 500px) { 
	.links_list_row{
			flex-direction: column;
	}
}
	
@media screen and (max-width: 1279px) { 
	#leftnav_position_linkmodlist{ margin-top: 20px;}
	#linkmodlist{margin-top: 20px;}
}

@media screen and (max-width: 480px) { 
	.user_stats_img_dark{display : none;}
}	

/*---------------------------------------------------------- 
Links category
------------------------------------------------------------ */
#leftnav_position_linkcat{margin-top: 50px; margin-bottom: 30px; float: left;}
#linkcat{ margin-top: 50px; margin-bottom: 30px; float: left;}
#quick_search_games_position_linkcat{margin-top: 50px; margin-bottom: 30px;}
.link_cat_td { text-align:right;}

@media screen and (max-width: 1279px) { 
	#leftnav_position_linkcat{ margin-top: 20px;}
	#linkcat{margin-top: 20px;}
}

@media screen and (max-width: 480px) { 
	#linkcat{ margin-top: 0;}
}

@media screen and (max-width: 500px) { 
#linkcat_wide{ display: none;}
}

@media screen and (min-width: 499px) { 
#linkcat_small{ display: none;}
}

/*---------------------------------------------------------- 
Links Modify
------------------------------------------------------------ */					
#leftnav_position_linkmod {margin-top: 50px; margin-bottom: 30px; float: left;}
#link_mod{margin-top: 50px; margin-bottom: 30px; float: left;}
#quick_search_games_position_linkmod{margin-top: 50px; margin-bottom: 30px;}

@media screen and (max-width: 1279px) { 
	#leftnav_position_linkmod{ margin-top: 20px;}
	#link_mod{margin-top: 20px;}
}

@media screen and (max-width: 480px) { 
	#link_mod{ margin-top: 0;}
}

.links_mod_text{width:35%;display:table-cell; vertical-align:top;}
.links_mod_input{width:65%;display:table-cell;}
.links_mod_row{display:table;width:100%;}

@media screen and (max-width: 550px) { 
.links_mod_text{width:100%;display:block;}
.links_mod_input{width:100%;display:block;}
.links_mod_row{width:100%;margin-bottom:10px;}
}

@media screen and (max-width: 600px) { 
#user_stats_img_dark{display : none;}
}
