/*************************************************************/	
/**********************PICASSO SKIN***************************/
/*************************************************************/

/* ---------SASS variables declaration--------*/
$support-for: (
  chrome:  16,
  edge:    10,
  firefox: 10,
  ie:      9,
  opera:   12,
  safari:  5,
);

$skin-name: "picasso";
$bg-color: #161c71;



/* ---------------SASS includes---------------*/
@import "normalize/import-now";										/* --> Normalize script






/********************PART I : MAIN SITE***********************/

/* load the main site font */
@font-face {
 font-family: robot;
   src: url(../font/Ubuntu.ttf),
		url(../font/Ubuntu.woff);
}		
	
* { 	margin: 0; padding: 0; 
}

html { overflow-y: scroll; 
	overflow-x: hidden;
}

body { background: #dbd7d1; 
	  font-family: robot, arial, helvetica, sans-serif;
}

body a {text-decoration:none;}
body a:hover {text-decoration:none;}
body a:visited {text-decoration:none;}

@media screen and (min-width: 481px) { 
	body { background-image: url(../../../templates/2/images/top_bg_sides.jpg);
		  background-position: left top;
		  background-repeat: repeat-x;
	}
}

@media screen and (min-width: 1280px){
	body { background-image: url(../../../templates/2/images/top_bg_menu.jpg), url(../../../templates/2/images/top_bg_sides.jpg);
	  background-position: left 220px, left top;
	  background-repeat: repeat-x, repeat-x;}
}

@media screen and (min-width: 1920px) { 
	body {	background-image: url(../../../templates/2/images/top_bg_left.jpg), url(../../../templates/2/images/top_bg_right.jpg), url(../../../templates/2/images/top_bg_menu.jpg);
			background-position: left 2px, right 2px, left 220px;
			background-repeat: no-repeat, repeat-x, repeat-x;
		 }
}

@media screen and (min-width: 1921px) { 
	body { 	background-image: url(../../../templates/2/images/top_bg_sides.jpg), url(../../../templates/2/images/top_bg_menu.jpg), url(../../../templates/2/images/main_bg.png), url(../../../templates/2/images/main_bg.png); 
			background-position: left top, left 220px, -3% 45%, 110% 135%, left top;
			background-repeat: repeat-x, repeat-x, no-repeat, no-repeat;
		}
}

img { display: block;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
	display: block;
}

/*---------------------------------------------------------- 
 Main site width
------------------------------------------------------------ */
#wrapper {
	width: 100%;	
	max-width: 1920px;
	margin: auto;
} 

#wrapper_header {
	width: 100%;	
	max-width: 1280px;
	margin: auto;
} 

#main {
	width: 100%;
	margin-right: 5%;
	float: left;
}		
	
/*---------------------------------------------------------- 
 Top
------------------------------------------------------------ */
/* background */
#top_background {
	width: 100%;
	float: left;
	display: block;
	background: url(../../../templates/2/images/top_bg.jpg) 0 0 no-repeat;
	height:100%;
	}

	
/* logos */	
#left { 	float: left;}
#logo_img { 	max-width: 100%;}
#logo_img_480 {	max-width: 100%;}	

			
#right { float: right;}
	#right img {
		max-width: 100%;
		float: right;
		margin-right: 35px;
		margin-top: 10px;
		}			

@import '../../../templates/html/includes/main_scss/top_animation'; /* --> TOP animation */

/* at a resolution of max 480 (smartphones) we want a smaller logo with border */		
@media screen and (max-width: 480px) { 
	.container { width: 15%; } 
	#left { width: 85%;
		}	
	#logo_img { margin-left: auto;
			margin-right: auto;
			display: none;
		}
	#logo_img_480  { margin-left: auto;
			margin-right: auto;
			margin-bottom: 5px;		
		}
	#right { width: 0%;
		display: none;
	}
	#top_background  { border-top-width: 0px;
			border-left-width: 0px;
			border-bottom-width: 7px;
			border-bottom-color: #161c71;
			border-style: solid;
			box-shadow: 0 0 7px #161c71;
		    background: -webkit-linear-gradient(black, #161c71); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient(black, #161c71); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient(black, #161c71); /* For Firefox 3.6 to 15 */
			background: linear-gradient(#161c71, black); /* Standard syntax (must be last) */
		}
}		

/* at a resolution of max 960 (Tablets & low res laptop) we want the original logo without the bee */				
@media screen and (min-width: 481px) and (max-width: 960px){  
	.container { width: 15%; } 
	#left { width: 100%; }
	#logo_img{ margin-left: auto;
			   margin-right: auto; 
			   margin-top: 0px;
		}
	#logo_img_480{ display: none;}
		
	#right { width: 0%;
		display: none;
	}
}

/* For high res screens we want the full package - original logo and bee */
@media screen and (min-width: 961px) { 
	.container { width: 15%; } 
	#left { width: 50%;}
	#logo_img_480{ display: none;}	
	#right{ width: 35%;
		display: block;
		text-align: right;}
	}	

@import '../../../templates/html/includes/main_scss/menu'; /* --> TOP and SIDE MENU */

/*---------------------------------------------------------- 
 Main site
------------------------------------------------------------ */	

/* Up until width of 639 we have 1 tile per rows
 from 640 to 800 we have 2 tiles.
 From a width of 801 we will be having rows of 3 tiles */
 
/*------------------------------------------------------------
Standard tile settings 
-------------------------------------------------------------*/
.column-left { width: 32%; 
	 float:left;
}

.column-center { width: 32%; 
	 float:left;
	 margin-left: 2%;
}

.column-right { width: 32%; 
	 float:right;
}

.column-wide-left { width: 64%; 
	 float:left;
	 margin-top:0;
}

.column-wide-right { width: 32%; 
	 float:right;
	 margin-top:0;
}

.column-wide-right_1920 {display: none;	}
.column-wide-left_1920 {display: none;}
.column-wide-center_1920{display: none;}

/* 2 tiles and background welcome image */
@media screen and (min-width: 640px) and (max-width: 800px)
{
	.column-left { width: 48%; 
			margin-top: -395px;
	}
	.column-center { width: 48%; float:right;
	}
	.column-right{display : none;}
	.column-left-tab { width: 48%; float: left;}
	.column-right-tab { width: 48%; float: right}
	.column-wide-right {width: 48%; float: right}
	.column-wide-left {width: 100%; }
}

/* 1 tile and a simplified intro screen */
@media screen and (max-width: 639px) { 
	.column-left { width: 100%; } 
	.column-center { width: 100%; margin-left: 0px;}
	.column-right { width: 100%; }	
	.column-right-tab {display:none}
	.column-left-tab {display:none}
	.column-wide-right { width: 100%;}
	.column-wide-left {display:none}
}

@media screen and (min-width: 801px) { 
	.column-right-tab {display:none}
	.column-left-tab {display:none}
}

/*  4 tiles and background welcome image */
@media screen and (min-width: 1495px){ 
	.column-wide-left { width: 49%;}
	.column-wide-center_1920 { display:inline; width: 100%;}
	.column-wide-right_1920 { width: 24.75%; float: right; display:inline;}
	.column-wide-left_1920 { width: 24.75%; float: left; display:inline;}
	.column-wide-right {display: none;}
	.column-left {display: none;}
	.column-center{display: none;}
	.column-right {display: none;}
}

.standard_tile  { width: 100%; 
		/*background-color: #a6a6a6;*/
		background: -webkit-linear-gradient(bottom, white , #a6a6a6); /* For Safari 5.1 to 6.0 */
	    background: -o-linear-gradient(bottom, white, #a6a6a6); /* For Opera 11.1 to 12.0 */
	    background: -moz-linear-gradient(bottom, white, #a6a6a6); /* For Firefox 3.6 to 15 */
	    background: linear-gradient(to top, white, #a6a6a6); /* Standard syntax */
		border-top: 10px solid #161c71;
		border-bottom: 3px solid #161c71;
		border-left : 1px solid #161c71;
		border-right : 1px solid #161c71;
	}

.standard_tile_line{ border-bottom: 2px solid black;
	}
	
.standard_tile_background{
		position:relative;
}

.standard_tile_image{ width: 100%; 	
		position:absolute;
		left:0;
		top:0;
}

.standard_tile_subtext
{
	font-size:10pt; 
	color:#161c71;
	font-weight: bold;
}

.standard_tile p { 
		text-align: left;
		border-right: 2px solid #484c7b;
		/*border-left: 2px solid #01b5b5;*/
		padding-left: 4%;
		padding-right: 4%;
		width: 91.7%;
}
				
.standard_tile_title{ 
		background: rgb(192, 193, 202) transparent;   /* Fallback for web browsers that doesn't support RGBa */
        background: rgba(192, 193, 202, 0.6);   /* RGBa with 0.6 opacity */
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#c0c1ca, endColorstr=#c0c1ca);  /* For IE 5.5 - 7*/
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#c0c1ca, endColorstr=#c0c1ca)";  /* For IE 8*/
		padding-top:3%;
		font-size : 17pt;
		font-weight: 100;
		margin-top : 47%;
		color : white; 	
		z-index:1;
		position:absolute;
	    border-bottom: 2px solid #484c7b;
}

@media screen and (max-width: 5501px) { 
.standard_tile_title{ margin-top : 47.5%;
	}
}

@media screen and (max-width: 1921px) { 
.standard_tile_title{ margin-top : 48.5%;
	}
}

@media screen and (max-width: 1801px) { 
.standard_tile_title{ margin-top : 47%;
	}
}

@media screen and (max-width: 1701px) { 
.standard_tile_title{ margin-top : 46%;
	}
}

@media screen and (max-width: 1601px) { 
.standard_tile_title{ margin-top : 45%;
	}
}

@media screen and (max-width: 1501px) { 
.standard_tile_title{ margin-top : 44.5%;
	}
}

@media screen and (max-width: 1401px) { 
.standard_tile_title{ margin-top : 47.5%;
	}
}

@media screen and (max-width: 1301px) { 
.standard_tile_title{ margin-top : 46.5%;
	}
}

@media screen and (max-width: 1201px) { 
.standard_tile_title{ margin-top : 45.5%;
	}
}

@media screen and (max-width: 1101px) { 
.standard_tile_title{ margin-top : 44%;
	}
}

 @media screen and (max-width: 1001px) { 
.standard_tile_title{ margin-top : 42.5%;
	}
}

 @media screen and (max-width: 900px) { 
.standard_tile_title{ margin-top : 40.5%;
	}
}

@media screen and (max-width: 800px) { 
.standard_tile_title{ margin-top : 45.5%;
	}
}

@media screen and (max-width: 700px) { 
.standard_tile_title{ margin-top : 42%;
	}
}

@media screen and (max-width: 639px) { 
.standard_tile_title{ margin-top : 51%;
	}
}

@media screen and (max-width: 525px) { 
.standard_tile_title{ margin-top : 49%;
	}
}

@media screen and (max-width: 480px) { 
.standard_tile_title{ margin-top : 48	.5%;
	}
}

@media screen and (max-width: 360px) { 
.standard_tile_title{ margin-top : 44%;
	}
}

@media screen and (max-width: 320px) { 
.standard_tile_title{ margin-top : 42.5%;
	}
}

@media screen and (max-width: 250px) { 
.standard_tile_title{ margin-top : 38%;
	}
}

.standard_tile_explanation { position: relative;
					margin-top: 65%;
					margin-bottom: 4%;
					padding-left: 3%;
					padding-right: 3%;
					padding-bottom: 3%;}
					

.standard_tile h1 { color: black;
			font-size: 18pt;
			font-weight: bold;
			text-align: center;	
			margin-top:20px;
			margin-bottom:20px;
			text-shadow: 0 0 0.2em white
	}
	
.standard_tile h2 { color: #00d3d3;
			font-size: 10pt;
			font-weight: bold;
			font-style: italic;
			float: right;	
	}
	
.standard_tile h3 { color: black;
			font-size: 13pt;
			font-weight: 100;
			text-align: center;
	}
	
.standard_tile h4 { color: black;
			font-size: 13pt;
			font-weight: 100;
			text-align: left;
	}
 
.standard_tile h5 { color: black;
			font-size: 9pt;
			font-weight: 100;
			text-align: left;
	}

.standard_tile h6 { color: black;
			font-size: 11pt;
			font-weight: 100;
			text-align: left;
	}
	
.standard_tile_input { background : url(../images/logon_input.png) 0 0 no-repeat; 
				color: #ffffff;				
				width: 85%;
				height: 44px;
				margin-top:0;
				padding: 0;
				padding-left: 5px;
				border: 0;
				text-align: left;
				display: block;
				background-size: 85% 42px;
				font-family: Robot, Arial;	
}

.standard_tile_input_small { background : #666666;
				color: #ffffff;				
				width: 185px;
				height: 18px;
				margin-top:0;
				padding: 3px;
				padding-left:7px;
				border: 1px solid #b2b2b2;
				text-align: left;
				font-family: Robot, Arial;	
}

.standard_tile_input_area { background : #666666;
				color: #ffffff;				
				width: 90%;
				height: 40px;
				margin-top:0;
				padding: 3px;
				padding-left:7px;
				border: 1px solid #b2b2b2;
				text-align: left;
				font-family: Robot, Arial;	
}

#text_area_big { height: 150px; }

.standard_tile_link:link { text-decoration: none;
	color: black;
}

.standard_tile_link:visited { text-decoration: none;
	color: black;
}

.standard_tile_link:hover { text-decoration: none;
	color: #161c71;
}

.standard_tile_link_reverse:link { text-decoration: none;
	color:  black;
}	

.standard_tile_link_reverse:visited { text-decoration: none;
	color:  black;
}
	
.standard_tile_link_reverse:hover { text-decoration: none;
	color: white;
}

.standard_tile_link_cpanel:link { text-decoration: none;
	color: #6a6a6a;
	font-size: 11pt;
}	

.standard_tile_link_cpanel:visited { text-decoration: none;
	color:  #6a6a6a;
}
	
.standard_tile_link_cpanel:hover { text-decoration: none;
	color: #122323;
}

.standard_tile_link_black:link { text-decoration: none;
	color: black;
	font-weight:bold;
}

.standard_tile_link_black:visited { text-decoration: none;
	color: black;
}

.standard_tile_link_black:hover { text-decoration: none;
	color: #6a6a6a;
}

.standard_tile_link_button:link { 
		text-decoration: none;
		color : white;
	} 

.standard_tile_link_button:visited { text-decoration: none; }
.standard_tile_link_button:hover { text-decoration: none; }
	
	
.standard_list_entry{position : relative;
		width: 100%;
		height: 140px;
		display: table;
 }
 
.standard_list_entry_odd{position : relative;
		width: 100%;
		height: 140px;
		display: table;
		background: #6a6a6a;
 }

.standard_list_entry_left{
		left: 0px;
		width: 50%;
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
}

.standard_list_entry_left img { max-width: 100%;
		width: 80%;
		box-shadow: 0 0 7px #484c7b;
		margin-left: 15px;
}

.standard_list_entry_left img:hover{ box-shadow: 0 0 7px white;}

.standard_list_entry_right{
		left: 48%;
		width: 50%;
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
}
 
.standard_list_entry_right_news_text {
		margin: 0;
  		padding: 0;
  		-moz-box-sizing: border-box;
  		-webkit-box-sizing: border-box;
  		box-sizing: border-box;

		display: block;
  		/* Fallback for non-webkit */
  		display: -webkit-box;
  		height: 70px;
  		/* Fallback for non-webkit */
    		line-height: 1.2;
  		-webkit-line-clamp: 5;
  		-webkit-box-orient: vertical;
  		overflow: hidden;
  		text-overflow: ellipsis;		
}

@media screen and (min-width: 450px) and (max-width: 639px) { 
	.standard_list_entry{height: 180px;}
} 
 
.standard_tile_text { padding : 20px;}
 
.standard_tile select  { 
	background-color: black;
	border: 1px solid #b2b2b2;
	color: #ffffff;				
	margin-top:5px;
	padding: 0;
	padding-left: 5px;
	font-family: Robot, Arial;	
	width: 78%;
	height: 20px;}

#small_select{ background: #666666;
	width: 50px;
	height: 26px;	 
	margin-top: 0px;
}

#medium_select{ background: #666666;
	width: 185px;
	height: 28px;	 
	margin-top: 0px;
}

#medium_select2{ 
	width: 140px;
	margin-top: 0px;
	height: 25px;
	background: #666666;
}

/*---------------------------------------------------------- 
 Welcome tile settings --> frontpage
------------------------------------------------------------ */
#welcome { position: relative;
		width: 845px; 
		height: 460px; 
		overflow: hidden;
		margin-top: -10px;
		border-top: 10px solid #161c71;
		border-bottom: 3px solid #161c71;
		border-left: 1px solid #161c71;
		border-right: 1px solid #161c71;
		margin-bottom:20px;
		float: left;
}

.welcome_slides { cursor: move; 
		position: absolute; 
		left: 0px; 
		top: 0px; 
		width: 845px; 
		height: 460px; 
		overflow: hidden;
}

#welcome p { background: rgb(192, 193, 202) transparent;   /* Fallback for web browsers that doesn't support RGBa */
        background: rgba(192, 193, 202, 0.6);   /* RGBa with 0.6 opacity */
		text-align: center;
		border-right: 2px solid #484c7b;
		padding-left: 5%;
		padding-right: 5%;
	}	
	
.welcome_text { font-size : 11pt; 
		padding-bottom: 10px;	
		padding-top: 10px;	
		color : #161c71;
		border-bottom: 2px solid #484c7b;	
		position: absolute;		
		Margin-top: 130px;
	}
	
.trivia_title { color: black; font-size:20pt;}
.trivia_tag { font-size:13pt;}
.trivia_text{ color: black; font-size : 13pt; }

/* 1 tile and a simplified intro screen */
@media screen and (max-width: 639px) { 
	#welcome  { visibility : hidden; }	
}

/* 2 tiles and background welcome image */
@media screen and (min-width: 640px) and (max-width: 800px) { 
	#welcome  { margin-bottom: 20px;
	}
}

/*---------------------------------------------------------- 
logon tile --> front page
------------------------------------------------------------ */
.logon { margin-top: -10px;
		float : right;
		margin-bottom : 20px;
		width: 100%;
}
	
.logon_input_usn{position : relative;
			width: 100%;
			margin-top:20px;
			margin-left: 10%;
 }

.logon_left{position: absolute;
		left: 0px;
		width: 10%;
}
.logon_right{position: absolute;
		left: 45px;
		width: 90%;
}
 
.logon_input_pwd{position : relative;
			width: 100%;
			margin-top:85px;
			margin-left: 10%;
 }
 
.logon_signin{ margin-top:170px; 
}

.logon_signin img{ display:block;
    margin:auto;
}

.logon_signin img:hover{ opacity:0.7;}

.logon_socmed{ margin-top:10px; 
}

.logon_socmed img{ display:block;
    margin:auto;
	width: 40%;	
}

.logon_socmed img:hover{ opacity:0.7;}	

/* 2 tiles and background welcome image */
@media screen and (min-width: 640px) and (max-width: 800px) { 
	.logon { margin-top: 0px;}
}

/* 1 tile */
@media screen and (max-width: 639px) { 
	.logon  { width: 100%; 
	margin-top: 0px;	
	margin-bottom: 20px;
	}
}

/*---------------------------------------------------------- 
latest news tile --> front page
------------------------------------------------------------ */
.latest_news { margin-bottom: 20px;}

@media screen and (min-width: 640px) and (max-width: 800px) { 
	.latest_news { margin-top: 395px;
	}
}

@media screen and (min-width: 1495px){ 
	.latest_news   { float: left; width: 48%;} 
}


/*---------------------------------------------------------- 
screenstar tile - front page
------------------------------------------------------------ */
.screenstar_position_front { margin-bottom: 20px;}

@media screen and (min-width: 1495px){ 
	.screenstar_position_front  { float:left; width: 94%; margin-top: -10px;} 
}

/*---------------------------------------------------------- 
datequote tile - front page
------------------------------------------------------------ */
.datequote_position_front { 	margin-bottom: 20px; }

.datequote_bg { background: url(../../../templates/2/images/datequote_bg.jpg) ;}

/* 1 and 2 tiles */
@media screen and (max-width: 800px) { 
	.datequote_position_front { margin-top: 0px;}
}

@media screen and (min-width: 1495px){ 
	.datequote_position_front { float:left; width: 94%;} 
}

.datequote_bg p {text-align: center;}

.datequote_day{ font-size : 85pt;
		color : white; 
		margin-top: 0px;
		margin-bottom: -20px;
}

.datequote_month { font-size : 30pt;
		color : white;
		margin-top: -10px;
		margin-bottom: -10px;
	}

.datequote_year { font-size : 55pt;
		text-align: center;
		color : #cccccc; 
		margin-top: -10px;
	}

.datequote_text { background: rgb(192, 193, 202) transparent;   /* Fallback for web browsers that doesn't support RGBa */
        background: rgba(192, 193, 202, 0.6);   /* RGBa with 0.6 opacity */
		color: white; 
		padding-top: 10px;
		padding-bottom: 10px;
	}	

/*---------------------------------------------------------- 
Who is it - front page
------------------------------------------------------------ */
.whoisit_position_front { margin-bottom: 20px; }

@media screen and (min-width: 1495px){ 
	.whoisit_position_front  { float:right;} 
}

/*---------------------------------------------------------- 
Latest reviews tile - front page
------------------------------------------------------------ */
.latest_reviews{ margin-bottom: 20px;}	
		
@media screen and (min-width: 1495px){ 
	.latest_reviews  { width: 49%; float: right;} 
}

/*---------------------------------------------------------- 
Did you know tile - front page
------------------------------------------------------------ */
.didyouknow_position_front{ margin-bottom: 20px; }	
			
@media screen and (min-width: 1495px){ 
	.didyouknow_position_front  {float:left; width:100%;} 
}	

/*---------------------------------------------------------- 
Statistics tile - front page
------------------------------------------------------------ */
.statistics_position_front{ margin-bottom: 20px; }	

.statistics_dark { color: #161c71; }

@media screen and (min-width: 1495px){ 
	.statistics_position_front  {float:left; width:100%;} 
}
	
/*---------------------------------------------------------- 
Hotlinks tile - front page
------------------------------------------------------------ */
.hotlinks_position_front{ margin-bottom: 20px; }	
				
@media screen and (min-width: 1495px){ 
	.hotlinks_position_front {width: 94%; float: left;} 
}	

/*---------------------------------------------------------- 
contact tiles - front page
------------------------------------------------------------ */
.contact_tiles { margin-bottom: 20px;
			background: none;
			border: none;
}

.contact_tiles  img{ margin-bottom: 20px;
			max-width: 100%;
}
	
@media screen and (min-width: 1495px){ 
	.contact_tiles { width: 49%; float: right;} 
}
			
/*---------------------------------------------------------- 
 Footer
------------------------------------------------------------ */
.footer{ width: 100%;
		float: left;	
		border-top: 10px solid #161c71;
		background: url(../images/bottom_bg_sides.jpg) left 0 repeat-x;
	}

.footer_logo{ color: white;
		font-size: 10pt;
		text-align: center;
		height : 120px;
		background: url(../images/footer_bg.jpg) center 0 no-repeat;
	}

#footer_img {margin-left: auto;
			margin-right: auto;
			margin-bottom: 5px;	
	}
	
/* Component containers
----------------------------------*/
.ui-widget-content {
	border: 1px solid #161c71;
	background: #000000;
	color: #ffffff;
	width: 245px;
	font-family: robot;
	font-size:13px;
}

/* Interaction states
----------------------------------*/

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #4f4f4f;
	background: #dbd7d1;
	color: #000;
}
	
	
	
	
	
/* *********************PART II : CPANEL*****************************/

/* ---------the side menu--------*/

/* the side menu for smartphones, tablets and old (laptop) screens */
/* it is also used for the high res monitors, but then only the skin switch will be visible */
	.container_cpanel {
		display : block;
		z-index: 3;
		position: relative;
        width: 100%;
        left: 0;
        -webkit-transition:  left 0.4s ease-in-out;
        -moz-transition:  left 0.4s ease-in-out;
        -ms-transition:  left 0.4s ease-in-out;
        -o-transition:  left 0.4s ease-in-out;
        transition:  left 0.4s ease-in-out;
    }
    
    #sidebar_cpanel {
		z-index:1;
		position: absolute;
		box-sizing: border-box;
    }
	
    #sidebar_cpanel ul li a {
        display: block;
        -webkit-transition:  background 0.3s ease-in-out;
        -moz-transition:  background 0.3s ease-in-out;
        -ms-transition:  background 0.3s ease-in-out;
        -o-transition:  background 0.3s ease-in-out;
        transition:  background 0.3s ease-in-out;
    }

	.container_cpanel.open-sidebar_cpanel{ left: 245px;}
	#sidebar_cpanel{ left: -245px;
        width: 245px;
	}
	.sub-menu_cpanel li { font-size:20px; }
	
    .main-content #sidebar_cpanel-toggle {
        background: #161c71;
        border-radius: 3px;
        display: block;
        position: absolute;
        padding: 10px 7px;
        float: left;
    }
	
    .main-content #sidebar_cpanel-toggle .bar{
        display: block;
        width: 18px;
        margin-bottom: 3px;
        height: 2px;
        background-color: #fff;
        border-radius: 1px;   
    }
	
    .main-content #sidebar_cpanel-toggle .bar:last-child{
         margin-bottom: 0;  
    }

	
	/*-----some code for the skin submenu-------*/
	
	.clearfix_cpanel:after {
		display:block;
		clear:both;
	}

	/*----- Menu Outline -----*/
	.skin-wrap_cpanel {
		width:100%;
	}
	 
	.skin-menu_cpanel {
		width:100%;
		margin:0px auto;
	}
	 
	.skin-menu_cpanel li {
		margin:0px;
		list-style:none;
	}
	 
	.skin-menu_cpanel a {
		transition:all linear 0.15s;
	}
	 
	 
	/*----- Top Level -----*/
	.skin-menu_cpanel > ul > li {
		float:left;
		display:inline-block;
		position:relative;
	}
	 
	/*----- Bottom Level -----*/
	.skin-menu_cpanel li:hover .sub-menu_cpanel {
		z-index:1;
		opacity:1;
	}

	.sub-menu_cpanel {
		width:75%;
		padding:5px 0px;
		position:absolute;
		top:100%;
		left:20px;
		z-index:-1;
		opacity:0;
		transition:opacity linear 0.15s;
	}	 
	
/* 'position' is needed for smartphone view else the logo is covered by the sidemenu button */
@media screen and (max-width: 480px) { 
	.main-content_cpanel {position: relative;}
	.main-content_cpanel #sidebar-toggle_cpanel {position: relative;}
	}	
	
/* resizing of buttons is done to get al info on screen in landscape for phones and tablets*/
@media screen and (max-width: 640px) { 
	#games_side_cpanel{height: 40px; width: 113px; font-size: 14px;}
	#menus_side_cpanel{height: 40px; width: 113px; font-size: 14px;}
	#demos_side_cpanel{height: 40px; width: 113px; font-size: 14px;}
	#users_side_cpanel{height: 40px; width: 113px; font-size: 14px;}
	#admin_side_cpanel{height: 40px; width: 113px; font-size: 14px;}
	#other_side_cpanel{height: 40px; width: 113px; font-size: 14px;}
	#skin_side_cpanel{height: 40px; width: 113px; font-size: 14px;}
	.container_cpanel.open-sidebar_cpanel { left: 225px;}
    #sidebar_cpanel { left: -225px;
        width: 225px;
	}
	.sub-menu_cpanel li { font-size:13px; }
}

/* for the lower resolutions, we don't have the menu bar below the top */ 
@media screen and (max-width: 1279px) {  	
	#main_nav_cpanel { display: none; }
}

/* for the high resolutions, we only have the skin switch in the side menu */ 
@media screen and (min-width: 1280px) {  	
	#games_side_cpanel , #demos_side_cpanel, #users_side_cpanel, #menus_side_cpanel, #admin_side_cpanel, #other_side_cpanel, #game_editor_side,
	#game_comments_side, #game_series_side,	#game_music_side, #game_submissions_side, #game_reviews_side,
	#submitted_reviews_side, #menu_editor_side, #menu_comments_side, #menu_submissions_side, #demo_editor_side,
	#demo_comments_side, #demo_music_side, #demo_submissions_side, #user_admin_side, #individuals_side,
	#author_types_side, #crew_editor_side, #companies_side, #company_logo_side, #add_news_side, #approve_news_side,
	#submitted_news_side, #Statistics_side, #did_you_know_side, #trivia_screenshots_side, #trivia_quotes_side,
	#add_links_side, #validate_links_side, #modify_links_side, #link_categories_side, #articles_side, #article_types_side,
	#screenshots_side, #modify_links_side, #link_categories_side, #articles_side, #article_types_side,
	#article_screenshots_side, #add_magazines_side, #manage_issues_side, #interviews_side, #interviews_help_side,
	#forum_side, #logout_side{ display: none; }
}

/* CPANEL menu below top*/ 
#main_nav_cpanel { width: 100%;}

nav ul {
  list-style: none;
}

.nav li {
  position: relative;
}

.nav li a:first-child:nth-last-child(2):before { 
  content: ""; 
  position: absolute; 
 }
 
 /* submenu positioning*/
.nav ul {
  position: absolute;
  z-index: 1;
  left: -99999em;
  top: 31px;
}
.nav > li:hover > ul {
  left: auto;
}
.nav > li li:hover > ul { 
  left: 100%;
}

.topbutton_cpanel
{
    display: block;  
    cursor: pointer;
	border:2px solid black;
	height: 30px;
	width: 205px;
	background: #161c71;
	font-family: robot, arial, sans-serif;
	color:white;
	font-size:19px;
	font-weight: bold;
	/*text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff;*/
	/*give the corners a small curve*/ 
	-webkit-border-radius: 0 15px 15px 0;
	-moz-border-radius: 0 15px 15px 0;
	border-radius: 0 15px 15px 0;
	margin-left: 2px;
	text-decoration:none;
	text-align:center;
	/*line-height:30px;*/
}

.topbutton_cpanel:hover {
  background: #dbd7d1;
  color: black;
  text-decoration:none;
  border:2px solid #4f4f4f;
}

.topbutton_cpanel:visited {
  text-decoration:none;
}

.topbutton_cpanel:link {
  text-decoration:none;
 	color:white;
}

.subbutton_cpanel
{
    display: block;  
    cursor: pointer;
	border:2px solid black;
	width: 201px;
	background: #161c71;
	font-family: robot, arial, sans-serif;
	color:white;
	font-size:16px;
	font-weight: bold;
	/*text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff;*/
	/*give the corners a small curve*/ 
	-webkit-border-radius: 0 15px 15px 0;
	-moz-border-radius: 0 15px 15px 0;
	border-radius: 0 15px 15px 0;
	margin-left: 2px;
	text-decoration:none;
	text-align:center;
	line-height:26px;
}

.subbutton_cpanel:hover {
  background: #dbd7d1;
  color: black;
  text-decoration:none;
  border:2px solid #4f4f4f;
}
.sidebutton_cpanel
{
  cursor: pointer;
	border:2px solid black;
	height: 30px;
	width: 205px;
	background: #161c71;
	font-family: robot, arial, sans-serif;
	color:white;
	font-size:19px;
	font-weight: bold;
	/*text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff;*/
	/*give the corners a small curve*/ 
	-webkit-border-radius: 0 15px 15px 0;
	-moz-border-radius: 0 15px 15px 0;
	border-radius: 0 15px 15px 0;
	margin-left: 2px;
	text-decoration:none;
	  text-align:center;
  line-height:30px;
}

.sidebutton_cpanel:hover {
  background: #dbd7d1;
  color: black;
  text-decoration:none;
  border:2px solid #4f4f4f;
}

.sidebutton_cpanel:link {
  text-decoration:none;
}

#legacy, #tos, #picasso, #game_editor_side,
#game_comments_side, #game_series_side,	#game_music_side, #game_submissions_side, #game_reviews_side,
#submitted_reviews_side, #menu_editor_side, #menu_comments_side, #menu_submissions_side, #demo_editor_side,
#demo_comments_side, #demo_music_side, #demo_submissions_side, #user_admin_side, #individuals_side,
#author_types_side, #crew_editor_side, #companies_side, #company_logo_side, #add_news_side, #approve_news_side,
#submitted_news_side, #Statistics_side, #did_you_know_side, #trivia_screenshots_side, #trivia_quotes_side,
#add_links_side, #validate_links_side, #modify_links_side, #link_categories_side, #articles_side, #article_types_side,
#screenshots_side, #modify_links_side, #link_categories_side, #articles_side, #article_types_side,
#article_screenshots_side, #add_magazines_side, #manage_issues_side, #interviews_side, #interviews_help_side,
#forum_side, #logout_side, #menu_individuals_side, #menu_author_types_side, #demo_individuals_side, #demo_author_types_side,
#menu_crew_editor_side, #demo_interviews_side, #demo_interviews_help_side {
		height: 30px;
		font-size: 16px;
}

.centered_fieldset {

	text-align:center;
	margin: auto;

}

/*------------------------------------------------------------
Standard table settings 
-------------------------------------------------------------*/

#column-left-cpanel { width: 20%; 
	 float:left;
	 margin-right: 1%;
}

#column-center-cpanel { width: 58%; 
	 float:left;
}	 

#column-right-cpanel { width: 20%; 
	 float:right;
	 margin-left: 1%;
}

@media screen and (max-width: 1280px) { 	
	#column-left-cpanel { width: 25%; 
		 float:left;
	}

	#column-center-cpanel { width: 73%; 
		 float:right;
	}

	#column-right-cpanel { display: none;
	}

}

.standard_table_list {
	width: 100%;
	border: solid 1px #b2b2b2; 
	background-color:#f3f3f3;
	margin-left:auto;
	margin-right:auto;
	border-spacing: 0;
}

.standard_table_list  li {
	color: black;
	font-size: 113pxpt;
	text-align: center;
	text-decoration: none; 
	list-style-type: none;
}

.standard_table_list th {
	border-bottom: solid 2px #b2b2b2;
	background-color:#DBD7D1;
	border-collapse: collapse;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:3px;
	margin:0px;
}

.standard_table_list tr:nth-child(even){
	background-color:#f3f3f3;
}

.standard_table_list tr:nth-child(odd){
	background-color:#EFEFEF;
}

.standard_table_list tr:hover {
	background-color:#DBD7D1;
}

.standard_table_list td {	
	padding-top:1px;
	padding-bottom:1px;
	padding-left:3px;
	margin:0px;
}

.standard_table_center { color: black;
			font-size: 11pt;
			font-weight: 100;
			text-align: center;
			text-decoration: none; 
}

.standard_table_left { color: black;
			font-size: 11pt;
			font-weight: 100;
			text-align: left;
			text-decoration: none; 
			padding-left: 2px;
}

.standard_table_right { color: black;
			font-size: 11pt;
			font-weight: 100;
			text-align: right;
			text-decoration: none; 
			padding-right: 2px;
}

.standard_table_center img {display: inline;}

.topbutton_cpanel_small
{
  cursor: pointer;
  border:1px solid black;
  background: #dbd7d1;
  font-family: robot, arial, sans-serif;
  color: black;
  height: 25px;
  width: 80px;
  font-size: 10pt;
  -webkit-border-radius: 0 15px 15px 0;
  -moz-border-radius: 0 15px 15px 0;
  border-radius: 0 15px 15px 0;
  margin-left: 2px;
  text-decoration:none;
}

.topbutton_cpanel_small:hover {
  background: #161c71;
  color: white;
  text-decoration:none;
  border:1px solid #4f4f4f;
}

.top_button_cpanel_small:visited {
  text-decoration:none;
}

/* for lower resolutions put the left and right below eachother */
@media screen and (max-width: 799px) { 	
.main_container_cpanel {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column-reverse; 
  flex-direction: column-reverse; 
  float: left;
  width:100%;
}	
	
#column-left-cpanel { width:100%; float:left; margin:auto;  }
#column-center-cpanel { width:100%; float:left; margin:auto;  }
#column-right-cpanel { width:100%; float:right; margin:auto; }


.main_container_cpanel >div {
	width:100%;
	}
	
.content_box_cpanel {
		display: block;
		margin: 0 auto;
	}
}

fieldset { 
	border: solid 1px #b2b2b2;
	background: #EFEFEF; 
	padding: 8px;
	font-size: 11pt;
}

legend {
	border: solid 2px #b2b2b2;	
	padding: 1px 10px;
	color: #122323;
	font-weight: bold;
	background: #DBD7D1;
}

/*---------------------------------------------------------- 
Front page
------------------------------------------------------------ */
#user_stats{ float:right; width:48%; margin-bottom: 20px;}	
#welcome_cpanel{ margin-top: 390x; float: left; width:48%; margin-bottom: 20px;}	
#left_nav_position_front{ margin-top: 50px; margin-bottom: 20px; float: left;}
#main_stats_position_front{ margin-top: 50px; margin-bottom: 20px;}
#quick_search_position_front{ margin-top: 50px; margin-bottom: 20px; float: right;}
	
@media screen and (max-width: 1279px) {  
#left_nav_position_front{ margin-top: 20px;}
#main_stats_position_front{ margin-top: 20px;}
}

.user_stats_img{ max-width: 100%;
		box-shadow: 0 0 12px black;	
		opacity: 0.8;
		filter: alpha(opacity=40); /* For IE8 and earlier */
		margin-bottom: 10px;
}

/* Make the table view responsive */
@media screen and (max-width: 799px) { 
	#welcome_cpanel{ width:100%; margin-top: 10px; }		
	#user_stats{ width:100%; }	
	#main_stats_position_front{ width:100%; float: left; }
	#left_nav_position_front{ width:100%;  float: left;}
}

@media screen and (max-width: 480px) { 
	#welcome_cpanel{ width:100%; margin-top: 0px;}	
	#main_stats_position_front{ margin-top: -5px;}
}

.main_stats_container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
    -webkit-align-items: flex-start;
  align-items: flex-start; 
 }
  
#child_some_stats { width:45%; float:left;}
#child_good_karma,#child_bad_karma{ width:27%; float:left;}

@media screen and (max-width: 1199px) { 
	.main_stats_container {
	  -webkit-flex-direction: column; 
	  flex-direction: column; 
	}	
		
	#child_some_stats,#child_good_karma,#child_bad_karma{width:100%; float:left;}
	#child_good_karma,#child_bad_karma{margin-top:20px}

	.main_stats_container >div {
		width:100%;
		}
		
	.main_stats_child {
			display: block;
			margin: 0 auto;
		}
}

.main_stats_child  table { width:98%;}
#user_stats table { width:100%;}
#welcome_cpanel table { width:100%;}

/*---------------------------------------------------------- 
Left nav
------------------------------------------------------------ */
#leftnav_position_front { margin-top: 20px; margin-bottom: 30px; float: left;
}

.left_nav_section{
	font-weight: bold;
	border-bottom: solid 2px #b2b2b2;
	border-top: solid 2px #b2b2b2;
	background-color:#DBD7D1;
	border-collapse: collapse;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:3px;
	margin:0px;
	text-align: center;
	list-style-type: none;
}

.left_nav_link:link { text-decoration: none;
	color: #122323;
	font-size: 11pt;
}

.left_nav_link:visited { text-decoration: none;
	color: #122323;
}

.left_nav_link:hover { text-decoration: none;
	color: #6a6a6a;
}

/*---------------------------------------------------------- 
Quick search games
------------------------------------------------------------ */
.quick_search_check {margin-right: 5px;}

@media screen and (max-width: 1279px) { 
	#quick_search_games_main{ margin-top: 20px;}
}	

#quick_search_options{display:table; 
	width:75%; 
	margin-left:auto;
	margin-right: auto;
	text-align:left;		
}

.quick_search_games_button
{
    cursor: pointer;
	border:2px solid black;
	background: #161c71;
	font-family: robot, arial, sans-serif;
	color:white;
	font-weight: bold;
	-webkit-border-radius: 0 15px 15px 0;
	-moz-border-radius: 0 15px 15px 0;
	border-radius: 0 15px 15px 0;
	margin-left: 2px;
	text-decoration:none;
	height: 25px;
	width: 80px;
	font-size: 10pt;
}

.quick_search_games_button:hover {
  background: #dbd7d1;
  color: black;
  text-decoration:none;
  border:2px solid #4f4f4f;
}

#quick_search_pub_select{ 
    background: #666666;
	width: 185px;
	margin-top: 0px;
	height: 25px;
}

#quick_search_dev_select{ 
	background: #666666;
	width: 185px;
	margin-top: 0px;
	height: 25px;
}

#quick_search_small_select{
    background: #666666; 
	width: 50px;
	height: 25px;
}

@media screen and (max-width: 1099px) { 
	#quick_search_options{margin-left:5%; width:100%; }
}

@media screen and (max-width: 799px) { 
	#quick_search_options{display:table; 
		width:50%; 
		margin-left:40%;
		margin-right: auto;
		text-align:left;	
	}
}

@media screen and (max-width: 599px) { 
	#quick_search_options { margin-left:30%;}
}

@media screen and (max-width: 399px) { 
	#quick_search_options { width:75%; margin-left:15%;}
}
	
/*---------------------------------------------------------- 
User details
------------------------------------------------------------ */
#leftnav_position_userdetails{margin-top: 50px; margin-bottom: 30px; float: left;}
#quick_search_games_position_userdetails{margin-top: 50px; margin-bottom: 30px;}
#user_details{ margin-top: 50px; margin-bottom: 30px; float: left;}
#user_details_img_dark{ box-shadow: 0 0 12px black; margin-left:1%;}

.user_details_container{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex; 
 }
 
#child_1, #child_2{ width:50%; margin-left:2%;}
.user_details_text{width:50%;display:table-cell;}
.user_details_input{width:50%;display:table-cell;}
.user_details_row{display:table;width:100%;}

@media screen and (max-width: 1050px) { 
	.user_details_container{
		-webkit-flex-direction: column; 
		flex-direction: column;
	}
}
	
@media screen and (max-width: 1280px) { 	
	#user_details{ margin-top: 20px;}	
	#leftnav_position_userdetails{ margin-top: 20px;}
	#child_1, #child_2{ width:100%;}
}

@media screen and (max-width: 480px) { 
.user_details_text{width:50%;display:inline;}
.user_details_input{width:50%;display:inline;}
.user_details_row{width:50%;}
#user_details{ width:100%; margin-top: -10px;}	
#leftnav_position_userdetails{ margin-top: -5px;}
}

/*---------------------------------------------------------- 
User statistics
------------------------------------------------------------ */
#leftnav_position_userstatistics{ margin-top: 50px; margin-bottom: 30px; float: left;}
#user_statistics{ margin-top: 50px; margin-bottom: 30px; float: left;}

@media screen and (max-width: 1279px) { 
	#leftnav_position_userstatistics{ margin-top: 20px;}
	#user_statistics{ margin-top: 20px;}
}

@media screen and (max-width: 480px) { 
	#leftnav_position_userstatistics{ margin-top: 0px;}
	#user_statistics{ margin-top: 0px;}
}

/*---------------------------------------------------------- 
User main
------------------------------------------------------------ */
#leftnav_position_usermain{ margin-top: 50px; margin-bottom: 30px; float: left;}
#quick_search_position_usermain {margin-top: 50px; margin-bottom: 30px;}
#user_main{ margin-top: 50px; margin-bottom: 30px; float: left;}
#main_stats_position_usermain{ margin-top: 0px; margin-bottom: 30px; float: left;}

.user_main_container{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex; 
  justify-content: center;
  align-items: center;
 }
 
@media screen and (max-width: 1279px) { 
	#leftnav_position_usermain{ margin-top: 20px;}
	#user_main{margin-top: 20px;}
	#main_stats_position_usermain{margin-bottom: 10px;}		
}

@media screen and (max-width: 500px) { 
	.user_main_container{
			-webkit-flex-direction: column; 
			flex-direction: column;
	}
	#user_main_child_3{margin-top:5px;}
}

@media screen and (max-width: 480px) { 
	#user_main{ width:100%; margin-top: -10px;}	
	#leftnav_position_usermain{ margin-top: 20px;}
}

/*---------------------------------------------------------- 
User search
------------------------------------------------------------ */
#leftnav_position_usersearch{ margin-top: 50px; margin-bottom: 30px; float: left;}
#quick_search_games_position_usersearch{ margin-top: 50px; margin-bottom: 30px; }
#usersearch{ margin-top: 50px; margin-bottom: 30px; float: left;}
#usersearch th {text-align:left;}
.username_th,.joindate_th,.lastvisit_th{width:25%;}
.username_td,.joindate_td,.lastvisit_td{width:25%;color: black; font-size: 12pt; padding-left: 2px;}
.email_th{width:10%;}
.email_td{width:10%;color: black; font-size: 12pt; padding-left: 2px;}
.website_th{width:15%;}
.website_td{width:15%;color: black; font-size: 12pt; padding-left: 2px;}
#user_search_main_tabel{border:0; width:100%; margin-top:3px; margin-bottom:3px;}

@media screen and (max-width: 1279px) { 
	#leftnav_position_usersearch{ margin-top: 20px;}
	#usersearch{margin-top: 20px;}
}

@media screen and (max-width: 1150px) { 
	.email_th{display: none;}
	.email_td{display: none;}
	.website_th{display: none;}
	.website_td{display: none;}
}

@media screen and (max-width: 600px) { 
	.lastvisit_th{display: none;}
	.lastvisit_td{display: none;}
	.joindate_td{display: none;}
	.joindate_th{display: none;}
	#usersearch td {text-align:center;}
	#usersearch th {text-align:center;}
}

@media screen and (max-width: 500px) { 
#usersearch{margin-bottom: 20px;}
}

@media screen and (max-width: 480px) { 
	#usersearch{ width:100%; margin-top: -10px;}	
	#leftnav_position_usersearch{ margin-top: 20px;}
}

/*---------------------------------------------------------- 
User karma
------------------------------------------------------------ */
#leftnav_position_karma{ margin-top: 50px; margin-bottom: 30px; float: left;}
#quick_search_games_position_karma{ margin-top: 50px; margin-bottom: 30px;}
#karma{ margin-top: 50px; margin-bottom: 30px; float: left;}
.karma_column{width:50%; text-align:center;}


@media screen and (max-width: 1279px) { 
	#leftnav_position_karma{ margin-top: 20px;}
	#karma{margin-top: 20px;}
}

@media screen and (max-width: 480px) { 
	#karma{ margin-top: 0px;}
}

/*---------------------------------------------------------- 
Did you know
------------------------------------------------------------ */
#leftnav_position_didyouknow{ margin-top: 50px; margin-bottom: 30px; float: left;}
#quick_search_games_position_didyouknow{ margin-top: 50px; margin-bottom: 30px; float: left;}
#didyouknow{ margin-top: 50px; margin-bottom: 30px; float: left;}

@media screen and (max-width: 1279px) { 
	#leftnav_position_didyouknow{ margin-top: 20px;}
	#didyouknow{margin-top: 20px;}
}

@media screen and (max-width: 480px) { 
	#didyouknow{ margin-top: 0px;}
}


/*---------------------------------------------------------- 
Trivia Quotes
------------------------------------------------------------ */
#leftnav_position_triviaquotes{ margin-top: 50px; margin-bottom: 30px; float: left;}
#quick_search_games_position_triviaquotes{ margin-top: 50px; margin-bottom: 30px; float: left;}
#triviaquotes{ margin-top: 50px; margin-bottom: 30px; float: left;}

@media screen and (max-width: 1279px) { 
	#leftnav_position_triviaquotes{ margin-top: 20px;}
	#triviaquotes{margin-top: 20px;}
}

@media screen and (max-width: 480px) { 
	#triviaquotes{ margin-top: 0px;}
}

/*---------------------------------------------------------- 
Links addnew
------------------------------------------------------------ */
#leftnav_position_linkaddnew{ margin-top: 50px; margin-bottom: 30px; float: left;}
#linkaddnew{ margin-top: 50px; margin-bottom: 30px; float: left;}
#linkvalidate{ margin-bottom: 30px; float: left;}
#quick_search_games_position_linkaddnew{margin-top: 50px; margin-bottom: 30px;}


@media screen and (max-width: 1279px) { 
	#leftnav_position_linkaddnew{ margin-top: 20px;}
	#linkaddnew{margin-top: 20px;}
}

@media screen and (max-width: 480px) { 
	#linkaddnew{ margin-top: 0px;}
}

.links_addnew_area { background: #666666;
				color: #ffffff;				
				width: 90%;
				height: 150px;
				margin-top:0;
				padding: 0;
				padding-left: 5px;
				border: 1px solid #b2b2b2;
				text-align: left;
				font-family: Robot, Arial;	
}

.links_addnew_row select  { 
	background: #666666;
	border: 1px solid #b2b2b2;
	color: #ffffff;				
	margin-top:0px;
	padding: 0;
	padding-left: 5px;
	font-family: Robot, Arial;	
	height: 25px;
	width: 185px;
}

.links_addnew_text{width:25%;display:table-cell; vertical-align:top;}
.links_addnew_input{width:75%;display:table-cell;}
.links_addnew_row{display:table;width:100%;}

.links_addnew_info { font-size: 11pt; color: black; padding: 5px;}

.links_addnew_link:link { text-decoration: none;
	color: #161c71;
}

.links_addnew_link:visited { text-decoration: none;
	color: #161c71;
}

.links_addnew_link:hover { text-decoration: none;
	color: black;
}

@media screen and (max-width: 480px) { 
.links_addnew_text{width:50%;display:inline;}
.links_addnew_input{width:50%;display:inline;}
.links_addnew_row{width:50%;}
}

/*---------------------------------------------------------- 
Links Modify list
------------------------------------------------------------ */
.links_modlist_tdline{ font-size: 11pt; color: black; padding: 5px; border-bottom: solid 1px #b2b2b2; } 

.user_stats_img_dark{ box-shadow: 0 0 12px black;
					margin-left : 5px;
					margin-right : 5px;
					margin-top : 10px;
					margin-bottom : 10px;
					max-width: 100%;
					opacity: 0.8;
					filter: alpha(opacity=40); /* For IE8 and earlier */}
					
#leftnav_position_linkmodlist {margin-top: 50px; margin-bottom: 30px; float: left;}
#quick_search_games_linkmodlist{margin-top: 50px; margin-bottom: 30px;}
#linkmodlist{ margin-top: 50px; margin-bottom: 30px; float: left;}

.links_list_text{margin-right:1%;}
.links_list_input{margin-left:1%;}

.links_list_row{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex; 
  justify-content: center;
  align-items: center;
 }
 
@media screen and (max-width: 500px) { 
	.links_list_row{
			-webkit-flex-direction: column; 
			flex-direction: column;
	}
}
	
@media screen and (max-width: 1279px) { 
	#leftnav_position_linkmodlist{ margin-top: 20px;}
	#linkmodlist{margin-top: 20px;}
}

@media screen and (max-width: 480px) { 
	.user_stats_img_dark{display : none;}
}	

/*---------------------------------------------------------- 
Links category
------------------------------------------------------------ */
#leftnav_position_linkcat{margin-top: 50px; margin-bottom: 30px; float: left;}
#linkcat{ margin-top: 50px; margin-bottom: 30px; float: left;}
#quick_search_games_position_linkcat{margin-top: 50px; margin-bottom: 30px;}
.link_cat_td { text-align:right;}

@media screen and (max-width: 1279px) { 
	#leftnav_position_linkcat{ margin-top: 20px;}
	#linkcat{margin-top: 20px;}
}

@media screen and (max-width: 480px) { 
	#linkcat{ margin-top: 0px;}
}

@media screen and (max-width: 500px) { 
#linkcat_wide{ display: none;}
}

@media screen and (min-width: 499px) { 
#linkcat_small{ display: none;}
}

/*---------------------------------------------------------- 
Links Modify
------------------------------------------------------------ */					
#leftnav_position_linkmod {margin-top: 50px; margin-bottom: 30px; float: left;}
#link_mod{margin-top: 50px; margin-bottom: 30px; float: left;}
#quick_search_games_position_linkmod{margin-top: 50px; margin-bottom: 30px;}

@media screen and (max-width: 1279px) { 
	#leftnav_position_linkmod{ margin-top: 20px;}
	#link_mod{margin-top: 20px;}
}

@media screen and (max-width: 480px) { 
	#link_mod{ margin-top: 0px;}
}

.links_mod_text{width:35%;display:table-cell; vertical-align:top;}
.links_mod_input{width:65%;display:table-cell;}
.links_mod_row{display:table;width:100%;}

@media screen and (max-width: 550px) { 
.links_mod_text{width:100%;display:block;}
.links_mod_input{width:100%;display:block;}
.links_mod_row{width:100%;margin-bottom:10px;}
}

@media screen and (max-width: 600px) { 
#user_stats_img_dark{display : none;}
}


/*---------------------------------------------------------- 
Games main
------------------------------------------------------------ */			
#quick_search_games_main{margin-top: 50px; margin-bottom: 30px; float: left;}
#games_main{ margin-top: 50px; margin-bottom: 30px; float: left;}
#leftnav_position_games_main{ margin-top: 50px; margin-bottom: 30px; float: left;}

@media screen and (max-width: 1279px) { 
	#leftnav_position_games_main{ margin-top: 20px;}
	#games_main{margin-top: 20px;}
}

.games_main_text{width:25%;display:table-cell;font-weight:bold;}
.games_main_input{width:75%;display:table-cell;}
.games_main_row{display:table;width:75%;margin-left:auto;}

@media screen and (max-width: 1050px) { 
.games_main_row{width:90%; }
.games_main_text{width:40%;}
.games_main_input{width:60%;}
}

@media screen and (max-width: 550px) { 
	.games_main_text{width:35%;}
	.games_main_input{width:65%;}
}
	

@media screen and (max-width: 480px) { 
	.games_main_text{width:50%;display:inline;}
	.games_main_input{width:50%;display:inline;}
	.games_main_row{width:50%;margin-left:10%}
}

.games_check_container{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex; 
  width: 50%;
  margin:auto;
 }
 
#child_1, #child_2{width:50%; margin:auto;}
.games_check_text{width:95%;display:table-cell;font-weight:bold;}
.games_check_box{width:5%;display:table-cell;}
.games_check_row{display:table;width:100%;}

@media screen and (max-width: 1050px) { 
	.games_check_container{
		-webkit-flex-direction: column; 
		flex-direction: column;
		width: 100%;
	}
	#child_1, #child_2{width:100%; margin-left:10%;}
}

#games_main_pub_select{ 
	width: 185px;
	margin-top: 0px;
	height: 25px;
	background: #666666;
}

#games_main_dev_select{ 
	width: 185px;
	margin-top: 0px;
	height: 25px;
	background: #666666;
}

#games_main_small_select{ 
	width: 50px;
	height: 25px;
	background: #666666;
}

/*---------------------------------------------------------- 
Games list
------------------------------------------------------------ */	
#games_list{margin-top: 50px; margin-bottom: 30px; float: left;}
#quick_search_games_list{margin-top: 50px; margin-bottom: 00px; float: left;}
#leftnav_position_games_list{margin-top: 50px; margin-bottom: 30px; float: left;}


@media screen and (max-width: 1279px) { 
	#quick_search_games_list{ margin-top: 20px;}
	#games_list	{margin-top: 20px;}
}

#game_th{width:40%;text-align: left;}
#pub_th,#dev_th{width:20%;text-align: left;}
#year_th,#info_th{width:10%;text-align: left;}

.game_td { font-size: 10pt;
		font-weight: 100;
		text-align: left;
		text-decoration: none; 
		padding-left: 2px;
		width:40%;
}

.pub_td,.dev_td { font-size: 10pt;
		font-weight: 100;
		text-align: left;
		text-decoration: none; 
		padding-left: 2px;
		width:20%;
}

.info_td,.year_td { 	font-size: 10pt;
		font-weight: 100;
		text-align: left;
		text-decoration: none; 
		padding-left: 2px;
		width:10%;
}

@media screen and (max-width: 1174px) { 
 .info_td,.year_td,#info_th,#year_th{display:none;}
}

@media screen and (max-width: 949px) { 
 .dev_td,#dev_th{display:none;}
}

@media screen and (max-width: 600px) { 
 .pub_td,#pub_th{display:none;}
 #game_th,.game_td{text-align:center;}
}

#game_list_table{width: 100%;}

/*---------------------------------------------------------- 
Games detail
------------------------------------------------------------ */	
#games_detail{margin-top: 50px; margin-bottom: 30px; float: left;}
#quick_search_games_detail{margin-top: 50px; margin-bottom: 00px; float: left;}
#leftnav_position_games_detail{margin-top: 50px; margin-bottom: 30px; float: left;}

#gd_left{width: 32%; float:left;}
#gd_center { width: 32%; float:left; margin-left: 2%;}
#gd_right { width: 32%; float:right;}
#gd_development {width:100%; float:left; margin-top:20px;}
#gd_basic_game_info{width:60%; float:left;}
.gd_basic_game_info_row{display:table;width:65%;padding:2px; margin-left:5%}
.gd_basic_game_info_row_check{display:table-cell;width:3%;}
.gd_basic_game_info_row_checktxt{display:table-cell;width:45%;}
#gd_basic_game_info_category{float:right;width:40%;margin-top:-285px;}
#gd_other_features{width:38%;float:right; }
#gd_creator_info{margin-bottom:20px;}
#gd_publisher_info{margin-bottom:20px;}
#gd_developer_info{margin-bottom:20px;}
#gd_back{margin-bottom:20px; margin-top:20px;}
#gd_bottom{width:100%; float:left;}	
#gd_dev_small_select{ 
	width: 50px;
	height: 27px;
	background: #666666;
}
#gd_pub_small_select{ 
	width: 50px;
	height: 27px;
	background: #666666;
}
#gd_text_area_big {height: 250px; background:#666666}

#game_extra_info_pub,#continent_pub,#company_id_pub,#game_extra_info_dev,#continent_dev,
#company_id_dev,#game_extra_info_year,#author_type_id,#ind_id{ 
	width: 140px;
	margin-top: 0px;
	height: 25px;
	background: #666666;
}	


@media screen and (min-width: 1280px) {
	#gd_other_features_left{display:none;}
	#gd_other_features_right{display:none;}
}

@media screen and (max-width: 1279px) { 
	#games_detail{margin-top: 20px;}
	#leftnav_position_games_detail{margin-top: 20px;}
	#quick_search_games_detail{margin-top: 20px;}
	#gd_basic_game_info{width:100%; margin-bottom: 20px;}
	#gd_other_features{display:none}
	#gd_other_features_left{float:left; width:49%;}
	#gd_other_features_right{float:right; width:49%;}
	#gd_left{float:left; width:49%;}
	#gd_right{float:right; width:49%;}
	#gd_center{float:right; width:49%;}
	#gd_back{margin-top:20px;}
	#gd_publisher_info{margin-top:20px;}
}

@media screen and (max-width: 600px) { 
	#gd_basic_game_info_category{width:100%; float:left; margin-top:20px; margin-bottom:20px; margin-left:5%}
	#gd_other_features_left{float:left; width:100%; margin-bottom:20px;}
	#gd_game_aka{margin-bottom:20px;}
	#gd_other_features_right{float:right; width:100%;}
	#gd_left{float:left; width:100%;}
	#gd_right{float:right; width:100%;}
	#gd_center{float:right; width:100%;}
	#gd_publisher_info{margin-top:0px;}
}

/*---------------------------------------------------------- 
Games comment
------------------------------------------------------------ */	
#quick_search_games_comment{margin-top: 50px; margin-bottom: 30px; float: left;}
#leftnav_position_games_comment{margin-top: 50px; margin-bottom: 30px; float: left;}
#games_comment{margin-top: 50px; margin-bottom: 30px; float: left;}

@media screen and (max-width: 1279px) { 
	#leftnav_position_games_comment{margin-top: 20px;}
	#quick_search_games_comment{margin-top: 20px;}
	#games_comment{margin-top: 20px;}
}

@media screen and (max-width: 640px) { 
	.gc_left_head{display:none;}
	.gc_left{display:none;}
}

.gc_table_list {
	width: 100%;
	border: solid 1px #b2b2b2; 
	background-color:#f3f3f3;
	margin-left:auto;
	margin-right:auto;
	border-spacing: 0;
	text-align:left;
}

.gc_table_list tr:nth-child(even){
	background-color:#f3f3f3;
}

.gc_table_list tr:nth-child(odd){
	background-color:#EFEFEF;
}

.gc_table_list td {
	border-bottom: solid 1px black;
	padding: 5px;
	margin:0px;
}

.gc_left_head{width:20%;font-size: 12pt;}
.gc_center_head{width:80%;font-size: 12pt;}

.gc_left{width:20%;font-size: 12pt;}
.gc_center{width:80%;font-size: 12pt;}

/*---------------------------------------------------------- 
Games comment edit
------------------------------------------------------------ */	
#quick_search_games_comment_edit{margin-top: 50px; margin-bottom: 00px; float: left;}
#leftnav_position_games_comment_edit{margin-top: 50px; margin-bottom: 30px; float: left;}
#games_comment_edit{margin-top: 50px; margin-bottom: 30px; float: left;}

@media screen and (max-width: 1279px) { 
	#leftnav_position_games_comment_edit{margin-top: 20px;}
	#quick_search_games_comment_edit{margin-top: 20px;}
	#games_comment_edit{margin-top: 20px;}
}

#gce_button,#gce_button2{display:inline;}

#gce_area { width: 100%;}

/*---------------------------------------------------------- 
 resolutions tested!
------------------------------------------------------------ */
/* smartphones, iPhone, portrait 480x320 phones */
/* @media screen and (max-width: 320px) {  

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
/* @media screen and (min-width: 481px) { 

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
/* @media screen and (min-width: 641px) {  

/* tablet, landscape iPad, lo-res laptops ands desktops */
/* @media screen and (min-width: 961px) { 

/* big landscape tablets, laptops, and desktops */
/* @media screen and (min-width: 1025px) { 

/* hi-res laptops and desktops */
/* @media screen and (min-width: 1281px) {  */
