/**
 * Common classes to the game and release pages
 */
.al-game-details, .al-game-release-details {

    .al-no-tile {
        h1 {
            font-size: 2.5rem;
            display: inline;
        }

        h2 {
            display: inline;
            margin-left: 1.5rem;
        }

        ul {
            margin-top: 0.5rem;
        }
    }

    .al-location-flag {
        display: inline;
        vertical-align: middle;
        width: 24px;
        opacity: .8;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        margin-right: 5px;
        margin-top: 3px;
        margin-bottom: 2px;
        border: solid 1px #ccc;
    }

}

/**
 * Game page
 */
.al-game-details {

    .al-no-tile {
        img.al-game-vs {
            display: inline;
            height: 1.75rem;
            border: solid 1px #333;
        }
    }

    .al-game-screenshot {
        height: 100%
    }

    .lSSlideOuter img {
        border: dotted 1px scale-color($brand_primary, $lightness: -30%);
    }

    figure {
        position: relative;
        overflow: hidden;

        &:hover figcaption {
            transform: translate3d(0, -50px, 0);
        }

    }

    figcaption {
        position: absolute;
        bottom: -3.75rem;
        width: 100%;
        border-top: solid 1px white;
        padding: 0.25rem 2rem 0.25rem 2rem;
        background-color: adjust-color($brand_primary_dimmed, $alpha: -0.25, $lightness: -10%);
        transition: transform .35s;

        h3 {
            font-family: $brand_font_family;
            font-variant: small-caps;
        }

        h4 {
            font-weight: bold;
        }

    }
    /*
    .al-game-boxscan {
        width: 100%;
        height: 100%;
    }
    */

    .al-game-comment {
        margin-bottom: 0.5rem;
        padding: 0.5rem;
    }

    .al-game-comment-header {
        img {
            display: inline;
            vertical-align: middle;
            width: 2.5rem;
            margin: 0 0.25rem 0.5rem 0;
            background-color: $brand_primary_dimmed;
            border: dotted 1px $brand_primary_dimmed;

        }
    }

    .al-game-facts-screenshots {
        text-align: center;
        img {
            display: inline;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            vertical-align: middle;
            border: dotted 1px $brand_primary;
        }
    }

    .al-tile-comments-list {
        max-height: 30rem;
        overflow: auto;
    }
}
