/*************************************************************/	
/**********************PICASSO SKIN***************************/
/*************************************************************/ 

/*************************************************************/	
/*****************CPanel NEWS section css********************/
/*************************************************************/ 

/*---------------------------------------------------------- 
News add
------------------------------------------------------------ */			
#quick_search_game_news_add{margin-top: 0; margin-bottom: 30px; float: left;}
#news_add{ margin-top: 0; margin-bottom: 30px; float: left;}
#leftnav_position_news_add{ margin-top: 0; margin-bottom: 30px; float: left;}
