/*************************************************************/	
/**********************PICASSO SKIN***************************/
/*************************************************************/ 

/*************************************************************/	
/***************CPanel INDIVIDUALS section css****************/
/*************************************************************/ 

/*---------------------------------------------------------- 
Individuals main
------------------------------------------------------------ */
#leftnav_position_individuals_main{margin-top: 0; margin-bottom: 30px; float: left;}
#quick_search_games_Individuals_main{margin-top: 0; margin-bottom: 30px; float: left;}
#Individuals_main{margin-top: 0; margin-bottom: 30px; float: left;}

.main_company_container {
  display: flex;
  align-items: flex-start; 
 }
 
.main_company_child {text-align:center;}
 
#child_edit_company, #child_add_company {width: 85%;float:left;}

/*---------------------------------------------------------- 
Individuals edit
------------------------------------------------------------ */
#leftnav_position_individuals_edit{margin-top: 0; margin-bottom: 30px; float: left;}
#quick_search_games_individuals_edit{margin-top: 0; margin-bottom: 30px; float: left;}
#individuals_edit{margin-top: 0; margin-bottom: 30px; float: left;}

/*---------------------------------------------------------- 
author types
------------------------------------------------------------ */
#leftnav_position_author_types{margin-top: 0; margin-bottom: 30px; float: left;}
#quick_search_games_author_types{margin-top: 0; margin-bottom: 30px; float: left;}
#individuals_author{margin-top: 0; margin-bottom: 30px; float: left;}

