/*************************************************************/	
/**********************PICASSO SKIN***************************/
/*************************************************************/ 

/*************************************************************/	
/*****************CPanel NEWS section css********************/
/*************************************************************/ 

/*---------------------------------------------------------- 
News add
------------------------------------------------------------ */			
#quick_search_game_news_add{margin-top: 0; margin-bottom: 30px; float: left;}
#news_add{ margin-top: 0; margin-bottom: 30px; float: left;}
#leftnav_position_news_add{ margin-top: 0; margin-bottom: 30px; float: left;}

/*---------------------------------------------------------- 
News Icon Preview
------------------------------------------------------------ */			
#quick_search_news_icon_preview{margin-top: 0; margin-bottom: 30px; float: left;}
#news_icon_preview{margin-top: 0; margin-bottom: 30px; float: left;}
#leftnav_position_news_icon_preview{margin-top: 0; margin-bottom: 30px; float: left;}

/*---------------------------------------------------------- 
News Approve
------------------------------------------------------------ */			
#quick_search_news_approve{margin-top: 0; margin-bottom: 30px; float: left;}
#news_approve{margin-top: 0; margin-bottom: 30px; float: left;}
#leftnav_position_news_approve{margin-top: 0; margin-bottom: 30px; float: left;}

/*---------------------------------------------------------- 
News Edit all
------------------------------------------------------------ */			
#quick_search_news_edit_all{margin-top: 0; margin-bottom: 30px; float: left;}
#news_edit_all{margin-top: 0; margin-bottom: 30px; float: left;}
#leftnav_position_news_edit_all{margin-top: 0; margin-bottom: 30px; float: left;}

/*---------------------------------------------------------- 
News Edit all
------------------------------------------------------------ */			
#quick_search_news_edit{margin-top: 0; margin-bottom: 30px; float: left;}
#news_edit{margin-top: 0; margin-bottom: 30px; float: left;} 
#leftnav_position_news_edit{margin-top: 0; margin-bottom: 30px; float: left;}

/*---------------------------------------------------------- 
News Add Image
------------------------------------------------------------ */			
#quick_search_news_add_image{margin-top: 0; margin-bottom: 30px; float: left;}
#news_add_image{margin-top: 0; margin-bottom: 30px; float: left;}
#leftnav_position_news_add_image{margin-top: 0; margin-bottom: 30px; float: left;}

/*---------------------------------------------------------- 
News Edit Image
------------------------------------------------------------ */	
#quick_search_news_edit_image{margin-top: 0; margin-bottom: 30px; float: left;}
#news_edit_image{margin-top: 0; margin-bottom: 30px; float: left;}
#leftnav_position_news_edit_image{margin-top: 0; margin-bottom: 30px; float: left;}

.news_images_container{display:table;vertical-align:middle;}
.news_images_check{display:table-cell;width:5%;vertical-align:middle;}
.news_images_display{display:table-cell;width:25%;vertical-align:middle;}
.news_images_name{display:table-cell;width:70%;vertical-align:middle;padding-left:15px;}