/*************************************************************/	
/**********************PICASSO SKIN***************************/
/*************************************************************/ 

/*************************************************************/	
/***************CPanel INTERVIEWS section css*****************/
/*************************************************************/ 

/*---------------------------------------------------------- 
Interviews main
------------------------------------------------------------ */
#leftnav_position_interviews_main{margin-top: 0; margin-bottom: 30px; float: left;}
#quick_search_games_interviews_main{margin-top: 0; margin-bottom: 30px; float: left;}
#interviews_main{margin-top: 0; margin-bottom: 30px; float: left;}

.interviews_main_table{display:table; width:100%;}
.interviews_main_photo{display:table-cell;width:20%;}
.interviews_main_preview{display:table-cell;width:80%;vertical-align:middle;}
.interviews_main_preview_100{display:table-cell;width:100%;vertical-align:middle;}

/*---------------------------------------------------------- 
Interviews edit
------------------------------------------------------------ */
#leftnav_position_interviews_edit{margin-top: 0; margin-bottom: 30px; float: left;}
#quick_search_games_interviews_edit{margin-top: 0; margin-bottom: 30px; float: left;}
#interviews_edit{margin-top: 0; margin-bottom: 30px; float: left;}

/*---------------------------------------------------------- 
Interviews preview
------------------------------------------------------------ */
#leftnav_position_interviews_preview{margin-top: 0; margin-bottom: 30px; float: left;}
#quick_search_games_interviews_preview{margin-top: 0; margin-bottom: 30px; float: left;}
#interviews_preview{margin-top: 0; margin-bottom: 30px; float: left;}

/*---------------------------------------------------------- 
Interviews add
------------------------------------------------------------ */
#leftnav_position_interviews_add{margin-top: 0; margin-bottom: 30px; float: left;}
#quick_search_games_interviews_add{margin-top: 0; margin-bottom: 30px; float: left;}
#interviews_add{margin-top: 0; margin-bottom: 30px; float: left;}

/*---------------------------------------------------------- 
Interviews add screenshot
------------------------------------------------------------ */
#leftnav_position_interviews_add_screenshot{margin-top: 0; margin-bottom: 30px; float: left;}
#quick_search_games_interviews_add_screenshot{margin-top: 0; margin-bottom: 30px; float: left;}
#interviews_add_screenshot{margin-top: 0; margin-bottom: 30px; float: left;}

/*---------------------------------------------------------- 
Interviews help
------------------------------------------------------------ */
#leftnav_position_interviews_help{margin-top: 0; margin-bottom: 30px; float: left;}
#quick_search_games_interviews_help{margin-top: 0; margin-bottom: 30px; float: left;}
#interviews_help{margin-top: 0; margin-bottom: 30px; float: left;}