/*************************************************************/	
/**********************PICASSO SKIN***************************/
/*************************************************************/ 

/*************************************************************/	
/**************CPanel Magazine section css********************/
/*************************************************************/ 

/*---------------------------------------------------------- 
Magazine review score
------------------------------------------------------------ */	
#magazine_review_score{margin-top: 0; margin-bottom: 20px; float: left;}
#quick_search_magazine_review_score{margin-top: 0; margin-bottom: 20px; float: left;}
#leftnav_position_magazine_review_score{margin-top: 0; margin-bottom: 20px; float: left;}

/*---------------------------------------------------------- 
Magazine set score
------------------------------------------------------------ */	
#magazine_set_score{margin-top: 0; margin-bottom: 20px; float: left;}
#quick_search_magazine_set_score{margin-top: 0; margin-bottom: 20px; float: left;}
#leftnav_position_magazine_set_score{margin-top: 0; margin-bottom: 20px; float: left;}