/*************************************************************/	
/**********************PICASSO SKIN***************************/
/*************************************************************/ 

/*---------------------------------------------------------- 
 media queries
------------------------------------------------------------ */

/*---------------------------------------------------------- 
 Main website
------------------------------------------------------------ */
/*---------------------------------------------------------- 
 Welcome tile settings --> frontpage
------------------------------------------------------------ */
/* 1 tile and a simplified intro screen */
@media screen and (max-width: 639px) { 
	#welcome  { visibility : hidden; }	
}

/* 2 tiles and background welcome image */
@media screen and (min-width: 640px) and (max-width: 800px) { 
	#welcome  { margin-bottom: 20px;
	}
}

/*---------------------------------------------------------- 
logon tile --> front page
------------------------------------------------------------ */
/* 2 tiles and background welcome image */
@media screen and (min-width: 640px) and (max-width: 800px) { 
	.logon { margin-top: 0;}
}

/* 1 tile */
@media screen and (max-width: 639px) { 
	.logon  { width: 100%; 
	margin-top: 0;	
	margin-bottom: 20px;
	}
}

/*---------------------------------------------------------- 
latest news tile --> front page
------------------------------------------------------------ */
@media screen and (min-width: 640px) and (max-width: 800px) { 
	.latest_news { margin-top: 395px;
	}
}

@media screen and (min-width: 1495px){ 
	.latest_news   { float: left; width: 48%;} 
}

/*---------------------------------------------------------- 
screenstar tile - front page
------------------------------------------------------------ */
@media screen and (min-width: 1495px){ 
	.screenstar_position_front  { float:left; width: 94%; margin-top: -10px;} 
}


/*---------------------------------------------------------- 
datequote tile - front page
------------------------------------------------------------ */
/* 1 and 2 tiles */
@media screen and (max-width: 800px) { 
	.datequote_position_front { margin-top: 0;}
}

@media screen and (min-width: 1495px){ 
	.datequote_position_front { float:left; width: 94%;} 
}


/*---------------------------------------------------------- 
Who is it - front page
------------------------------------------------------------ */
@media screen and (min-width: 1495px){ 
	.whoisit_position_front  { float:right;} 
}


/*---------------------------------------------------------- 
Latest reviews tile - front page
------------------------------------------------------------ */
@media screen and (min-width: 1495px){ 
	.latest_reviews  { width: 49%; float: right;} 
}


/*---------------------------------------------------------- 
Did you know tile - front page
------------------------------------------------------------ */
@media screen and (min-width: 1495px){ 
	.didyouknow_position_front  {float:left; width:100%;} 
}


/*---------------------------------------------------------- 
Statistics tile - front page
------------------------------------------------------------ */
@media screen and (min-width: 1495px){ 
	.statistics_position_front  {float:left; width:100%;} 
}


/*---------------------------------------------------------- 
Hotlinks tile - front page
------------------------------------------------------------ */
@media screen and (min-width: 1495px){ 
	.hotlinks_position_front {width: 94%; float: left;} 
}	


/*---------------------------------------------------------- 
contact tiles - front page
------------------------------------------------------------ */
@media screen and (min-width: 1495px){ 
	.contact_tiles { width: 49%; float: right;} 
}


/*---------------------------------------------------------- 
 CPanel
------------------------------------------------------------ */
/*---------------------------------------------------------- 
Front page
------------------------------------------------------------ */
@media screen and (max-width: 1279px) {  
	#left_nav_position_front{ margin-top: 0;}
	#main_stats_position_front{ margin-top: 0;}
}

/* Make the table view responsive */
@media screen and (max-width: 799px) { 
	#welcome_cpanel{ width:100%; margin-top: 10px; }		
	#user_stats{ width:100%; }	
	#main_stats_position_front{ width:100%; float: left; }
	#left_nav_position_front{ width:100%;  float: left;}
}

@media screen and (max-width: 480px) { 
	#welcome_cpanel{ width:100%; margin-top: 0;}	
	#main_stats_position_front{ margin-top: -5px;}
}

@media screen and (max-width: 1199px) { 
	.main_stats_container {
	  flex-direction: column; 
	}	
		
	#child_some_stats,#child_good_karma,#child_bad_karma{width:100%; float:left;}
	#child_good_karma,#child_bad_karma{margin-top:20px}

	.main_stats_container >div {
		width:100%;
		}
		
	.main_stats_child {
			display: block;
			margin: 0 auto;
		}
}


/*---------------------------------------------------------- 
Quick search games
------------------------------------------------------------ */
@media screen and (max-width: 1279px) { 
	#quick_search_games_main{ margin-top: 0;}
}	

@media screen and (max-width: 1099px) { 
	#quick_search_options{margin-left:5%; width:100%; }
}

@media screen and (max-width: 799px) { 
	#quick_search_options{display:table; 
		width:50%; 
		margin-left:40%;
		margin-right: auto;
		text-align:left;	
	}
}

@media screen and (max-width: 599px) { 
	#quick_search_options { margin-left:30%;}
}

@media screen and (max-width: 399px) { 
	#quick_search_options { width:75%; margin-left:15%;}
}


/*---------------------------------------------------------- 
User details
------------------------------------------------------------ */
@media screen and (max-width: 1050px) { 
	.user_details_container{
		flex-direction: column;
	}
}
	
@media screen and (max-width: 1280px) { 	
	#user_details{ margin-top: 0;}	
	#leftnav_position_userdetails{ margin-top: 0;}
	#child_1, #child_2{ width:100%;}
}

@media screen and (max-width: 480px) { 
	.user_details_text{width:50%;display:inline;}
	.user_details_input{width:50%;display:inline;}
	.user_details_row{width:50%;}
	#user_details{ width:100%; margin-top: -10px;}	
	#leftnav_position_userdetails{ margin-top: -5px;}
}


/*---------------------------------------------------------- 
User statistics
------------------------------------------------------------ */
@media screen and (max-width: 1279px) { 
	#leftnav_position_userstatistics{ margin-top:0;}
	#user_statistics{ margin-top: 0;}
}

@media screen and (max-width: 480px) { 
	#leftnav_position_userstatistics{ margin-top: 0;}
	#user_statistics{ margin-top: 0;}
}


/*---------------------------------------------------------- 
User main
------------------------------------------------------------ */
@media screen and (max-width: 1279px) { 
	#leftnav_position_usermain{ margin-top: 0;}
	#user_main{margin-top: 0;}
	#main_stats_position_usermain{margin-bottom: 10px;}		
}

@media screen and (max-width: 500px) { 
	.user_main_container{
			flex-direction: column;
	}
	#user_main_child_3{margin-top:5px;}
}

@media screen and (max-width: 480px) { 
	#user_main{ width:100%; margin-top: -10px;}	
	#leftnav_position_usermain{ margin-top: 20px;}
}


/*---------------------------------------------------------- 
User search
------------------------------------------------------------ */
@media screen and (max-width: 1279px) { 
	#leftnav_position_usersearch{ margin-top: 0;}
	#usersearch{margin-top: 0;}
}

@media screen and (max-width: 1150px) { 
	.email_th{display: none;}
	.email_td{display: none;}
	.website_th{display: none;}
	.website_td{display: none;}
}

@media screen and (max-width: 600px) { 
	.lastvisit_th{display: none;}
	.lastvisit_td{display: none;}
	.joindate_td{display: none;}
	.joindate_th{display: none;}
	#usersearch td {text-align:center;}
	#usersearch th {text-align:center;}
}

@media screen and (max-width: 500px) { 
	#usersearch{margin-bottom: 20px;}
}

@media screen and (max-width: 480px) { 
	#usersearch{ width:100%; margin-top: -10px;}	
	#leftnav_position_usersearch{ margin-top: 20px;}
}

/*---------------------------------------------------------- 
User karma
------------------------------------------------------------ */
@media screen and (max-width: 1279px) { 
	#leftnav_position_karma{ margin-top: 0;}
	#karma{margin-top: 0;}
}

@media screen and (max-width: 480px) { 
	#karma{ margin-top: 0;}
}


/*---------------------------------------------------------- 
Did you know
------------------------------------------------------------ */
@media screen and (max-width: 1279px) { 
	#leftnav_position_didyouknow{ margin-top: 0;}
	#didyouknow{margin-top: 0;}
}

@media screen and (max-width: 480px) { 
	#didyouknow{ margin-top: 0;}
}


/*---------------------------------------------------------- 
Trivia Quotes
------------------------------------------------------------ */
@media screen and (max-width: 1279px) { 
	#leftnav_position_triviaquotes{ margin-top: 0;}
	#triviaquotes{margin-top: 0;}
}

@media screen and (max-width: 480px) { 
	#triviaquotes{ margin-top: 0;}
}


/*---------------------------------------------------------- 
Links addnew
------------------------------------------------------------ */
@media screen and (max-width: 1279px) { 
	#leftnav_position_linkaddnew{ margin-top: 0;}
	#linkaddnew{margin-top: 0;}
}

@media screen and (max-width: 480px) { 
	#linkaddnew{ margin-top: 0;}
}

@media screen and (max-width: 480px) { 
	.links_addnew_text{width:50%;display:inline;}
	.links_addnew_input{width:50%;display:inline;}
	.links_addnew_row{width:50%;}
}


/*---------------------------------------------------------- 
Links Modify list
------------------------------------------------------------ */
@media screen and (max-width: 500px) { 
	.links_list_row{
			flex-direction: column;
	}
}
	
@media screen and (max-width: 1279px) { 
	#leftnav_position_linkmodlist{ margin-top: 0;}
	#linkmodlist{margin-top: 0;}
}

@media screen and (max-width: 480px) { 
	.user_stats_img_dark{display : none;}
}	


/*---------------------------------------------------------- 
Links category
------------------------------------------------------------ */
@media screen and (max-width: 1279px) { 
	#leftnav_position_linkcat{ margin-top: 0;}
	#linkcat{margin-top: 0;}
}

@media screen and (max-width: 480px) { 
	#linkcat{ margin-top: 0;}
}

@media screen and (max-width: 500px) { 
	#linkcat_wide{ display: none;}
}

@media screen and (min-width: 499px) { 
	#linkcat_small{ display: none;}
}


/*---------------------------------------------------------- 
Links Modify
------------------------------------------------------------ */	
@media screen and (max-width: 1279px) { 
	#leftnav_position_linkmod{ margin-top: 0;}
	#link_mod{margin-top: 0;}
}

@media screen and (max-width: 480px) { 
	#link_mod{ margin-top: 0;}
}

@media screen and (max-width: 550px) { 
	.links_mod_text{width:100%;display:block;}
	.links_mod_input{width:100%;display:block;}
	.links_mod_row{width:100%;margin-bottom:10px;}
}

@media screen and (max-width: 600px) { 
	#user_stats_img_dark{display : none;}
}


/*---------------------------------------------------------- 
Games main
------------------------------------------------------------ */	
@media screen and (max-width: 1279px) { 
	#leftnav_position_games_main{ margin-top: 0;}
	#games_main{margin-top: 0;}
}

@media screen and (max-width: 1050px) { 
.games_main_row{width:90%; }
.games_main_text{width:40%;}
.games_main_input{width:60%;}
}

@media screen and (max-width: 550px) { 
	.games_main_text{width:35%;}
	.games_main_input{width:65%;}
}
	

@media screen and (max-width: 480px) { 
	.games_main_text{display:inline;}
	.games_main_input{display:inline;}
	.games_main_row{width:50%;margin-left:10%}
}

@media screen and (max-width: 1050px) { 
	.games_check_container{
		flex-direction: column;
		width: 100%;
	}
	#child_1, #child_2{width:100%; margin-left:10%;}
}


/*---------------------------------------------------------- 
Games list
------------------------------------------------------------ */	
@media screen and (max-width: 1279px) { 
	#quick_search_games_list{ margin-top: 0;}
	#games_list	{margin-top: 0;}
}

@media screen and (max-width: 1174px) { 
 .info_td,.year_td,#info_th,#year_th{display:none;}
}

@media screen and (max-width: 949px) { 
 .dev_td,#dev_th{display:none;}
}

@media screen and (max-width: 600px) { 
 .pub_td,#pub_th{display:none;}
 #game_th,.game_td{text-align:center;}
}


/*---------------------------------------------------------- 
Games detail
------------------------------------------------------------ */	
@media screen and (min-width: 1280px) {
	#gd_other_features_left{display:none;}
	#gd_other_features_right{display:none;}
}

@media screen and (max-width: 1279px) { 
	#games_detail{margin-top: 0;}
	#leftnav_position_games_detail{margin-top: 0;}
	#quick_search_games_detail{margin-top: 0;}
	#gd_basic_game_info{width:100%; margin-bottom: 20px;}
	#gd_other_features{display:none}
	#gd_other_features_left{float:left; width:49%;}
	#gd_other_features_right{float:right; width:49%;}
	#gd_left{float:left; width:49%;}
	#gd_right{float:right; width:49%;}
	#gd_center{float:right; width:49%;}
	#gd_back{margin-top:20px;}
	#gd_publisher_info{margin-top:20px;}
}

@media screen and (max-width: 600px) { 
	#gd_basic_game_info_category{width:100%; float:left; margin-top:20px; margin-bottom:20px; margin-left:5%}
	#gd_other_features_left{float:left; width:100%; margin-bottom:20px;}
	#gd_game_aka{margin-bottom:20px;}
	#gd_other_features_right{float:right; width:100%;}
	#gd_left{float:left; width:100%;}
	#gd_right{float:right; width:100%;}
	#gd_center{float:right; width:100%;}
	#gd_publisher_info{margin-top:0;}
}


/*---------------------------------------------------------- 
Games comment
------------------------------------------------------------ */	
@media screen and (max-width: 1279px) { 
	#leftnav_position_games_comment{margin-top: 0;}
	#quick_search_games_comment{margin-top: 0;}
	#games_comment{margin-top: 0;}
}

@media screen and (max-width: 640px) { 
	.gc_left_head{display:none;}
	.gc_left{display:none;}
}


/*---------------------------------------------------------- 
Games comment edit
------------------------------------------------------------ */	
@media screen and (max-width: 1279px) { 
	#leftnav_position_games_comment_edit{margin-top: 0;}
	#quick_search_games_comment_edit{margin-top: 0;}
	#games_comment_edit{margin-top: 0;}
}

/*---------------------------------------------------------- 
Games Upload
------------------------------------------------------------ */
@media screen and (max-width: 1050px) { 
	.game_upload_container{
		flex-direction: column;
	}
}
	
@media screen and (max-width: 1280px) { 	
	#gu_child_1, #gu_child_2{ width:100%;}
}

@media screen and (max-width: 480px) { 
	#leftnav_position_game_upload{ margin-top: 20px; margin-bottom: 20px;}
}


/*---------------------------------------------------------- 
Games screenshots add
------------------------------------------------------------ */
@media screen and (max-width: 480px) { 
	#leftnav_position_game_screenshot_add{ margin-bottom: 20px;}
}

/*---------------------------------------------------------- 
Games boxscans add
------------------------------------------------------------ */
@media screen and (max-width: 480px) { 
	#leftnav_position_game_box_add{ margin-bottom: 20px;}
}

/*---------------------------------------------------------- 
Games similar add
------------------------------------------------------------ */
@media screen and (max-width: 480px) { 
	#leftnav_position_game_similar_add{ margin-bottom: 20px;}
}

/*---------------------------------------------------------- 
Games review main
------------------------------------------------------------ */
@media screen and (max-width: 480px) { 
	#leftnav_position_game_review{ margin-bottom: 20px;}
}

@media screen and (max-width: 500px) { 
	#nrreviews_gr_th, .nrreviews_gr_td{ display: none;}
}

@media screen and (max-width: 600px) { 
	#username_gr_th, .username_gr_td{ display: none;}
}

@media screen and (max-width: 1100px) { 
	#reviewdate_gr_th, .reviewdate_gr_td{ display: none;}
}

@media screen and (max-width: 1750px) { 
	#gamepub_gr_th, .gamepub_gr_td{ display: none;}
}

/*---------------------------------------------------------- 
Games review add
------------------------------------------------------------ */
@media screen and (max-width: 480px) { 
	#leftnav_position_game_review_add{ margin-bottom: 20px;}
}

/*---------------------------------------------------------- 
Games review edit
------------------------------------------------------------ */
@media screen and (max-width: 480px) { 
	#leftnav_position_game_review_edit{ margin-bottom: 20px;}
}

/*---------------------------------------------------------- 
Games review preview
------------------------------------------------------------ */
@media screen and (max-width: 480px) { 
	#leftnav_position_game_review_preview{ margin-top: 20;}
}


@media screen and (max-width: 1199px) { 
	.review_container {
	  flex-direction: column; 
	}	
		
	#review_screenshots,#review_text{width:100%; float:left;}

	.review_container >div {
		width:100%;
		}
		
	.review_child {
			display: block;
			margin: 0 auto;
		}
		
	.review_screenshot_order{display:inline-block; vertical-align:top;}

}

/*---------------------------------------------------------- 
Games review list
------------------------------------------------------------ */
@media screen and (max-width: 480px) { 
	#leftnav_position_game_review_list{ margin-bottom: 20px;}
}

/*---------------------------------------------------------- 
Games review submitted
------------------------------------------------------------ */
@media screen and (max-width: 480px) { 
	#leftnav_position_game_review_submitted{ margin-top: 20px;}
}

/*---------------------------------------------------------- 
Games series main
------------------------------------------------------------ */
@media screen and (max-width: 480px) { 
	#leftnav_position_game_series_main{ margin-top: 20px;}
}

/*---------------------------------------------------------- 
Games series editor
------------------------------------------------------------ */
@media screen and (max-width: 480px) { 
	#leftnav_position_game_series_edit{ margin-top: 20px;}
}

/*---------------------------------------------------------- 
Games series add games
------------------------------------------------------------ */
@media screen and (max-width: 480px) { 
	#leftnav_position_game_series_add_games{ margin-top: 20px;}
}

/*---------------------------------------------------------- 
Games music
------------------------------------------------------------ */
@media screen and (max-width: 480px) { 
	#leftnav_position_game_music{ margin-top: 20px;}
}

/*---------------------------------------------------------- 
Games music list
------------------------------------------------------------ */
@media screen and (max-width: 480px) { 
	#leftnav_position_game_music_list{ margin-top: 20px;}
}

@media screen and (max-width: 550px) { 
	#zaks_gm_th, .zaks_gm_td{ display: none;}
}
@media screen and (max-width: 1000px) { 
	#pub_gm_th, .pub_gm_td{ display: none;}
}

@media screen and (max-width: 1450px) { 
	#year_gm_th, .year_gm_td{ display: none;}
}

/*---------------------------------------------------------- 
Games music detail
------------------------------------------------------------ */
@media screen and (max-width: 480px) { 
	#leftnav_position_game_music_detail{ margin-top: 20px; margin-bottom: 20px;}
}

/*---------------------------------------------------------- 
Games submissions
------------------------------------------------------------ */
@media screen and (max-width: 480px) { 
	#leftnav_position_game_submissions{ margin-top: 20px;}
}

/*---------------------------------------------------------- 
News Add
------------------------------------------------------------ */
@media screen and (max-width: 480px) { 
	#leftnav_position_news_add{ margin-top: 20px;}
}

/*---------------------------------------------------------- 
News Icon preview
------------------------------------------------------------ */
@media screen and (max-width: 480px) { 
	#leftnav_position_news_icon_preview{ margin-top: 20px;}
}

/*---------------------------------------------------------- 
News approve
------------------------------------------------------------ */
@media screen and (max-width: 480px) { 
	#leftnav_position_news_approve{ margin-top: 20px;}
	#news_approve_icon{display:none;}
}

/*---------------------------------------------------------- 
News edit all
------------------------------------------------------------ */
@media screen and (max-width: 480px) { 
	#leftnav_position_news_edit_all{ margin-top: 20px;}
	#news_approve_icon{display:none;}
}

/*---------------------------------------------------------- 
News edit
------------------------------------------------------------ */
@media screen and (max-width: 480px) { 
	#leftnav_position_news_edit{ margin-top: 20px;} 
}

/*---------------------------------------------------------- 
News add image
------------------------------------------------------------ */
@media screen and (max-width: 480px) { 
	#leftnav_position_news_add_image{ margin-top: 20px;} 
}

/*---------------------------------------------------------- 
News edit image
------------------------------------------------------------ */
@media screen and (max-width: 480px) { 
	#leftnav_position_news_edit_image{ margin-top: 20px;}
}

@media screen and (max-width: 600px) { 
	.news_images_name{ display:none;}
	.news_images_container{text-align:center;}
}

/*---------------------------------------------------------- 
Company Main
------------------------------------------------------------ */
@media screen and (max-width: 480px) { 
	#leftnav_position_company_main{ margin-top: 20px;}
}

@media screen and (max-width: 1549px) { 
	.main_company_container {
	  flex-direction: column; 
	}	
		
	#child_edit_company, #child_add_company {float:left; margin-bottom: 30px;}

	.main_company_container >div {
		width:100%;
		}
		
	.main_company_child {
			display: block;
			margin: 0 auto;
		}
}

/*---------------------------------------------------------- 
Company edit
------------------------------------------------------------ */
@media screen and (max-width: 480px) { 
	#leftnav_position_company_edit{ margin-top: 20px;}
}

/*---------------------------------------------------------- 
Company logos
------------------------------------------------------------ */
@media screen and (max-width: 480px) { 
	#leftnav_position_company_logos{ margin-top: 20px;}
}

/*---------------------------------------------------------- 
Individuals Main
------------------------------------------------------------ */
@media screen and (max-width: 480px) { 
	#leftnav_position_individuals_main{ margin-top: 20px; margin-bottom: 20px;}
}

/*---------------------------------------------------------- 
Individuals edit
------------------------------------------------------------ */
@media screen and (max-width: 480px) { 
	#leftnav_position_individuals_edit{ margin-top: 20px;}
}

/*---------------------------------------------------------- 
Author types
------------------------------------------------------------ */
@media screen and (max-width: 480px) { 
	#leftnav_position_author_types{ margin-top: 20px;}
}

/*---------------------------------------------------------- 
Admin - DB updates
------------------------------------------------------------ */	
@media screen and (max-width: 500px) { 
	#td_db_result, #th_db_result,#th_db_state,#td_db_state,
	#td_db_id,#th_db_id,#th_db_exe,#td_db_exe{display:none;}
}

@media screen and (max-width: 600px) { 
	#td_db_result, #th_db_result,#th_db_state,#td_db_state, 
	#td_db_id, #th_db_id{display:none;}
}

@media screen and (max-width: 900px) { 
	#td_db_result, #th_db_result,#th_db_state,#td_db_state{display:none;}
}

@media screen and (max-width: 1279px) { 
	#td_db_result, #th_db_result{display:none;}
}


/*---------------------------------------------------------- 
General settings
------------------------------------------------------------ */
/*---------------------------------------------------------- 
Background images
------------------------------------------------------------ */
@media screen and (min-width: 481px) { 
	body { background-image: url(../images/top_bg_sides.jpg);
		  background-position: left top;
		  background-repeat: repeat-x;
	}
}

@media screen and (min-width: 1280px){
	body { background-image: url(../images/top_bg_menu.jpg), url(../images/top_bg_sides.jpg);
	  background-position: left 220px, left top;
	  background-repeat: repeat-x, repeat-x;}
}

@media screen and (min-width: 1920px) { 
	body {	background-image: url(../images/top_bg_left.jpg), url(../images/top_bg_right.jpg), url(../images/top_bg_menu.jpg);
			background-position: left 2px, right 2px, left 220px;
			background-repeat: no-repeat, repeat-x, repeat-x;
		 }
}

@media screen and (min-width: 1921px) { 
	body { 	background-image: url(../images/top_bg_sides.jpg), url(../images/top_bg_menu.jpg), url(../images/main_bg.png), url(../images/main_bg.png); 
			background-position: left top, left 220px, -3% 45%, 110% 135%, left top;
			background-repeat: repeat-x, repeat-x, no-repeat, no-repeat;
		}
}


/*------------------------------------------------------------
Standard tile settings 

Up until width of 639 we have 1 tile per rows
From 640 to 800 we have 2 tiles.
From a width of 801 we will be having rows of 3 tiles 
-------------------------------------------------------------*/
/* 2 tiles and background welcome image */
@media screen and (min-width: 640px) and (max-width: 800px)
{
	.column-left { width: 48%; 
			margin-top: -395px;
	}
	.column-center { width: 48%; float:right;
	}
	.column-right{display : none;}
	.column-left-tab { width: 48%; float: left;}
	.column-right-tab { width: 48%; float: right}
	.column-wide-right {width: 48%; float: right}
	.column-wide-left {width: 100%; }
}

/* 1 tile and a simplified intro screen */
@media screen and (max-width: 639px) { 
	.column-left { width: 100%; } 
	.column-center { width: 100%; margin-left: 0;}
	.column-right { width: 100%; }	
	.column-right-tab {display:none}
	.column-left-tab {display:none}
	.column-wide-right { width: 100%;}
	.column-wide-left {display:none}
}

@media screen and (min-width: 801px) { 
	.column-right-tab {display:none}
	.column-left-tab {display:none}
}

/*  4 tiles and background welcome image */
@media screen and (min-width: 1495px){ 
	.column-wide-left { width: 49%;}
	.column-wide-center_1920 { display:inline; width: 100%;}
	.column-wide-right_1920 { width: 24.75%; float: right; display:block;}
	.column-wide-left_1920 { width: 24.75%; float: left; display:block;}
	.column-wide-right {display: none;}
	.column-left {display: none;}
	.column-center{display: none;}
	.column-right {display: none;}
}

@media screen and (min-width: 450px) and (max-width: 639px) { 
	.standard_list_entry{height: 180px;}
} 


/*------------------------------------------------------------
Standard table settings 
-------------------------------------------------------------*/
@media screen and (max-width: 1280px) { 	
	#column-left-cpanel { width: 25%; 
		 float:left;
	}

	#column-center-cpanel { width: 73%; 
		 float:right;
	}

	#column-right-cpanel { display: none;
	}

}

/* for lower resolutions put the left and right below eachother */
@media screen and (max-width: 799px) { 	
	.main_container_cpanel {
	  display: flex;
	  flex-direction: column-reverse; 
	  float: left;
	  width:100%;
	}	
	#column-left-cpanel { width:100%; float:left; margin:auto;  }
	#column-center-cpanel { width:100%; float:left; margin:auto;  }
	#column-right-cpanel { width:100%; float:right; margin:auto; }


	.main_container_cpanel >div {
		width:100%;
		}
		
	.content_box_cpanel {
			display: block;
			margin: 0 auto;
		}
}


/*---------------------------------------------------------- 
 resolutions tested!
------------------------------------------------------------ */
/* smartphones, iPhone, portrait 480x320 phones */
/* @media screen and (max-width: 320px) {  

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
/* @media screen and (min-width: 481px) { 

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
/* @media screen and (min-width: 641px) {  

/* tablet, landscape iPad, lo-res laptops ands desktops */
/* @media screen and (min-width: 961px) { 

/* big landscape tablets, laptops, and desktops */
/* @media screen and (min-width: 1025px) { 

/* hi-res laptops and desktops */
/* @media screen and (min-width: 1281px) {  */


