{* EDIT BOX FOR MENU DISKS *}
{if isset($smarty_action) and $smarty_action == "edit_disk_box"}
			
			<td colspan="4" style="width:100%;margin:0px;padding:0px;">
				<table class="inner_table">
					<tr>
						<th style="width:40%;"><a onclick="CloseeditDisk({$menus.menu_disk_id})" style="cursor: pointer;" class="MAINNAV">{$menus.menu_disk_name}</a></th>
						<th style="width:30%;">{if isset($menus.crew_id)}{$menus.crew_name}{else}<i>n/a</i>{/if}</th>
						<th style="width:15%;"><i>n/a</i></th>				
						<th style="width:15%;">{if isset($menus.menu_state)}{$menus.menu_state}{else}<i>n/a</i>{/if}</th>
					</tr>
					<tr>
						<td colspan="4" style="border-top: solid 1px #b2b2b2;font-weight:normal;">
						<br/>
						<div style="display:flex;justify-content:space-between;width:95%;">
						<div class="game_set" style="display:inline-block;width:320px;margin-left:20px;">
							tons of editing!!!<br/>
							<br/>
						
						<ul id="menu_disk_detail_links">
						<li id="intro_credit_link"><a onclick="popAddIntroCred({$menus.menu_disk_id})" style="cursor: pointer;" class="MAINNAV">Add intro credits</a></li>
						<li id="gameto_menu_link"><a onclick="popAddGames({$menus.menu_disk_id})" style="cursor: pointer;" class="MAINNAV">Add Game/Tool/Demo to menu</a></li>
						<li id="gamedocto_menu_link"><a onclick="CloseeditDisk({$menus.menu_disk_id})" style="cursor: pointer;" class="MAINNAV">Add Game Doc to menu</a></li>
						<li id="gamedocto_menu_link"><a onclick="CloseeditDisk({$menus.menu_disk_id})" style="cursor: pointer;" class="MAINNAV">Add Tool Doc to menu</a></li>
						</ul>
						<br/>
						</div>
						
						<div class="game_set" style="display:inline-block;width:450px;float:right;margin-right:20px;">
			<div id="menu_credit_list">			
							<table class="table_game_list" style="width:100%;float:right;">
			<tr>
				<th style="width:20%;">Menu Credits</th>
				<th style="width:20%;">"Sceners"</th>
				<th style="width:20%;">Used nick</th>
				<th style="width:20%;"></th>
				<th style="width:10%;"></th>
			</tr>
					{if isset($individuals)}
					{foreach name=outer item=individual from=$individuals}	
			<tr>
				<td style="width:20%;">{$individual.author_type_info}</td>
				<td style="width:20%;">{$individual.ind_name}</td>
				<form action="#" method="post" name="nick_edit{$individual.ind_id}" id="nick_edit{$individual.ind_id}">
				<td style="width:20%;">
					<select name="individual_nicks_id" id="individual_nicks_id" size="1">
									<option value="-" SELECTED>None</option>



						</select>
					</td>
				<td style="width:20%;">
						<input type="hidden" name="action" value="update_nick">
	
						<input type="submit" name="inserter" value="Update" style="margin: 0 auto;">
						</form>
					</td>				
				<td style="width:10%">
				<a style="cursor: pointer;" class="MAINNAV" onclick="DeleteCredits({$individual.menu_disk_credits_id},{$individual.menu_disk_id})">Delete</a>
				</td>
			</tr>
					{/foreach}
					{/if}
			<tr>
				<td class="game_list_footer" colspan="5">
					&nbsp;&nbsp;&nbsp;
				</td>
			</tr>
		</table>
			</div>			
						</div>
						
						
						</div>
						<br/>
						<div id="menu_software_list">
			{if isset($game)}
			<table class="table_game_list" style="width:95%;">
			<tr>
				<th class="table_game_list" style="width:5%;margin:0px;border-right:0px;">Mark</th>
				<th class="table_game_list" style="width:30%;margin:0px;border-right:0px;border-left:0px;">Game Name</th>
				<th class="table_game_list" style="width:20%;margin:0px;border-right:0px;border-left:0px;">Developer</th>
				<th class="table_game_list" style="width:20%;margin:0px;border-right:0px;border-left:0px;">Year</th>
				<th class="table_game_list" style="width:15%;margin:0px;border-right:0px;border-left:0px;">Info</th>
			</tr>
			{foreach from=$game item=line}
			<tr class="table_game_list">
				<td class="table_game_list" style="width:5%;margin:0px;border:0px;">
					<form name="MenuDiskContent" id="MenuDiskContent">
					<input type="checkbox" id="menu_disk_title_id{$line.menu_disk_title_id}" name="menu_disk_title_id[]" value="{$line.menu_disk_title_id}" onchange="deleteGamefromMenu({$line.menu_disk_title_id},{$menu_disk_id})">
				</td>
				<td class="table_game_list" style="width:25%;margin:0px;border:0px;">
					{if $line.game_name != ''}<a href="games_detail.php?menu_disk_title_id={$line.menu_disk_title_id}" class="MAINNAV">{$line.game_name}</a>
						{else}<i>n/a</i>{/if}
				</td>
				<td class="table_game_list" style="width:30%;margin:0px;border:0px;">
						{if $line.developer_name != ''}
							{$line.developer_name}
						{else}
						<i>unknown</i>	
						{/if}</td>				
				<td class="table_game_list" style="width:15%;margin:0px;border:0px;">
					{if $line.year != ''}
						<a href="games_main.php?year={$line.year}&amp;action=search" class="MAINNAV">
							{$line.year}
						</a>
						{else}
							<i>n/a</i>
						{/if}
					</td>
					<td class="table_game_list" style="width:20%;margin:0px;border:0px;">
						{$line.menu_types_text}
					</td>
			</tr>
			{/foreach}
							<tr>
					<td class="game_list_footer" colspan="5">
						<img src="../templates/0/images/arrow_ltr.gif" alt="" width="38" height="22" style="float:left;">
						<input type="hidden" name="action" value="delete_from_menu_disk">
						<input type="button" value="Delete from menu disk" style="float:left;">
						</form>
					</td>
				</tr>
			</table>
			{/if}			
					</div>	
						<br/><br/>
						
						
						<div id="menu_detail_expand"> </div>
						
						

						</td>
					</tr>
				</table>
			</td>
{/if}
{* CLOSE EDIT BOX FOR MENU DISKS *}
{if isset($smarty_action) and $smarty_action == "close_edit_disk_box"}
						<td style="width:40%;"><a onclick="editDisk({$menus.menu_disk_id})" style="cursor: pointer;" class="MAINNAV">{$menus.menu_disk_name}</a></td>
						<td style="width:30%;">{if isset($menus.crew_id)}{$menus.crew_name}{else}<i>n/a</i>{/if}</td>
						<td style="width:15%;"><i>n/a</i></td>				
						<td style="width:15%;">{if isset($menus.menu_state)}{$menus.menu_state}{else}<i>n/a</i>{/if}</td>
{/if}
{* POP FOR ADD INTRO CRED *}
{if isset($smarty_action) and $smarty_action == "add_intro_credit"}

							<div style="display:block;width:220px;margin-left:10px;text-align:center;float:left;">	
							<hr>
							{* Start Individual add box *}
							<FORM action="" method="post" id="menu_credits_form">
						
							<br/>
							Add intro credits:<br/>
							<SELECT class="saveHistory" id="m1" name="m1" onchange="browseInd(this.value)">
							{html_options values=$az_value output=$az_output}
							</SELECT>
							<input type="text" onkeyup="searchInd(this.value)" style="width:100px;">
							<div id="ind_member">   
								<SELECT id="ind_id" name="ind_id" size="10" style="margin:5px;width:200px;">
								{foreach from=$ind item=line}
								<option value="{$line.ind_id}">{$line.ind_name}</option>
								{/foreach}	
								</SELECT>
							</div>	      
								<SELECT id="author_type_id" name="author_type_id" size="1" style="margin:5px;margin-top:0px;width:200px;">
								<option value="">-</option>	
								{foreach from=$author_type item=line}
								<option value="{$line.author_type_id}">{$line.author_type_info}</option>
								{/foreach}	
								</SELECT>
							
							<input type="hidden" name="action" value="add_intro_credits">
							<input type="hidden" name="menu_disk_id" value="{$menu_disk_id}">
							<INPUT type="button" value="Add Crewmember" onclick="addCreditstoMenu({$menu_disk_id})">
							</FORM>
							{* END Individual add box *}
							<hr>
							</div>

{/if}
{if isset($smarty_action) and $smarty_action == "add_game_to_menu_return"}

			{if isset($game)}
			<table class="table_game_list" style="width:95%;">
			<tr>
				<th class="table_game_list" style="width:5%;margin:0px;border-right:0px;">Mark</th>
				<th class="table_game_list" style="width:30%;margin:0px;border-right:0px;border-left:0px;">Game Name</th>
				<th class="table_game_list" style="width:20%;margin:0px;border-right:0px;border-left:0px;">Developer</th>
				<th class="table_game_list" style="width:20%;margin:0px;border-right:0px;border-left:0px;">Year</th>
				<th class="table_game_list" style="width:15%;margin:0px;border-right:0px;border-left:0px;">Info</th>
			</tr>
			{foreach from=$game item=line}
			<tr class="table_game_list">
				<td class="table_game_list" style="width:5%;margin:0px;border:0px;">
					<form name="MenuDiskContent" id="MenuDiskContent">
					<input type="checkbox" id="menu_disk_title_id{$line.menu_disk_title_id}" name="menu_disk_title_id[]" value="{$line.menu_disk_title_id}" onchange="deleteGamefromMenu({$line.menu_disk_title_id},{$menu_disk_id})">
				</td>
				<td class="table_game_list" style="width:25%;margin:0px;border:0px;">
					{if $line.game_name != ''}<a href="games_detail.php?menu_disk_title_id={$line.menu_disk_title_id}" class="MAINNAV">{$line.game_name}</a>
						{else}<i>n/a</i>{/if}
				</td>
				<td class="table_game_list" style="width:30%;margin:0px;border:0px;">{if $line.developer_name != ''}
							{$line.developer_name}
						{else}
							
						{/if}</td>				
				<td class="table_game_list" style="width:15%;margin:0px;border:0px;">
					{if $line.year != ''}
							{$line.year}
						</a>
						{else}
							<i>n/a</i>
						{/if}
					</td>
					<td class="table_game_list" style="width:20%;margin:0px;border:0px;">
						{$line.menu_types_text}
					</td>
			</tr>
			{/foreach}
							<tr>
					<td class="game_list_footer" colspan="5">
						<img src="../templates/0/images/arrow_ltr.gif" alt="" width="38" height="22" style="float:left;">
						<input type="hidden" name="action" value="delete_from_menu_disk">
						<input type="button" value="Delete from menu disk" style="float:left;">
						</form>
					</td>
				</tr>
			</table>
			{/if}
			
			{if isset($osd_message)}
			[BRK]{$osd_message}
			{/if}
{/if}
{* This is the Ind browse *}
{if isset($smarty_action) and $smarty_action == "ind_gen_browse"}
<select id="ind_id" name="ind_id" size="10" style="margin:5px;width:200px;">
{foreach from=$author_type item=line}
<option value="{$line.ind_id}">{$line.ind_name}</option>
{/foreach}
</select>
{/if}
{if isset($smarty_action) and $smarty_action == "update_menu_disk_credits"}
							<table class="table_game_list" style="width:100%;float:right;">
			<tr>
				<th style="width:20%;">Menu Credits</th>
				<th style="width:20%;">"Sceners"</th>
				<th style="width:20%;">Used nick</th>
				<th style="width:20%;"></th>
				<th style="width:10%;"></th>
			</tr>
					{if isset($individuals)}
					{foreach name=outer item=individual from=$individuals}	
			<tr>
				<td style="width:20%;">{$individual.author_type_info}</td>
				<td style="width:20%;">{$individual.ind_name}</td>
				<form action="#" method="post" name="nick_edit{$individual.ind_id}" id="nick_edit{$individual.ind_id}">
				<td style="width:20%;">
					<select name="individual_nicks_id" id="individual_nicks_id" size="1">
									<option value="-" SELECTED>None</option>



						</select>
					</td>
				<td style="width:20%;">
						<input type="hidden" name="action" value="update_nick">
	
						<input type="submit" name="inserter" value="Update" style="margin: 0 auto;">
						</form>
					</td>				
				<td style="width:10%">
				<a style="cursor: pointer;" class="MAINNAV" onclick="DeleteCredits({$individual.menu_disk_credits_id},{$individual.menu_disk_id})">Delete</a>
				</td>
			</tr>
					{/foreach}
					{/if}
			<tr>
				<td class="game_list_footer" colspan="5">
					&nbsp;&nbsp;&nbsp;
				</td>
			</tr>
		</table>
{/if}
