//*************************************************************/
//**********************TOS 207 SKIN***************************/
//*************************************************************/
//*****************CPanel COMPANY section css******************/
//*************************************************************/
//*---------------------Company main------------------------- */

.main_company_container {
    display: flex;
    align-items: flex-start;
}

.main_company_child {
    text-align: center;
}
#child_edit_company, #child_add_company {
    float: left;
    width: 85%;
}
