//*************************************************************/
//**********************TOS SKIN****************************/
//*************************************************************/
//*************************************************************/
//****************CPanel DOWNLOAD section css****************/
//*************************************************************/

// DOWNLOAD edit section
// *********************

.download_short_descr {
    display: none;
}

.download_details_text {
    @extend .user_details_text;
    width: 25%;
}

.download_details_row {
    @extend .user_details_row;
}

.download_details_text_long {
    @extend .user_details_text;
    width: 100%;
    text-align: center;
}
