//*************************************************************/
//**********************TOS 207 SKIN***************************/
//*************************************************************/
//*************************************************************/
//*****************CPanel NEWS section css********************/
//*************************************************************/
//*------------------News Edit Image------------------------- */

.news_images_check {
    vertical-align: middle;
}

.news_images_display {
    vertical-align: middle;
}

.news_images_name {
    padding-left: 15px;
    vertical-align: middle;
}
