//*************************************************************/
//**********************TOS 207 SKIN***************************/
//*************************************************************/
//*************************************************************/
//***************CPanel INTERVIEWS section css*****************/
//*************************************************************/
//*----------------------Interviews main--------------------- */

.interviews_main_table {
    display: table;
    width: 100%;
}

.interviews_main_photo {
    display: table-cell;
    width: 20%;
}

.interviews_main_preview {
    display: table-cell;
    width: 80%;
    vertical-align: middle;
}

.interviews_main_preview_100 {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}

.interview_preview_screenshot_order {
    width: 170px;
    margin: auto;
    font-size: 9pt;
    background-color: #eeeeee;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 8px;
    padding-right: 8px;
}
