//*************************************************************/
//**********************TOS 207 SKIN***************************/
//*************************************************************/
//*************************************************************/
//***************CPanel INTERVIEWS section css*****************/
//*************************************************************/
//*----------------------Interviews main--------------------- */

.interviews_main_table {
    display: table;
    width: 100%;
}

.interviews_main_photo {
    display: table-cell;
    width: 20%;
}

.interviews_main_preview {
    display: table-cell;
    width: 80%;
    vertical-align: middle;
}

.interviews_main_preview_100 {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}

#member_select{
    @extend #quick_search_pub_select;
    width: 192px;
    height: 27px;
}

