//*************************************************************/
//**********************TOS 207 SKIN***************************/
//*************************************************************/
//*************************************************************/
//********CPanel MAIN structure and LEFT and RIGHT css*********/
//*************************************************************/
.main_stats_container {
    display: flex;
    align-items: flex-start;
}

#child_some_stats {
    float: left;
    width: 45%;
}

#child_good_karma, #child_bad_karma, #child_bad_karma_chart, #child_bar, #child_line, #child_good_karma_chart {
    float: left;
    width: 50%;
    margin-left: auto;
}


//*----------------------------------------------------------
//Left nav
//------------------------------------------------------------ */
#leftnav_position_front {
    float: left;
}
.left_nav_section {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    margin: 0;
    font-weight: bold;
    text-align: center;
    list-style-type: none;
    background-color: #dbd7d1;
    border-collapse: collapse;
    border-top: solid 2px #b2b2b2;
    border-bottom: solid 2px #b2b2b2;
}

.left_nav_link:link {
    color: #182727;
}
.left_nav_link:visited {
    color: #182727;
}
.left_nav_link:hover {
    color: #666666;
}
//*----------------------------------------------------------
//Quick search games
//------------------------------------------------------------ */

#quick_search_games_main {
    float: left;
    margin-top: 20px;
    margin-bottom: 0;
}

#quick_search_options, #quick_search_user_options {
    display: table;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}

.quick_search_games_button {
    width: 80px;
    height: 25px;
    padding-top: 3px;
    font-size: 13px;
    color: #182727;
    text-shadow: -1px 1px 5px #ffffff, 1px -1px 15px #acacac;
    cursor: pointer;
    background: #ffffff;
    border: 0;
    border-bottom: 3px solid #000000;
}

.quick_search_games_button:hover {
    color: #ffffff;
    background: #000000;
}
