//******************************************************************/
//**************************LEGACY TOS 2.0******************************/
//*******************************************************************/
//*******************************************************************/
//***This is the css code for the news pages of the main site********/
//*******************************************************************/

.news_main_text {
    @extend .interview_main_text;
    height: 100%;
}

.news_left_head {
    width: 50%;
}
.news_right_head {
    width: 50%;
}
.news_date {
    display: none;
    color: #000000;
}
