//**************************************************************/
//**********************TOS 207 SKIN****************************/
//**************************************************************/
//
//**************************************************************/
//***This is the css code for the front page of the main site***/
//**************************************************************/
//*----------------------------------------------------------
// * Welcome tile settings -->
// * frontpage
// * ------------------------------------------------------------ */

#welcome {
    position: relative;
    float: left;
    width: 845px;
    height: 460px;
    margin-top: -40px;
    margin-bottom: 20px;
    overflow: hidden;
    border: 2px solid #000;
    box-shadow: 3px 3px 5px #888;
}

.welcome_slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 845px;
    height: 460px;
    overflow: hidden;
    cursor: move;
}

#welcome p {
    padding-right: 5%;
    padding-left: 5%;
    //* RGBa with 0.6 opacity */
    text-align: center;
    background: rgb(172, 172, 172) transparent;
    //* Fallback for web browsers that doesn't support RGBa */
    background: rgba(172, 172, 172, .8);
    border-right: 2px solid #666;
}

.welcome_text {
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    color: #23f001;
    border-bottom: 2px solid #666;
    margin-top: 130px;
}

.trivia_title {
    font-size: 25px;
    color: #fff;
}

.trivia_tag {
}

.trivia_text { font-size: 16px; color: #fff;}
//*----------------------------------------------------------
//logon tile --> front page
//------------------------------------------------------------ */
.logon {
    float: right;
    width: 100%;
    margin-top: -40px;
}

.logon_input_usn {
    position: relative;
    width: 100%;
    margin-top: 20px;
    margin-left: 10%;
}

.logon_username_icon::before {
    display: block;
    content: url('../images/logon_usn.png');
}

.logon_password_icon::before {
    display: block;
    content: url('../images/logon_pwd.png');
}

.logon_facebook_button::before {
    display: block;
    width: auto;
    //*or your image's width*/
    height: 50%;
    content: url('../images/login-facebook.png');
}

.logon_twitter_button::before {
    display: block;
    width: auto;
    //*or your image's width*/
    height: 50%;
    content: url('../images/login_twitter.png');
}

.logon_left {
    position: absolute;
    left: 0;
    width: 10%;
}

.logon_right {
    position: absolute;
    left: 45px;
    width: 90%;
}

.logon_input_pwd {
    position: relative;
    width: 100%;
    margin-top: 85px;
    margin-left: 10%;
}

.logon_signin {margin-top: 170px;}
.logon_signin img {
    display: block;
    margin: auto;
}

.logon_signin img:hover {opacity: .7;}
.logon_socmed {
    display: block;
    width: 50%;
    margin-top: 10px;
    margin: auto;
}

.logon_socmed:hover {opacity: .7;}
//*----------------------------------------------------------
//datequote tile - front page
//------------------------------------------------------------ */
.datequote_bg { background: url('../images/datequote_bg.jpg'); }
.datequote_bg p { text-align: center; }
.datequote_day {
    margin-top: 0;
    margin-bottom: -20px;
    font-size: 113px;
    color: #fff;
}

.datequote_month {
    margin-top: -10px;
    margin-bottom: -10px;
    font-size: 40px;
    color: #fff;
}

.datequote_year {
    margin-top: -10px;
    font-size: 73px;
    color: #000;
    text-align: center;
}

.datequote_text {
    padding-top: 10px;
    padding-bottom: 10px;
    //* RGBa with 0.6 opacity */
    color: #fff;
    background: rgb(172, 172, 172) transparent;
    //* Fallback for web browsers that doesn't support RGBa */
    background: rgba(172, 172, 172, .7);
}

//*----------------------------------------------------------
//Statistics tile - front page
//------------------------------------------------------------ */
.statistics_dark { color: #666; }
//*----------------------------------------------------------
//contact tiles - front page
//------------------------------------------------------------ */
.contact_tiles {
    margin-bottom: 20px;
    background: none;
    border: none;
    box-shadow: none;
}

.contact_tiles >a >div {
    max-width: 100%;
    margin-bottom: 20px;
    border: 2px solid #000;
    box-shadow: 3px 3px 5px #888;
}

.contact_email_button {
    display: block;
    background-image: url('../images/email.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.contact_email_button >a {
    display: block;
    width: 320px;
    height: 120px;
}

.contact_facebook_button {
    display: block;
    background-image: url('../images/facebook.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.contact_facebook_button >a {
    display: block;
    width: 240px;
    height: 120px;
}

.contact_jukebox_button {
    display: block;
    background-image: url('../images/jukebox.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.contact_jukebox_button >a {
    display: block;
    width: 240px;
    height: 120px;
}

.contact_chat_button {
    display: block;
    background-image: url('../images/chat.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.contact_chat_button >a {
    display: block;
    width: 240px;
    height: 120px;
}

//*----------------------------------------------------------
// Footer
//------------------------------------------------------------ */
.footer {
    float: left;
    width: 100%;
    margin-top: 20px;
    background-color: #23ec00;
    box-shadow: 3px 3px 5px #888;
}

.footer_logo {
    height: 120px;
    font-size: 13px;
    color: #fff;
    text-align: center;
    background: url('../images/footer_bg.jpg') center 0 no-repeat;
    border-top: 2px solid #000;
}

.footer_logo_image::before {
    display: block;
    content: url('../images/footer_logo.png');
}

#footer_img {
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: auto;
}

//*----------------------------------------------------------
//* JqueryUI Autocomplete section
//------------------------------------------------------------ */
//* Component containers----------------------------------*/
.ui-widget-content {
    width: 245px;
    font-size: 13px;
    color: #fff;
    background: #000;
    border: 1px solid #fff;
}

//* Interaction states
//----------------------------------*/
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    color: #000;
    background: #fff;
    border: 1px solid #000;
}
