//*************************************************************/
//**********************TOS 207 SKIN***************************/
//*************************************************************/

//*----------------------------------------------------------
// media queries
//------------------------------------------------------------ */

@media screen and (max-width: 450px) {
    #games_main_list_4,
    #games_main_list_3,
    #games_main_list_2,
    #games_main_list_1 {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    #news_approve_icon {
        display: none;
    }
    #download_details_row,
    .links_addnew_row,
    .user_details_row {
        width: 100%;
    }
    #download_details_text,
    .games_main_text_site {
        display: inline;
    }
    #leftnav_position_change_log {
        margin-top: 20px;
    }
    .links_addnew_text,
    .links_addnew_input {
        width: 100%;
        display: block;
    }
    .user_details_text,
    .user_details_input {
        width: 50%;
        display: inline;
    }
    .user_details_input_small {
        width: 90%;
    }
    #child_1_user {
        margin-bottom: 5px;
    }
    #file_upload_user_detail {
        width: 55%;
    }
    #child_some_stats,
    #child_good_karma_chart,
    #child_bad_karma_chart,
    #child_good_karma,
    #child_bar,
    #child_line,
    #child_bad_karma {
        width: 100%;
        float: left;
    }
    .good_karma_chart,
    .bad_karma_chart {
        width: 100%;
        height: 100%;
    }
}
@media screen and (min-width: 481px) {
    body {
        background-image: url('../images/top_bg_sides.jpg');
        background-position: left top;
        background-repeat: repeat-x;
    }
}
@media screen and (min-width: 499px) {
    #linkcat_small {
        display: none;
    }
}
@media screen and (max-width: 500px) {
    .user_main_container {
        flex-direction: column;
    }
    #user_main_child_3 {
        margin-top: 5px;
    }
    .gc_center_column {
        width: 65%;
    }
    .gc_right_head {
        width: 35%;
    }
    #linkcat_wide {
        display: none;
    }
    .links_list_row {
        flex-direction: column;
    }
}
@media screen and (max-width: 550px) {
    .tech_doc_img {
        width: 90%;
    }
    .games_main_text_site {
        width: 35%;
    }
    #website_name,
    #website_url {
        width: 62%;
    }
    .links_mod_container {
        margin-left: 3.5%;
    }
}
@media screen and (max-width: 599px) {
    .scroll-top-wrapper {
        width: 40px;
        height: 38px;
        line-height: 36px;
        right: 10px;
        bottom: 10px;
    }
}
@media screen and (max-width: 600px) {
    .games_main_text_site {
        display: inline;
        width: 100%;
    }
    .games_main_input_site,
    .games_main_input_site_text,
    .games_main_input_list_text {
        display: inline;
        width: 100%;
        margin-bottom: 5px;
    }
    .games_main_row_site {
        width: 90%;
    }
    #games_main_select_site {
        margin-bottom: 10px;
    }
    .games_main_container {
        flex-direction: column;
        margin-left: 10%;
    }
    #child_1_games,
    #child_2_games,
    #child_3_games {
        width: 100%;
    }
    #child_1_games {
        border-right: 1px solid #666666;
        border-bottom: 0;
    }
    #child_2_games {
        border-left: 1px solid #666666;
        border-top: 0;
    }
    .download_short_descr {
        display: inline;
    }
    .news_images_name,
    .download_long_descr,
    #user_stats_img_dark,
    .games_main_text_short,
    #child_3_games,
    .game_details_review_preview_left {
        display: none;
    }
    #gd_basic_game_info_category {
        width: 100%;
        float: left;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 5%;
    }
    #gd_game_aka {
        margin-bottom: 20px;
    }
    #gd_publisher_info {
        margin-top: 0;
    }
}
@media screen and (max-width: 639px) {
    .logon {
        width: 100%;
        margin-top: 20px;
    }
    #welcome {
        visibility: hidden;
    }
    .latest_news,
    .whoisit_position_front {
        margin-top: 20px;
    }

    .column_center {
        width: 100%;
        margin-left: 0;
    }
    .column_right {
        width: 100%;
    }
    .column_right_tab,
    .column_left_tab,
    .column_wide_right,
    .column_wide_left,
    .column_left {
        display: none;
    }
    .register {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 640px) {
    .user_stats_img_dark,
    .gc_left_column {
        display: none;
    }
}
@media screen and (max-width: 670px) {
    #games_main_list_4,
    #games_main_list_3,
    #games_main_list_1 {
        display: none;
    }
    #games_main_list_2 {
        display: inline;
    }
}

@media screen and (min-width: 768px) {
    .cd-timeline-content h2 {
        font-size: 20px;
        font-size: 1.25rem;
    }
    .cd-timeline-content p {
        font-size: 16px;
        font-size: 1rem;
    }
    .cd-timeline-content .cd-read-more,
    .cd-timeline-content .cd-date {
        font-size: 14px;
        font-size: .875rem;
    }
}
@media screen and (max-width: 799px) {
    .main_container_cpanel {
        display: flex;
        flex-direction: column-reverse;
        float: left;
        width: 100%;
    }
    #column_left_cpanel {
        width: 100%;
        float: left;
        margin: auto;
    }
    #column_center_cpanel {
        width: 100%;
        float: left;
        margin: auto;
    }
    #column_right_cpanel {
        width: 100%;
        float: right;
        margin: auto;
    }
    .main_container_cpanel > div {
        width: 100%;
    }
    .content_box_cpanel {
        display: block;
        margin: 0 auto;
    }
    #column_left_reviews_details {
        width: 100%;
        float: left;
        margin: auto;
        order: 2;
    }
    #column_center_reviews_details {
        width: 100%;
        float: left;
        margin: auto;
        order: 3;
    }
    #column_right_reviews_details {
        width: 100%;
        float: right;
        margin: auto;
        order: 1;
    }

    #column_left_games_details {
        width: 100%;
        float: left;
        margin: auto;
        order: 2;
    }
    #column_center_games_details {
        width: 100%;
        float: left;
        margin: auto;
        order: 3;
    }
    #column_right_games_details {
        width: 100%;
        float: right;
        margin: auto;
        order: 1;
    }
    .content_box_games_details {
        display: block;
        margin: 0 auto;
    }
    .games_main_details_info_position_low {
        display: inline;
    }
    .games_main_details_info_position_high,
    .games_main_detail_nav,
    #games_main_list_4,
    #games_main_list_2,
    #games_main_list_1 {
        display: none;
    }
    #main_stats_position_front,
    #left_nav_position_front {
        width: 100%;
        float: left;
    }
    #column_left_interviews_details {
        width: 100%;
        float: left;
        margin: auto;
        order: 3;
    }
    #column_center_interviews_details {
        width: 100%;
        float: left;
        margin: auto;
        order: 2;
    }
    #column_right_interviews_details {
        width: 100%;
        float: right;
        margin: auto;
        order: 1;
    }
    #games_main_list_3 {
        display: inline;
    }
    .latest_reviews {
        margin-top: 20px;
    }
}
@media screen and (min-width: 800px) {
    .whoisit_position_front {
        float: right;
        margin-top: 20px;
    }
    .column_right_tab,
    .column_left_tab,
    .column_phone {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .news_date {
        display: inline;
    }
    .news_left_head {
        width: 100%;
    }
    .news_right_head {
        display: none;
    }
}
@media screen and (max-width: 949px) {
    #games_main_list_4,
    #games_main_list_3,
    #games_main_list_1 {
        display: none;
    }
    #games_main_list_2 {
        display: inline;
    }
}
@media screen and (max-width: 999px) {
    .games_detail_review_container {
        flex-direction: column;
    }
    #games_detail_review_screenshots,
    #games_detail_review_text {
        width: 100%;
        float: left;
    }
    .games_detail_review_container > div {
        width: 100%;
    }
    .games_detail_review_child {
        display: block;
        margin: 0 auto;
    }
    .games_detail_review_screenshot_order {
        display: inline-block;
        vertical-align: top;
    }
    .games_detail_review_screenshot_space {
        display: inline;
    }
    #games_detail_review_screenshots {
        background-color: #eeeeee;
    }
}

@media screen and (max-width: 1050px) {
    .user_details_container,
    .game_upload_container {
        flex-direction: column;
    }
    .user_details_input_small {
        width: 75%;
    }
    #child_1_user,
    #child_2_user {
        margin-left: 3%;
    }
    #child_1_user {
        margin-bottom: 5px;
    }
    #child_1,
    #child_2 {
        width: 100%;
        margin-left: 10%;
    }
    .games_main_text_site {
        width: 40%;
    }
}
@media screen and (max-width: 1169px) {
    .fa-birthday-cake {
        margin-left: 10%;
        margin-top: 5%;
    }
    .cd-timeline-content .cd-date {
        text-align: center;
        display: block;
        float: none;
    }
    .cd-icon {
        margin-top: 3px;
    }
    .cd-icon2 {
        margin-top: 8px;
    }
}

@media screen and (min-width: 1170px) {
    #cd-timeline {
        margin-top: 3em;
        margin-bottom: 3em;
    }
    #cd-timeline::before {
        left: 50%;
        margin-left: -2px;
    }
    .cd-timeline-block {
        margin: 4em 0;
    }
    .cd-timeline-block:first-child {
        margin-top: 0;
    }
    .cd-timeline-block:last-child {
        margin-bottom: 0;
    }
    .cd-timeline-img {
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;
        //* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
    .cssanimations .cd-timeline-img.is-hidden {
        visibility: hidden;
    }
    .cssanimations .cd-timeline-img.bounce-in {
        visibility: visible;
        animation: cd-bounce-1 .6s;
    }
    .cd-timeline-content {
        margin-left: 0;
        width: 37%;
    }
    .cd-timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: #ffffff;
    }
    .cd-timeline-content .cd-read-more {
        float: left;
    }
    .cd-timeline-content .cd-date {
        position: absolute;
        width: 100%;
        left: 140%;
        top: 6px;
        font-size: 16px;
        font-size: 1rem;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: #ffffff;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 140%;
        text-align: right;
    }
    .cssanimations .cd-timeline-content.is-hidden {
        visibility: hidden;
    }
    .cssanimations .cd-timeline-content.bounce-in {
        visibility: visible;
        animation: cd-bounce-2 .6s;
    }
    //* inverse bounce effect on even content blocks */
    .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
        animation: cd-bounce-2-inverse .6s;
    }
}


@media screen and (max-width: 1199px) {
    .interview_preview_screenshot_order,
    .review_screenshot_order {
        display: inline-block;
        vertical-align: top;
    }
    #review_screenshots {
        background: #eeeeee;
    }
    .review_container {
        flex-direction: column;
    }
    #review_screenshots,
    #review_text {
        width: 100%;
        float: left;
    }
    .review_container > div {
        width: 100%;
    }
    .main_stats_container {
        flex-direction: column-reverse;
    }
    #child_some_stats,
    #child_good_karma_chart,
    #child_bad_karma_chart,
    #child_good_karma,
    #child_bar,
    #child_line,
    #child_bad_karma {
        width: 75%;
        float: left;
    }
    #child_good_karma,
    #child_bar,
    #child_line,
    #child_good_karma_chart,
    #child_bad_karma_chart,
    #child_bad_karma {
        margin-top: 20px;
    }
    .main_stats_container > div {
        width: 100%;
    }
    .main_stats_child {
        display: block;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1279px) {
    #welcome,
    #gd_back,
    #gd_publisher_info {
        margin-top: 20px;
    }
    #gd_basic_game_info {
        width: 100%;
        margin-bottom: 20px;
    }
    #column_right_cpanel {
        display: none;
    }
    #column_left_cpanel {
        width: 25%;
        float: left;
    }
    #column_center_cpanel {
        width: 73%;
        float: right;
    }
    #column_left_reviews_details,
    #column_left_interviews_details,
    #column_left_games_details {
        float: left;
        width: 40%;
    }
    #column_center_reviews_details,
    #column_center_interviews_details,
    #column_center_games_details,
    #column_right_games_details {
        float: right;
        width: 58%;
    }
    #column_right_reviews_details,
    #column_right_interviews_details {
        float: left;
        width: 40%;
        margin-left: 0;
    }
    #gu_child_1,
    #gu_child_2,
    #child_1_user,
    #child_2_user {
        width: 100%;
    }
}
@media screen and (max-width: 1449px) {
    .good_karma_chart,
    .bad_karma_chart,
    .bar_changelog,
    .line_changelog {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 1450px) {
    .good_karma_chart,
    .bad_karma_chart {
        width: 400px;
        height: 425px;
    }
    .bar_changelog,
    .line_changelog {
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 1494px) {
    .datequote_position_front {
        float: right;
        margin-top: 20px;
    }
    .tile_open_db_front {
        float: right;
    }
    .didyouknow_position_front,
    .statistics_position_front,
    .contact_tiles {
        margin-top: 20px;
    }
}
@media screen and (min-width: 1495px) {
    .latest_news {
        float: left;
        width: 48%;
    }
    .screenstar_position_front {
        width: 94%;
    }
    .datequote_position_front,
    .tile_open_db_front {
        float: left;
        width: 94%;
    }
    .latest_reviews {
        width: 49%;
        float: right;
    }
    .statistics_position_front,
    .social_corner_position_front,
    .didyouknow_position_front {
        float: left;
        width: 100%;
        margin-top: 20px;
    }
    .hotlinks_position_front,
    .class_position_front {
        width: 94%;
        float: left;
        margin-top: 20px;
    }
    .contact_tiles {
        width: 49%;
        float: right;
        margin-top: 20px;
    }
    .column_wide_left {
        width: 49%;
    }
    .column_wide_center_1920 {
        display: inline;
    }
    .column_wide_right_1920 {
        width: 24.75%;
        float: right;
        display: block;
    }
    .column_wide_left_1920 {
        width: 24.75%;
        float: left;
        display: block;
    }
    .column_wide_right,
    .column_left,
    .column_center,
    .column_right,
    .column_phone {
        display: none;
    }
}
@media screen and (max-width: 1549px) {
    .main_company_container {
        flex-direction: column;
    }

    .child_edit_company,
    .child_add_company {
        float: left;
        margin-bottom: 30px;
    }

    .main_company_container > div {
        width: 100%;
    }
}

@media screen and (max-width: 1599px) {
    #games_main_list_4,
    #games_main_list_2,
    #games_main_list_1 {
        display: none;
    }
    #games_main_list_3 {
        display: inline;
    }
}

@media screen and (max-width: 1919px) {
    #games_nav,
    #games_main_space {
        display: none;
    }
}

@media screen and (min-width: 1920px) {
    body {
        background-image: url('../images/top_bg_left.jpg'), url('../images/top_bg_right.jpg'), url('../images/top_bg_sides.jpg');
        background-position: left 2px, right 2px, left top;
        background-repeat: no-repeat, repeat-x, repeat-x;
    }
}

@media screen and (min-width: 1921px) {
    body {
        background-image: url('../images/top_bg_sides.jpg'), url('../images/main_bg.png'), url('../images/main_bg.png');
        background-position: left top, 100% 100%, -10% 25%;
        background-repeat: repeat-x, no-repeat, no-repeat;
    }
}
@media screen and (min-width: 450px) and (max-width: 639px) {
    .standard_list_entry {
        height: 180px;
    }
}
@media screen and (min-width: 640px) and (max-width: 800px) {
    .logon {
        margin-top: 0;
    }
    .register {
        margin-top: 0;
        margin-bottom: 20px;
    }
    #welcome {
        margin-bottom: 20px;
    }
    .latest_news {
        margin-top: 395px;
    }
    .column_left {
        width: 48%;
        margin-top: -395px;
    }
    .column_right,
    .column_phone {
        display: none;
    }
    .column_left_tab {
        width: 48%;
        float: left;
    }
    .column_right_tab,
    .column_wide_right,
    .column_center {
        width: 48%;
        float: right;
    }
    .column_wide_left {
        width: 100%;
    }
}
@media screen and (min-width: 800px) and (max-width: 1279px) {
    .logon {
        margin-top: 20px;
    }
}
@media screen and (min-width: 800px) and (max-width: 1280px) {
    .games_main_details_submissions_position_high {
        display: none;
    }
    .games_main_details_submisions_position_medium {
        display: inline;
    }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
    .game_details_review_preview_left {
        display: none;
    }
}
@media screen and (min-width: 800px) and (max-width: 1100px) {
    .tile_arrow {
        font-size: 12pt;
    }
    .grid figure figcaption {
        font-size: 1em;
    }
}

//*----------------------------------------------------------
// resolutions tested!
//------------------------------------------------------------ */
//* smartphones, iPhone, portrait 480x320 phones */
//* @media screen and (max-width: 320px) {
//
//* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
//* @media screen and (min-width: 481px) {
//
//* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
//* @media screen and (min-width: 641px) {
//
//* tablet, landscape iPad, lo-res laptops ands desktops */
//* @media screen and (min-width: 961px) {
//
//* big landscape tablets, laptops, and desktops */
//* @media screen and (min-width: 1025px) {
//
//* hi-res laptops and desktops */
//* @media screen and (min-width: 1281px) { */
