//*************************************************************/
//**********************LEGACY SKIN****************************/
//*************************************************************/
//*************************************************************/
//*************** Tables****************/
//*************************************************************/
//*----------------------------------------------------------
// Tables
//------------------------------------------------------------ */

.table_xs td {
    padding-top: 0;
    padding-bottom: 0;
}
.table_sm td {
    padding-top: 3;
    padding-bottom: 3;
}
.table_md td {
    padding-top: 5px;
    padding-bottom: 5px;
}
.table_lg td {
    padding-top: 10px;
    padding-bottom: 10px;
}

// Table Headers

.log_subname_column {
    padding-right: 5px;
    text-align: right;
}

//
// Table Cells
//



.log_date_column,
.log_action_column,
.log_section_column,
.log_subsection_column,
.log_user_column,
.log_name_column {
    padding-left: 2px;
    font-size: 12pt;
    font-weight: 100;
    color: #000000;
}

.username_gr_column,
.gamepub_gr_column,
.reviewdate_gr_column,
.nrreviews_gr_column,
.gamename_gr_column,
.game_gm_column,
.pub_gm_column,
.year_gm_column,
.zaks_gm_column,
.menu_list_crew_column,
.menu_disk_list_column,
.menu_list_individual_column,
.menu_crew_column,
.menu_individual_column,
.nr_menus_column,
.menu_type_column,
.menu_disk_set_column {
    padding-left: 2px;
}

.game_name_column,
.publisher_table_column,
.developer_table_column,
.release_year_column,
.information_table_column {
    padding-left: 2px;
    text-align: left;
}

.menu_state_column,
.menu_delete_column {
    padding-right: 5px;
    text-align: right;
}

.menu_mark_column,
.menu_gameinfo_column,
.menu_gameset_column,
.menu_gamename_column,
.menu_gamedeveloper_column,
.menu_gameyear_column,
.menu_credits_column,
.menu_scene_column,
.menu_docname_column,
.menu_doctype_column,
.menu_docinfo_column {
    padding-right: 5px;
    text-align: left;
}


.username_column,
.joindate_column,
.lastvisit_column,
.email_column {
    padding-left: 2px;
    font-size: 16px;
    font-weight: 100;
    color: #000000;
    text-align: left;
}



//*-----------------------Database updates-------------------------- */
.db_result_column,
.db_state_column,
.db_id_column,
.db_description_column,
.db_exe_column {
    text-align: center;
}


.gc_table_list {
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    background-color: #f3f3f3;
    border: solid 1px #b2b2b2;
    border-spacing: 0;
}

.gc_table_list tr:nth-child(even) {
    background-color: #f3f3f3;
}
.gc_table_list tr:nth-child(odd) {
    background-color: #eeeeee;
}
.gc_table_list td {
    padding: 5px;
    margin: 0;
    border-bottom: solid 1px #000000;
}

.gc_left_column {
    font-size: 16px;
}

.gc_center_column {
    font-size: 12pt;
}

.gc_right_head {
    font-size: 11pt;
    text-align: right;
}

//*----------------------------------------------------------
//Menu set edit
//------------------------------------------------------------ */


#menu_list_table {
    background-color: #294f4f;
}
#menu_list_table tr:nth-child(even) {
    background-color: #dbd7d1;
}
#menu_list_table tr:nth-child(odd) {
    background-color: #eeeeee;
}


//*------------------------------------------------------------
//Standard table settings
//-------------------------------------------------------------*/
#column_left_cpanel {
    float: left;
    width: 20%;
    margin-right: 1%;
}

#column_center_cpanel {
    float: left;
    width: 58%;
}

#column_right_cpanel {
    float: right;
    width: 20%;
    margin-left: 1%;
}

.standard_table_list {
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    background-color: #f3f3f3;
    border: solid 1px #b2b2b2;
    border-spacing: 0;
}

.standard_table_list  li {
    font-size: 16px;
    color: #000000;
    text-align: center;
    list-style-type: none;
}

.standard_table_list th {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    margin: 0;
    text-align: center;
    background-color: #dbd7d1;
    border-collapse: collapse;
    border-bottom: solid 2px #b2b2b2;
}

.standard_table_list tr:nth-child(even) {
    background-color: #f3f3f3;
}
.standard_table_list tr:nth-child(odd) {
    background-color: #eeeeee;
}
.standard_table_list tr:hover {
    background-color: #dbd7d1;
}
.standard_table_list td {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    margin: 0;
}

.standard_table_center {
    font-size: 16px;
    font-weight: 100;
    color: #000000;
    text-align: center;
}

.karma_points_tablecell {
    text-align: right;
}

.standard_table_center img {
    display: inline;
}
