{* Crew browse for the crew pick list *}
{if isset($smarty_action) and $smarty_action == "crew_list"}
		<select name="crew_id" id="CrewList" size="5" style="width:200px;">
				<option value="" selected>-</option>
						{foreach from=$crew item=line}
							<option value="{$line.crew_id}">{$line.crew_name}</option>
						{/foreach}
		</select>
{/if}
{* The Add new menu disk box *}
{if isset($smarty_action) and $smarty_action == "add_new_disk_box"}
		<br/>
		<hr/>
		<form action="../menus/db_menu_disk.php" method="post" name="post" id="menu_disk_add">
		<b>Add new Menu disk</b><br/><br/>
		
		<div style="display:inline-block;width:100px;">Disk number: </div><input type="text" name="menu_disk_number" value="" style="margin:5px;width:30px;"><br/>
		<div style="display:inline-block;width:100px;">Disk letter: </div><input type="text" name="menu_disk_letter" value="" style="margin:5px;width:30px;"><br/>
		<div style="display:inline-block;width:100px;">Disk part: </div><input type="text" name="menu_disk_part" value="" style="margin:5px;width:30px;"><br/>
		<div style="display:inline-block;width:100px;">Disk version: </div><input type="text" name="menu_disk_version" value="" style="margin:5px;width:30px;"><br/>
		<input type="hidden" name="menu_sets_id" value="{$menu_sets_id}">
		<input type="hidden" name="action" value="add_new_menu_disk">
		<input type="submit" value="Add new">
		</form>
{/if}
{* EDIT BOX FOR MENU DISKS *}
{if isset($smarty_action) and $smarty_action == "edit_disk_box"}
			<td colspan="4" style="width:100%;margin:0px;padding:0px;border:0px;">
				<table class="inner_table">
					<tr>
						<td style="width:40%;"><a href="#" class="MAINNAV">{$menus.menu_disk_name}</a></td>
						<td style="width:30%;"><i>n/a</i></td>
						<td style="width:15%;"><i>n/a</i></td>				
						<td style="width:15%;"><i>n/a</i></td>
					</tr>
					<tr>
						<td class="game_list_footer" colspan="4" style="border-top: solid 1px #b2b2b2;">
							tons of editing!!!<br/><br/><br/><br/><br/><br/>
						</td>
					</tr>
				</table>
			</td>
{/if}
