{extends file='head.html'}
{block name=title}Did you know?{/block}
{block name=body}

<div class="NEWMAINCELL">
	<fieldset class="interview_set" style="text-align:center;">
		 Here you can add a new trivia by using the below text field or you can delete one of the old trivias.<br/>
	 </fieldset> 
		<br/>		
		<br/>
<fieldset class="interview_set">
	<legend class="links_legend">Add new Trivia</legend>
	
	<form action="../trivia/db_trivia.php" method="post" name="trivia" id="trivia">
	
	<label for="website_description_text">Trivia Text</label>	
		<textarea name="trivia_text" id="trivia_text" class="textarea_links"></textarea>
	
	<input type="hidden" name="action" value="did_you_know_insert">
	<input type="submit" value="Submit" style="padding:2px;margin-left: 80%;">
	</form>
	
</fieldset> 
		<br/>
		{foreach from=$trivia item=line}
		
<fieldset class="interview_set">
	<legend class="links_legend">Trivia ID {$line.trivia_id}</legend>
	
	<br/>
	{$line.trivia_text}<br/>
	<br/>
	<form action="../trivia/db_trivia.php" method="post" name="trivia{$line.trivia_id}" id="trivia{$line.trivia_id}">
	<input type="hidden" name="action" value="did_you_know_delete">
	<input type="hidden" name="trivia_id" value="{$line.trivia_id}">
	<input type="submit" value="Delete" style="padding:2px;margin-left: 80%;">
	</form>
</fieldset> 
<br/>
		{/foreach}
</div>
{/block}
