{extends file='head.html'}
{block name=title}Game Series - Add Series{/block}
{block name=body}
<div class="NEWMAINCELL" style="display:block; margin-left:auto;margin-right: auto;">
	<br/>
	<table width="100%" cellspacing="2" cellpadding="2" border="0">
			<tr>
    			<td width="16%" valign="top">
					<div class="NEWNAVCELL">

						<li class="NEWHEADERBAR">Game Series</li>
						{foreach from=$game_series item=line}
							<li class="leftnav_list">
								<a href="../games/games_series_editor.php?series_page=series_editor&amp;game_series_id={$line.game_series_id}" class="LEFTNAV">{$line.game_series_name}</a>
							</li>
						{/foreach}	
					</div>
				</td>
				<td width="84%" align="center" valign="top">
					<br/>
					<br/>
					<form action="../games/db_games_series.php" method="post" name="add_series" id="add_series">
					<fieldset class="interview_set" style="width:90%; margin-left:auto;margin-right: auto;">
					<legend class="links_legend">Add series</legend>
					Add a new game series by typing the name for it in the field below, click on the add button. And Presto! 
					You will now have a new series in the series list, click on the new series and start adding games to it! <br/><br/>
					<div style="display:table-cell;width:90%; margin-left:auto;margin-right: auto;">
					<span style="margin-right:10px;float:left;">New name:</span>
					<input type="text" name="new_series" id="new_series" value="" size="40" maxlength="64" style="display:inline;float:left;">
					<input type="hidden" name="action" value="addnew_series">
					<input type="submit" name="inserter" value="Add" style="display:inline;float:left;">
					</div>
					</fieldset>
					</form>
				</td>
			</tr>
	</table>
</div>

{/block}
