{extends file='head.html'}
{block name=head}
<script type="text/javascript">
function browseGame(str) {
    if (str == "") {
        document.getElementById("game_list").innerHTML = "";
        return;
    } else { 
        if (window.XMLHttpRequest) {
            // code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp = new XMLHttpRequest();
        } else {
            // code for IE6, IE5
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                document.getElementById("game_list").innerHTML = xmlhttp.responseText;
            }
        }
        xmlhttp.open("GET","../games/ajax_games_series.php?action=game_browse&query="+str,true);
        xmlhttp.send();
    }
}

function searchGame(str) {
    if (str == "") {
        str = "empty";
			xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                document.getElementById("game_list").innerHTML = xmlhttp.responseText;
            }
        }   

    } else { 
        if (window.XMLHttpRequest) {
            // code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp = new XMLHttpRequest();
        } else {
            // code for IE6, IE5
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                document.getElementById("game_list").innerHTML = xmlhttp.responseText;
            }
        }
        if (str.length >= 3) {
        xmlhttp.open("GET","../games/ajax_games_series.php?action=game_search&query="+str,true);
        xmlhttp.send();
	}
    }
}
</script>
{/block}
{block name=title}Game Series{/block}
{block name=body}

<div class="NEWMAINCELL" style="text-align:center;">
<div style="display:inline;">
    	<div style="float:left;margin-right:30px;">
			
			<span class="LEFTNAV"><strong>{$series_info.game_series_name} selected</strong></span>
		</div>
		<div style="float:left;">
				<a href="../games/games_series_add_series.php?series_page=add_series">
					<img src="../templates/0/icons/icon_new_series.png" alt="" width="59" height="18" border="0">
				</a> 
				<a style="cursor: pointer;" onClick="deleteseries(); return false;">
					<img src="../templates/0/icons/icon_delete_series.png" alt="" width="59" height="18" border="0">
				</a> 
				<a href="../games/games_series_main.php?series_page=addgames_series&game_series_id={if isset($series_info.game_series_id)}{$series_info.game_series_id}{/if}">
					<img src="../templates/0/icons/add_games_button.png" alt="" width="59" height="18" border="0">
				</a> 
		</div>
</div>
	
	<br/>
	
	<table width="100%" cellspacing="2" cellpadding="2" border="0">
			<tr>
    			<td width="16%" valign="top">
					<div class="NEWNAVCELL">

						<li class="NEWHEADERBAR">Game Series</li>
						{foreach from=$game_series item=line}
							<li class="leftnav_list">
								<a href="../games/games_series_editor.php?series_page=series_editor&amp;game_series_id={$line.game_series_id}" class="LEFTNAV">{$line.game_series_name}</a>
							</li>
						{/foreach}	
					</div>
				</td>
				<td width="84%" align="center" valign="top">

					<br/>
					
					<form action="" method="post" name="game_search" id="game_search">
					<fieldset class="game_set" style="display:inline; text-align:center;width:92%;">
					<legend class="links_legend">Search games</legend>
					
					<div style="display: inline;align-items:center;margin: 0 auto;text-align:center;">
					<span style="margin-right:10px;"><strong>By name :</strong></span>
					<select name="gamebrowse" onchange="browseGame(this.value)">
					<option value="num" selected>0-9</option>
					<option value="a">A</option>
					<option value="b">B</option>
					<option value="c">C</option>
					<option value="d">D</option>
					<option value="e">E</option>
					<option value="f">F</option>
					<option value="g">G</option>
					<option value="h">H</option>
					<option value="i">I</option>
					<option value="j">J</option>
					<option value="k">K</option>
					<option value="l">L</option>
					<option value="m">M</option>
					<option value="n">N</option>
					<option value="o">O</option>
					<option value="p">P</option>
					<option value="q">Q</option>
					<option value="r">R</option>
					<option value="s">S</option>
					<option value="t">T</option>
					<option value="u">U</option>
					<option value="v">V</option>
					<option value="w">W</option>
					<option value="x">X</option>
					<option value="y">Y</option>
					<option value="z">Z</option>
					</select>
					<input type="text" name="gamesearch" onkeyup="searchGame(this.value)">
					<br/>
				
					</fieldset>
					</form>

					<br/>
					<br/>
					<form action="../games/db_games_series.php" method="post" name="add_to_series" id="add_to_series">	
		<div id="game_list">		
		<table class="table_game_list" style="width:95%;">
			<tr>
				<th width="5%">Info</th>
				<th width="30%">Game Name</th>
				<th width="20%">Publisher</td>
				<th width="20%">Developer</th>
				<th width="15%">Year</th>
			</tr>

			{foreach from=$series_link item=line}
			<tr>
				<td width="5%">
					<input type="checkbox" name="game_id[]" value="{$line.game_id}">
				</td>
				<td width="30%">{if $line.game_name != ''}<a href="games_detail.php?game_id={$line.game_id}" class="MAINNAV">{$line.game_name}</a>
						{else}<i>n/a</i>{/if}
				</td>
				<td width="20%">{if $line.publisher_name != ''}
						<a href="games_main.php?publisher={$line.publisher_id}&amp;action=search" class="MAINNAV">
							{$line.publisher_name}
					</a>
						{else}
							<i>n/a</i>
						{/if}</td>
				<td width="20%">{if $line.developer_name != ''}
						<a href="games_main.php?developer={$line.developer_id}&amp;action=search" class="MAINNAV">
							{$line.developer_name}
						</a>
						{else}
							<i>n/a</i>
						{/if}</td>				
				<td width="15%">
					{if $line.year != ''}
						<a href="games_main.php?year={$line.year}&amp;action=search" class="MAINNAV">
							{$line.year}
						</a>
						{else}
							<i>n/a</i>
						{/if}
					</td>
			</tr>
			{/foreach}
			
				<tr>
					<td class="game_list_footer" colspan="5" width="100%">
						<input type="hidden" name="series_page" value="series_editor">
						<input type="hidden" name="action" value="add_to_series">
						<input type="hidden" name="game_series_id" value="{if isset($series_info.game_series_id)}{$series_info.game_series_id}{/if}">
						<img src="../templates/0/images/arrow_ltr.gif" alt="" width="38" height="22" border="0" style="float:left;">
						<input type="submit" value="Add to series" style="float:left;">
					</td>
				</tr>
			</table>
				</div>
				
				
				</form>
								
				</td>
			</tr>
	</table>
	</div>
{/block}
