{extends file='head.html'}
{block name=body}
<div class="MAINHEADERBAR">
<div class="MAINHEADING">&nbsp;Game Series</div>
</div>

<table width="100%" cellspacing="2" cellpadding="15" align="center" class="CELLCOLOR">
<tr>
	<td>
	<br/>
	<div class="NEWNAVCELL" style="width:200px;">

						<li class="NEWHEADERBAR">Game Series</li>
						{foreach from=$game_series item=line}
							<li class="leftnav_list">
								<a href="../games/games_series_editor.php?series_page=series_editor&amp;game_series_id={$line.game_series_id}" class="LEFTNAV">{$line.game_series_name}</a>
							</li>
						{/foreach}	
					</div>
	</td>
</tr>
</table>

<div class="MAINHEADERBAR">
<div class="MAINHEADING">&nbsp;&nbsp;&nbsp;</div>
</div>
{/block}
