{extends file='head.html'}
{block name=body}
<div class="MAINHEADERBAR">
<div class="MAINHEADING">&nbsp;Add a Link</div>
</div>

<table width="100%" cellspacing="2" cellpadding="15" align="center" class="CELLCOLOR">
<tr>
	<td>
	<br>
	
	<form action="../links/db_links.php" method="post" name="linkadd" id="linkadd">

	<label for="name">Site Name</label>
	<input type="text" name="name" id="name" size="50" maxlength="50" class="links_input-box">
	<br>
	<label for="url">URL</label>
	<input type="text" name="url" id="url" value="http://" size="50" maxlength="200" class="links_input-box">
	<br>
	<label for="category">Category</label>
	<select name="category" class="links_selector">
		
		{foreach from=$website_category item=line}
			<option value="{$line.website_category_id}">{$line.website_category_name}</option>
		{/foreach}	

	
	</select>
	<br>
	<label for="descr">Description</label>
	<textarea cols="50" rows="8" name="descr" class="textarea_links"></textarea>
	<br>
	<br>
	<input type="hidden" name="action" id="action" value="addnew_link">
	<input type="hidden" name="user_id" id="user_id" value="{$user_id}">
	<input type="submit" value="Submit">
	<input type="reset">
	</form>

	<span class="LEFTNAV" style="color:#483D8B;">
	Note, submitting this information, will add a link on to the online Links Archive, which means that it wont be needing validation first.
	</span>
	
	</td>
</tr>
</table>

<div class="MAINHEADERBAR">
<div class="MAINHEADING">&nbsp;&nbsp;&nbsp;</div>
</div>
{/block}
