{extends file='head.html'}
{block name=body}
<div class="MAINHEADERBAR">
<div class="MAINHEADING">&nbsp;&nbsp;Manage Magazines</div>
</div>

<table width="100%" cellspacing="2" cellpadding="15" align="center" class="CELLCOLOR">
<tr>
	<td>
	
		
		  Hiya, here you can add issues to magazines and upload covershots. To add reviewscores please visit the gamepages.<br/>
		<br/>
		
		
		<br/>
		
		
<fieldset class="category_set_noGrave">
	<legend class="links_legend">Magazines in archive</legend>
	
	<br/>
	{foreach from=$magazine item=line}
	
	<a href="../magazine/magazine_edit.php?magazine_id={$line.magazine_id}" class="MAINNAV">{$line.magazine_name}</a><br/>
	
	{/foreach}
	<br/>
	
	
</fieldset> 

<br/>



	</td>
</tr>
</table>

<div class="MAINHEADERBAR">
<div class="MAINHEADING">&nbsp;&nbsp;&nbsp;</div>
</div>
{/block}
