{block name=navbar}
				<nav>
					<ul class="nav">
						<li><a href="#" title="Games" class="top_button"><button type="button" class="topbutton" id="games">GAMES</button></a>
							<ul>
								<li><a href="../games/games_main.php" title="Game editor" class="top_button"><button type="button" class="topbutton" id="game_editor">GAME EDITOR</button></a></li>
								<li><a href="../games/games_comment.php" title="Game comments" class="top_button"><button type="button" class="topbutton" id="game_comments">GAME COMMENTS</button></a></li>
								<li><a href="../games/games_series_main.php" title="Game series" class="top_button"><button type="button" class="topbutton" id="game_series">GAME SERIES</button></a></li>
								<li><a href="../games/games_music.php" title="Game music" class="top_button"><button type="button" class="topbutton" id="game_music">GAME MUSIC</button></a></li>
								<li><a href="../games/submission_games.php" title="Game submissions" class="top_button"><button type="button" class="topbutton" id="game_submissions">GAME SUBMISSIONS</button></a></li>
								<li><a href="../games/games_review.php" title="Game_reviews" class="top_button"><button type="button" class="topbutton" id="game_reviews">REVIEWS</button></a></li>
								<li><a href="../games/games_review_submitted.php" title="submitted_reviews" class="top_button"><button type="button" class="topbutton" id="submitted_reviews">REVIEW SUBMISSIONS</button></a></li>
								<li><a href="../individuals/individuals_main.php" title="Individuals" class="top_button"><button type="button" class="topbutton" id="individuals">INDIVIDIUALS</button></a></li>
								<li><a href="../individuals/individuals_author.php" title="Author types" class="top_button"><button type="button" class="topbutton" id="author_types">AUTHOR TYPES</button></a></li>
								<li><a href="../company/company_main.php" title="Companies" class="top_button"><button type="button" class="topbutton" id="companies">COMPANIES</button></a></li>
								<li><a href="../company/company_logos.php" title="Company logo" class="top_button"><button type="button" class="topbutton" id="company_logo">COMPANY LOGO</button></a></li>
								<li><a href="../interviews/interviews_main.php" title="Interviews" class="top_button"><button type="button" class="topbutton" id="interviews">INTERVIEWS</button></a></li>
								<li><a href="../interviews/interviews_help.php" title="Interviews help" class="top_button"><button type="button" class="topbutton" id="interviews_help">INTERVIEWS HELP</button></a></li>
							</ul>
						</li>
						<li><a href="#" title="Menus" class="top_button"><button type="button" class="topbutton" id="menus">MENUS</button></a>
							<ul>
								<li><a href="#" title="Menu editor" class="top_button"><button type="button" class="topbutton" id="menu_editor">MENU EDITOR</button></a></li>
								<li><a href="#" title="Menu comments" class="top_button"><button type="button" class="topbutton" id="menu_comments">MENU COMMENTS</button></a></li>
								<li><a href="#" title="Menu submissions" class="top_button"><button type="button" class="topbutton" id="menu_submissions">MENU SUBMISSIONS</button></a></li>
								<li><a href="../individuals/individuals_main.php" title="Individuals" class="top_button"><button type="button" class="topbutton" id="individuals">INDIVIDIUALS</button></a></li>
								<li><a href="../individuals/individuals_author.php" title="Author types" class="top_button"><button type="button" class="topbutton" id="author_types">AUTHOR TYPES</button></a></li>
								<li><a href="../crew/crew_main.php" title="Crew editor" class="top_button"><button type="button" class="topbutton" id="crew_editor">CREW EDITOR</button></a></li>
							</ul>
						</li>
						<li><a href="#" title="Demos" class="top_button"><button type="button" class="topbutton" id="demos">DEMOS</button></a>
							<ul>
								<li><a href="../demos/demos_main.php" title="Demo editor" class="top_button"><button type="button" class="topbutton" id="demo_editor">DEMO EDITOR</button></a></li>
								<li><a href="../demos/demos_comment.php" title="Demo comments" class="top_button"><button type="button" class="topbutton" id="demo_comments">DEMO COMMENTS</button></a></li>
								<li><a href="../demos/demos_music.php" title="Demo music" class="top_button"><button type="button" class="topbutton" id="demo_music">DEMO MUSIC</button></a></li>
								<li><a href="../demos/submission_demos.php" title="Demo submissions" class="top_button"><button type="button" class="topbutton" id="demo_submissions">DEMO SUBMISSIONS</button></a></li>
								<li><a href="../individuals/individuals_main.php" title="Individuals" class="top_button"><button type="button" class="topbutton" id="individuals">INDIVIDIUALS</button></a></li>
								<li><a href="../individuals/individuals_author.php" title="Author types" class="top_button"><button type="button" class="topbutton" id="author_types">AUTHOR TYPES</button></a></li>
								<li><a href="../crew/crew_main.php" title="Crew editor" class="top_button"><button type="button" class="topbutton" id="crew_editor">CREW EDITOR</button></a></li>
								<li><a href="../interviews/interviews_main.php" title="Interviews" class="top_button"><button type="button" class="topbutton" id="interviews">INTERVIEWS</button></a></li>
								<li><a href="../interviews/interviews_help.php" title="Interviews help" class="top_button"><button type="button" class="topbutton" id="interviews_help">INTERVIEWS HELP</button></a></li>
							</ul>
						</li>
						<li><a href="#" title="Users" class="top_button"><button type="button" class="topbutton" id="users">USERS</button></a>
							<ul>
								<li><a href="../user/user_main.php" title="User admin" class="top_button"><button type="button" class="topbutton" id="user_admin">USER ADMIN</button></a></li>
							</ul>
						</li>
						<li><a href="#" title="NEWS" class="top_button"><button type="button" class="topbutton" id="admin">NEWS</button></a>
							<ul>	
								<li><a href="../news/news_add.php" title="Add news" class="top_button"><button type="button" class="topbutton" id="add_news">ADD NEWS</button></a></li>
								<li><a href="../news/news_approve.php" title="Approve news" class="top_button"><button type="button" class="topbutton" id="approve_news">APPROVE NEWS</button></a></li>
								<li><a href="../news/news_edit_all.php" title="Submitted news" class="top_button"><button type="button" class="topbutton" id="submitted_news">EDIT NEWS</button></a></li>
								<li><a href="../news/news_add_images.php" title="Add news images" class="top_button"><button type="button" class="topbutton" id="submitted_news">ADD NEWS IMAGES</button></a></li>
							</ul>
						</li>
						<li><a href="#" title="Other" class="top_button"><button type="button" class="topbutton" id="other">OTHER</button></a>
							<ul>
								<li><a href="../administration/statistics.php" title="Statistics" class="top_button"><button type="button" class="topbutton" id="Statistics">STATISTICS</button></a></li>
								<li><a href="../trivia/did_you_know.php" title="Did you know" class="top_button"><button type="button" class="topbutton" id="did_you_know">DID YOU KNOW</button></a></li>
								<li><a href="../trivia/manage_trivia_screens.php" title="Trivia screenshots" class="top_button"><button type="button" class="topbutton" id="trivia_screenshots">TRIVIA SCREENSHOTS</button></a></li>
								<li><a href="../trivia/manage_trivia_quotes.php" title="Trivie quotes" class="top_button"><button type="button" class="topbutton" id="trivia_quotes">TRIVIA QUOTES</button></a></li>
								<li><a href="../links/link_addnew.php" title="Add links" class="top_button"><button type="button" class="topbutton" id="add_links">ADD LINKS</button></a></li>
								<li><a href="../links/link_validate.php" title="Validate links" class="top_button"><button type="button" class="topbutton" id="validate_links">VALIDATE LINKS</button></a></li>
								<li><a href="../links/link_modlist.php" title="Modify links" class="top_button"><button type="button" class="topbutton" id="modify_links">MODIFY LINKS</button></a></li>
								<li><a href="../links/link_cat.php" title="Link categories" class="top_button"><button type="button" class="topbutton" id="link_categories">LINK CATEGORIES</button></a></li>
								<li><a href="#" title="Articles" class="top_button"><button type="button" class="topbutton" id="articles">ARTICLES</button></a></li>
								<li><a href="#" title="Article types" class="top_button"><button type="button" class="topbutton" id="article_types">ARTICLE TYPES</button></a></li>
								<li><a href="#" title="Screenshots" class="top_button"><button type="button" class="topbutton" id="screenshots">SCREENSHOTS</button></a></li>
								<li><a href="../magazine/magazine_add.php" title="Add magazines" class="top_button"><button type="button" class="topbutton" id="add_magazines">ADD MAGAZINES</button></a></li>
								<li><a href="../magazine/magazine_manage.php" title="Manage issues" class="top_button"><button type="button" class="topbutton" id="manage_issues">MANAGE ISSUES</button></a></li>
								<li><a href="#" title="Forum" class="top_button"><button type="button" class="topbutton" id="forum">FORUM</button></a></li>
								<li><a href="../includes/user_logout.php" title="Log out" class="top_button"><button type="button" class="topbutton" id="logout">LOG OUT</button></a></li>
							</ul>
						</li>
					</ul>
				</nav>	
{/block}
