{block name=navbar}
				<nav>
					<ul class="nav">
						<li><button type="button" class="topbutton" id="games">GAMES</button>
							<ul>
								
								<li><a href="../games/games_main.php" title="Game editor" id="game_editor" class="topbutton">GAME EDITOR</a></li>
								<li><a href="../games/games_comment.php" title="Game comments" id="game_comments" class="topbutton">GAME COMMENTS</a></li>
								<li><a href="../games/games_series_main.php" title="Game series" id="game_series" class="topbutton">GAME SERIES</a></li>
								<li><a href="../games/games_music.php" title="Game music" id="game_music" class="topbutton">GAME MUSIC</a></li>
								<li><a href="../games/submission_games.php" title="Game submissions" id="game_submissions" class="topbutton">GAME SUBMISSIONS</a></li>
								<li><a href="../games/games_review.php" title="Game_reviews" id="game_reviews" class="topbutton">REVIEWS</a></li>
								<li><a href="../games/games_review_submitted.php" title="submitted_reviews" id="submitted_reviews" class="topbutton">REVIEW SUBMISSIONS</a></li>
								<li><a href="../individuals/individuals_main.php" title="Individuals" id="game_individuals" class="topbutton">INDIVIDIUALS</a></li>
								<li><a href="../individuals/individuals_author.php" title="Author types" id="game_author_types" class="topbutton">AUTHOR TYPES</a></li>
								<li><a href="../company/company_main.php" title="Companies" id="companies" class="topbutton">COMPANIES</a></li>
								<li><a href="../company/company_logos.php" title="Company logo" id="company_logo" class="topbutton">COMPANY LOGO</a></li>
								<li><a href="../interviews/interviews_main.php" title="Interviews" id="game_interviews" class="topbutton">INTERVIEWS</a></li>
								<li><a href="../interviews/interviews_help.php" title="Interviews help" id="game_interviews_help" class="top_button">INTERVIEWS HELP</a></li>
							</ul>
						</li>
						<li><button type="button" class="topbutton" id="menus">MENUS</button>
							<ul>
								<li><a href="../menus/menus_list.php" title="Menu editor" id="menu_editor" class="topbutton">MENU EDITOR</a></li>
								<li><a href="#" title="Menu comments" id="menu_comments" class="topbutton">MENU COMMENTS</a></li>
								<li><a href="#" title="Menu submissions" id="menu_submissions" class="topbutton">MENU SUBMISSIONS</a></li>
								<li><a href="../individuals/individuals_main.php" title="Individuals" id="menu_individuals" class="topbutton">INDIVIDIUALS</a></li>
								<li><a href="../individuals/individuals_author.php" title="Author types" id="menu_author_types" class="topbutton">AUTHOR TYPES</a></li>
								<li><a href="../crew/crew_main.php" title="Crew editor" id="menu_crew_editor" class="topbutton">CREW EDITOR</a></li>
							</ul>
						</li>
						<li><button type="button" class="topbutton" id="demos">DEMOS</button>
							<ul>
								<li><a href="../demos/demos_main.php" title="Demo editor" id="demo_editor" class="topbutton">DEMO EDITOR</a></li>
								<li><a href="../demos/demos_comment.php" title="Demo comments" id="demo_comments" class="topbutton">DEMO COMMENTS</a></li>
								<li><a href="../demos/demos_music.php" title="Demo music" id="demo_music" class="topbutton">DEMO MUSIC</a></li>
								<li><a href="../demos/submission_demos.php" title="Demo submissions" id="demo_submissions" class="topbutton">DEMO SUBMISSIONS</a></li>
								<li><a href="../individuals/individuals_main.php" title="Individuals" id="demo_individuals" class="topbutton">INDIVIDIUALS</a></li>
								<li><a href="../individuals/individuals_author.php" title="Author types" id="demo_author_types" class="topbutton">AUTHOR TYPES</a></li>
								<li><a href="../crew/crew_main.php" title="Crew editor" id="demo_crew_editor" class="topbutton">CREW EDITOR</a></li>
								<li><a href="../interviews/interviews_main.php" title="Interviews" id="demo_interviews" class="topbutton">INTERVIEWS</a></li>
								<li><a href="../interviews/interviews_help.php" title="Interviews help" id="demo_interviews_help" class="topbutton">INTERVIEWS HELP</a></li>
							</ul>
						</li>
						<li><button type="button" class="topbutton" id="users">USERS</button>
							<ul>
								<li><a href="../user/user_main.php" title="User admin" id="user_admin" class="topbutton">USER ADMIN</a></li>
							</ul>
						</li>
						<li><button type="button" class="topbutton" id="admin">NEWS</button>
							<ul>	
								<li><a href="../news/news_add.php" title="Add news" id="add_news" class="topbutton">ADD NEWS</a></li>
								<li><a href="../news/news_approve.php" title="Approve news" id="approve_news" class="topbutton">APPROVE NEWS</a></li>
								<li><a href="../news/news_edit_all.php" title="Submitted news" id="submitted_news" class="topbutton">EDIT NEWS</a></li>
								<li><a href="../news/news_add_images.php" title="Add news images" id="add_news_images" class="topbutton">ADD NEWS IMAGES</a></li>
							</ul>
						</li>
						<li><button type="button" class="topbutton" id="other">OTHER</button>
							<ul>
								<li><a href="../administration/statistics.php" title="Statistics" id="statistics" class="topbutton">STATISTICS</a></li>
								<li><a href="../trivia/did_you_know.php" title="Did you know" id="did_you_know" class="topbutton">DID YOU KNOW</a></li>
								<li><a href="../trivia/manage_trivia_screens.php" title="Trivia screenshots" id="trivia_screenshots" class="topbutton">TRIVIA SCREENSHOTS</a></li>
								<li><a href="../trivia/manage_trivia_quotes.php" title="Trivie quotes" id="trivia_quotes" class="topbutton">TRIVIA QUOTES</a></li>
								<li><a href="../links/link_addnew.php" title="Add links" id="add_links" class="topbutton">ADD LINKS</a></li>
								<li><a href="../links/link_validate.php" title="Validate links" id="validate_links" class="topbutton">VALIDATE LINKS</a></li>
								<li><a href="../links/link_modlist.php" title="Modify links" id="modify_links" class="topbutton">MODIFY LINKS</a></li>
								<li><a href="../links/link_cat.php" title="Link categories" id="link_categories" class="topbutton">LINK CATEGORIES</a></li>
								<li><a href="#" title="Articles" id="articles" class="topbutton">ARTICLES</a></li>
								<li><a href="#" title="Article types" id="article_types" class="topbutton">ARTICLE TYPES</a></li>
								<li><a href="#" title="Screenshots" id="screenshots" class="topbutton">SCREENSHOTS</a></li>
								<li><a href="../magazine/magazine_add.php" title="Add magazines" id="add_magazines" class="topbutton">ADD MAGAZINES</a></li>
								<li><a href="../magazine/magazine_manage.php" title="Manage issues" id="manage_issues" class="topbutton">MANAGE ISSUES</a></li>
								<li><a href="#" title="Forum" id="forum" class="topbutton">FORUM</a></li>
								<li><a href="../includes/user_logout.php" title="Log out" id="logout" class="topbutton">LOG OUT</a></li>
							</ul>
						</li>
					</ul>
				</nav>	
{/block}
