{block name=navbar}
				<nav>
					<ul class="nav">
						<li><a href="#" title="Games" class="top_button"><button type="button" class="topbutton" id="games">GAMES</button></a>
							<ul>
								<li><a href="#" title="Game editor" class="top_button"><button type="button" class="topbutton" id="game_editor">GAME EDITOR</button></li>
								<li><a href="#" title="Game comments" class="top_button"><button type="button" class="topbutton" id="game_comments">GAME COMMENTS</button></li>
								<li><a href="#" title="Game series" class="top_button"><button type="button" class="topbutton" id="game_series">GAME SERIES</button></li>
								<li><a href="#" title="Game music" class="top_button"><button type="button" class="topbutton" id="game_music">GAME MUSIC</button></li>
								<li><a href="#" title="Game submissions" class="top_button"><button type="button" class="topbutton" id="game_submissions">GAME SUBMISSIONS</button></li>
								<li><a href="#" title="Game_reviews" class="top_button"><button type="button" class="topbutton" id="game_reviews">REVIEWS</button></li>
								<li><a href="#" title="submitted_reviews" class="top_button"><button type="button" class="topbutton" id="submitted_reviews">REVIEW SUBMISSIONS</button></li>
								<li><a href="#" title="Individuals" class="top_button"><button type="button" class="topbutton" id="individuals">INDIVIDIUALS</button></li>
								<li><a href="#" title="Author types" class="top_button"><button type="button" class="topbutton" id="author_types">AUTHOR TYPES</button></li>
								<li><a href="#" title="Companies" class="top_button"><button type="button" class="topbutton" id="companies">COMPANIES</button></li>
								<li><a href="#" title="Company logo" class="top_button"><button type="button" class="topbutton" id="company_logo">COMPANY LOGO</button></li>
								<li><a href="#" title="Interviews" class="top_button"><button type="button" class="topbutton" id="interviews">INTERVIEWS</button></li>
								<li><a href="#" title="Interviews help" class="top_button"><button type="button" class="topbutton" id="interviews_help">INTERVIEWS HELP</button></li>
								
							</ul>
						</li>
						<li><a href="#" title="Menus" class="top_button"><button type="button" class="topbutton" id="menus">MENUS</button></a>
							<ul>
								<li><a href="#" title="Menu editor" class="top_button"><button type="button" class="topbutton" id="menu_editor">MENU EDITOR</button></li>
								<li><a href="#" title="Menu comments" class="top_button"><button type="button" class="topbutton" id="menu_comments">MENU COMMENTS</button></li>
								<li><a href="#" title="Menu submissions" class="top_button"><button type="button" class="topbutton" id="menu_submissions">MENU SUBMISSIONS</button></li>
								<li><a href="#" title="Individuals" class="top_button"><button type="button" class="topbutton" id="individuals">INDIVIDIUALS</button></li>
								<li><a href="#" title="Author types" class="top_button"><button type="button" class="topbutton" id="author_types">AUTHOR TYPES</button></li>
								<li><a href="#" title="Crew editor" class="top_button"><button type="button" class="topbutton" id="crew_editor">CREW EDITOR</button></li>
							</ul>
						</li>
						<li><a href="#" title="Demos" class="top_button"><button type="button" class="topbutton" id="demos">DEMOS</button></a>
							<ul>
								<li><a href="#" title="Demo editor" class="top_button"><button type="button" class="topbutton" id="demo_editor">DEMO EDITOR</button></li>
								<li><a href="#" title="Demo comments" class="top_button"><button type="button" class="topbutton" id="demo_comments">DEMO COMMENTS</button></li>
								<li><a href="#" title="Demo music" class="top_button"><button type="button" class="topbutton" id="demo_music">DEMO MUSIC</button></li>
								<li><a href="#" title="Demo submissions" class="top_button"><button type="button" class="topbutton" id="demo_submissions">DEMO SUBMISSIONS</button></li>
								<li><a href="#" title="Individuals" class="top_button"><button type="button" class="topbutton" id="individuals">INDIVIDIUALS</button></li>
								<li><a href="#" title="Author types" class="top_button"><button type="button" class="topbutton" id="author_types">AUTHOR TYPES</button></li>
								<li><a href="#" title="Crew editor" class="top_button"><button type="button" class="topbutton" id="crew_editor">CREW EDITOR</button></li>
								<li><a href="#" title="Interviews" class="top_button"><button type="button" class="topbutton" id="interviews">INTERVIEWS</button></li>
								<li><a href="#" title="Interviews help" class="top_button"><button type="button" class="topbutton" id="interviews_help">INTERVIEWS HELP</button></li>
							</ul>
						</li>
						<li><a href="#" title="Users" class="top_button"><button type="button" class="topbutton" id="users">USERS</button></a>
							<ul>
								<li><a href="#" title="User admin" class="top_button"><button type="button" class="topbutton" id="user_admin">USER ADMIN</button></li>
							</ul>
						</li>
						<li><a href="#" title="Admin" class="top_button"><button type="button" class="topbutton" id="admin">NEWS</button></a>
							<ul>	
								<li><a href="#" title="Add news" class="top_button"><button type="button" class="topbutton" id="add_news">ADD NEWS</button></li>
								<li><a href="#" title="Approve news" class="top_button"><button type="button" class="topbutton" id="approve_news">APPROVE NEWS</button></li>
								<li><a href="#" title="Submitted news" class="top_button"><button type="button" class="topbutton" id="submitted_news">SUBMITTED NEWS</button></li>
							</ul>
						</li>
						<li><a href="#" title="Other" class="top_button"><button type="button" class="topbutton" id="other">OTHER</button></a>
							<ul>
								<li><a href="#" title="Statistics" class="top_button"><button type="button" class="topbutton" id="Statistics">STATISTICS</button></li>
								<li><a href="#" title="Did you know" class="top_button"><button type="button" class="topbutton" id="did_you_know">DID YOU KNOW</button></li>
								<li><a href="#" title="Trivia screenshots" class="top_button"><button type="button" class="topbutton" id="trivia_screenshots">TRIVIA SCREENSHOTS</button></li>
								<li><a href="#" title="Trivie quotes" class="top_button"><button type="button" class="topbutton" id="trivia_quotes">TRIVIA QUOTES</button></li>
								<li><a href="#" title="Add links" class="top_button"><button type="button" class="topbutton" id="add_links">ADD LINKS</button></li>
								<li><a href="#" title="Validate links" class="top_button"><button type="button" class="topbutton" id="validate_links">VALIDATE LINKS</button></li>
								<li><a href="#" title="Modify links" class="top_button"><button type="button" class="topbutton" id="modify_links">MODIFY LINKS</button></li>
								<li><a href="#" title="Link categories" class="top_button"><button type="button" class="topbutton" id="link_categories">LINK CATEGORIES</button></li>
								<li><a href="#" title="Articles" class="top_button"><button type="button" class="topbutton" id="articles">ARTICLES</button></li>
								<li><a href="#" title="Article types" class="top_button"><button type="button" class="topbutton" id="article_types">ARTICLE TYPES</button></li>
								<li><a href="#" title="Screenshots" class="top_button"><button type="button" class="topbutton" id="screenshots">SCREENSHOTS</button></li>
								<li><a href="#" title="Add magazines" class="top_button"><button type="button" class="topbutton" id="add_magazines">ADD MAGAZINES</button></li>
								<li><a href="#" title="Manage issues" class="top_button"><button type="button" class="topbutton" id="manage_issues">MANAGE ISSUES</button></li>
								<li><a href="#" title="Forum" class="top_button"><button type="button" class="topbutton" id="forum">FORUM</button></li>
								<li><a href="#" title="Log out" class="top_button"><button type="button" class="topbutton" id="logout">LOG OUT</button></li>
							</ul>
						</li>
					</ul>
				</nav>	
{/block}
