.BODY 
{
	background: #DBD7D1;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 100%;
	width: 100%;
	max-width: 1280px;
	margin: auto;
}

.leftcell {

	width: 241px;
	float: left;
}

.rightcell {

	width: 1039px;
	float: left;
}

.MAINHEADERBAR 
{
	background-image: url(headerback.png);
	color: #FFFFDD;
	vertical-align: center;
	font-weight: 600;
	height: 20px;
	background-attachment: inherit;
	background-repeat: repeat;
	font-size : 12px;

	padding-top:0px;
}
.MAINHEADING {
	color: #FFFFDD;
	font-size : 12px;
	height:20px;
	padding-top:2px;
}

.NEWMAINCELL 
{
	background-color: #F3F3F3;
	border-left-color: #1A168B;
	border-right-color: #1A168B;
	border-left-style: solid;
	border-right-style: solid;
	border-left-width: 1px;
	border-right-width: 1px;
	padding:15px;
}

.CELLCOLOR 
{
	background-color: #F3F3F3;
	border-left-color: #1A168B;
	border-right-color: #1A168B;
	border-left-style: solid;
	border-right-style: solid;
	border-left-width: 1px;
	border-right-width: 1px;
}

.NAVCELL 
{
	background-color: #D0D1DF;
	border: solid #1A168B;
}

.maintext 
{
	font-size : 10px;
	font-weight : bold;
}

.maintext_light
{
	font-size : 10px;
	font-weight: normal;
}

A 
{
	text-decoration: none;
}

.LEFTNAV 
{
	font-size: 12px;
	text-align: center;
	color: black;
}

A.LEFTNAV:HOVER 
{
	color:#1A168B;
} 

.MAINNAV 
{
	color: #1A168B;
}

A.MAINNAV:HOVER 
{
	color: Black;
} 

.MAINNAV_WHITE 
{
	color: #FFFFDD;
}

A.MAINNAV_WHITE:HOVER 
{
	color: #EFEFEF;
} 

SELECT.linkcategory_select 
{
	background-color: #F4F4F4;
	color: black;
	font-weight: bold;
	font-size-adjust: inherit;
	font-size: 12px;
}

TEXTAREA.
{
	color: gray;
	HEIGHT: 200px;
	WIDTH: 630px;
	font-weight: normal;
	font-style: italic;
}

TEXTAREA.textarea_links
{
	color: gray;
	HEIGHT: 200px;
	WIDTH: 320px;
	font-weight: normal;
	font-style: italic;
	font-size: 13px;
}

label
{
width: 8em;
float: left;
text-align: left;
margin: 0 1em 10px 0;
clear: both;
}

.links_screenshot
{
	 padding: 10px 10px;
}

.links_set
{
border: #26a solid 1px;
width: 20em;
background-color: Menu;
-moz-border-radius:10px;
}

.links_legend
{
	background: #D0D1DF;
	border: #26a solid 1px;
	padding: 1px 10px;
	color: #131080;
	font-weight: bold;
}

.category_set_noGrave
{
border: #26a solid 1px;
width: 40em;
background-color: Menu;
-moz-border-radius:10px;
}

.links_checkbox 
{
	margin-bottom: 5px;
}

.links_file-box
{
	margin: 10px;
}

.links_input-box
{
margin-bottom: 10px;
}

.links_selector
{
	margin-bottom: 10px;
}

.submit-button
{
	margin-left: 5em;
	clear: right;
}

.reviewCommentInput
{
	background-color : #F4F4F4;
    WIDTH: 350px
}

.reviewScoreInput
{
	background-color : #F4F4F4;
    WIDTH: 40px
}

.gamesearchInputs
{
	background-color : #F4F4F4;
}

.authorSelects
{
    background-color :  #F4F4F4;
    WIDTH: 130px
}

.authorSelects2
{
    background-color :  #F4F4F4;
    WIDTH: 200px
}

.boxborder 
{
	border : 1px solid #1A168B;
	background : White;
	
}

.news_set
{
border: #26a solid 1px;
background-color: Menu;
-moz-border-radius:10px;
}

.interview_set
{
border: #26a solid 1px;
width: 75%;
background-color: white;
-moz-border-radius:10px;
}

.interview_set_screenshot
{
border: #26a solid 1px;
width: 90%;
background-color: Menu;
-moz-border-radius:10px;
}

.review_input
{
	color : black;
	background-color: #D0D1DF;
	font-size-adjust : inherit;
	WIDTH: 75%;
	font-weight : 200;
}

.textarea_interviews
{
	WIDTH: 100%;
}

a.links_links:hover
{
    COLOR: #336699 ;
    TEXT-DECORATION: underline;
}

.links_links
{
    COLOR: black;
    FONT-SIZE: 11px;
	TEXT-DECORATION: none;
}

.main_text
{
	font-size: 11px;
	color: #000000;
	padding: 5px;
}	

.game_set
{
border: #26a solid 1px;
width: 98%;
background-color: white;
-moz-border-radius:10px;
}

.continentSelects
{
    background-color :  #F4F4F4;
    WIDTH: 70px
}

.gamescore
{
	color: gray;
	WIDTH: 50px;
	font-weight: normal;
	font-style: italic;
}

.NEWNAVCELL 
{
	background-color:#E9E9E9;
	border: solid #1A168B 1px;
	vertical-align: top;
	padding: 2px;
	list-style-type:none;
	text-align: center;
	margin-right: 4px;

}

.NEWHEADERBAR 
{
	background-image: url(headerback.png);
	color: #FFFFDD;
	vertical-align: center;
	font-weight: 600;
	height: 20px;
	background-attachment: inherit;
	background-repeat: repeat-x;
	font-size : 12px;
	padding-bottom:5px;
	padding-top:2px;
}

.leftnav_list {

	padding-bottom:1px;
	padding-top:0px;
}

.leftnav_list:hover {

	background-color:#b2b2b2;
}

.table_game_list {

	width: 90%;
	border: solid 1px #b2b2b2; 
	background-color:#BABABA;
	margin-left:auto;
	margin-right:auto;
	border-spacing: 0;
	text-align:left;
}

.table_game_list th {

	border-bottom: solid 2px #b2b2b2;
	background-color:#E9E9E9;
	border-collapse: collapse;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:3px;
	margin:0px;
	
}

.table_game_list tr:nth-child(even){

	background-color:#EFEFEF;
}

.table_game_list tr:nth-child(odd){

	background-color:#E9E9E9;
}

.table_game_list tr:hover {

	background-color:#DBD7D1;
}


.table_game_list td {

	padding-top:3px;
	padding-bottom:3px;
	padding-left:3px;
	margin:0px;
	
}

.game_list_footer {

	border-top: solid 1px #b2b2b2;
	background-color:white;
	border-collapse: collapse;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:10px;
	margin:0px;
	font-weight: bold;
}

.comment_box {

	display:table;
	font-size : 11px;
	border: solid 1px #b2b2b2;
	margin: 0px;
	margin-left:auto;
	margin-right:auto;

}
.comment_box_top {

	display:table-row;
	font-weight:bold;
	background-color:#E9E9E9;
	margin: 0px;
}
.comment_box_top_left {

	display:table-cell;
	padding:2px;
	padding-left:6px;
	padding-top:5px;
	padding-bottom:5px;
	margin: 0px;
	width:150px;
	border-right: solid 1px #b2b2b2;
	border-bottom: solid 1px #b2b2b2;

}
.comment_box_top_right {

	display:table-cell;
	padding:2px;
	padding-left:6px;
	padding-right:6px;
	padding-top:5px;
	padding-bottom:5px;
	margin: 0px;
	border-bottom: solid 1px #b2b2b2;
}
.comment_box_middle {

	display:table-row;
	background-color:#EFEFEF;
}
.comment_box_middle_left {

	display:table-cell;
	width:150px;
	min-width: 150px;
	line-height: 13px;
	border-right: solid 1px #b2b2b2;
	border-bottom: solid 1px #b2b2b2;
	padding:2px;
	padding-left:6px;
	padding-top:5px;
	padding-bottom:5px;

}
.comment_box_middle_right {

	display:table-cell;
	border-spacing: 0px;
	width:800px;
	border-bottom: solid 1px #b2b2b2;
	padding:15px;
	line-height: 13px;
	vertical-align:middle;
}

.comment_box_bottom {

	display:table-row;
	font-weight:bold;
	background-color:#E9E9E9;
	padding:2px;
	padding-left:6px;
	padding-top:5px;
	padding-bottom:5px;
	border-top: solid 1px #b2b2b2;
}
.comment_box_bottom_left {

	display:table-cell;
	width:150px;
	min-width: 150px;
	border-right: solid 1px #b2b2b2;
	padding:6px;
	vertical-align:middle;
}
.comment_box_bottom_right {

	display:table-cell;
	padding-left:6px;
	padding:6px;
}
