.BODY 
{
	background-color: white;
	font:70% verdana,tahoma,helvetica,sans-serif;
}

.HEADERBAR 
{
	background-image: url(headerback.png);
	color: #FFFFDD;
	font-weight: 600;
	height: 20px;
	background-attachment: inherit;
	background-repeat: repeat-x;
}

A.HEADERBAR 
{
	color: #FFFFDD;
}

.LEFTNAVHEADING {
	color: #FFFFDD;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 12px;
	height:20px;
}

.CELLCOLOR 
{
	background-color: #D0D1DF;
	border-left-color: #1A168B;
	border-right-color: #1A168B;
	border-left-style: solid;
	border-right-style: solid;
}

.NAVCELL 
{
	background-color: #D0D1DF;
	border: solid #1A168B;
}

H3
{
	font-family : Verdana, Arial, Helvetica, sans-serif;
}

H4
{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 12px;
}

H5
{
	font-family : Verdana, Arial, Helvetica, sans-serif;
}

H6
{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
}

.maintext 
{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
}

.maintext_light
{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight: normal;
}

.COLOR 
{
	color: InfoBackground;
}

A 
{
	text-decoration: none;
}

.GAMENAV 
{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: left;
	color: black;
	font-weight : bold;
}

.LEFTNAV 
{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: center;
	color: black;
	font-weight : bold;
}

A.LEFTNAV:HOVER 
{
	color:#1A168B;
} 

.MAINNAV 
{
	color: #1A168B;
}

A.MAINNAV:HOVER 
{
	color: Black;
} 

.MAINNAV_WHITE 
{
	color: #FFFFDD;
}

A.MAINNAV_WHITE:HOVER 
{
	color: #EFEFEF;
} 

.HEADER 
{
	background-color: white;
}

.MAINTABLE 
{
	background-color: white;
}

SELECT.linkcategory_select 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #F4F4F4;
	color: black;
	font-weight: bold;
	font-size-adjust: inherit;
	font-size: 12px;
}

.graveselect 
{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	background-color :#F0FFDD;
	color : black;
	font-weight : bold;
}

TEXTAREA.gamesearchInputs
{
	font-family: Verdana, Helvetica, sans-serif;
	color: gray;
	HEIGHT: 200px;
	WIDTH: 630px;
	font-weight: normal;
	font-style: italic;
}

TEXTAREA.textarea_links
{
	font-family: Verdana, Helvetica, sans-serif;
	color: gray;
	HEIGHT: 200px;
	WIDTH: 320px;
	font-weight: normal;
	font-style: italic;
	font-size: 13px;
}

.explination
{
	cursor: text;
}

label
{
width: 8em;
float: left;
text-align: left;
margin: 0 1em 10px 0;
clear: both;
}

.links_screenshot
{
	 padding: 10px 10px;
}

.links_set
{
border: #26a solid 1px;
width: 20em;
background-color: Menu;
-moz-border-radius:10px;
}

.links_legend
{
	background: #D0D1DF;
	border: #26a solid 1px;
	padding: 1px 10px;
	color: #131080;
	font-weight: bold;
}

.category_set_noGrave
{
border: #26a solid 1px;
width: 40em;
background-color: Menu;
-moz-border-radius:10px;
}

.links_checkbox 
{
	margin-bottom: 5px;
}

.links_file-box
{
	margin: 10px;
}

.links_input-box
{
margin-bottom: 10px;
}

.links_selector
{
	margin-bottom: 10px;
}

.submit-button
{
	margin-left: 5em;
	clear: right;
}

.tdOn
{
    BACKGROUND: #7ABE47;
}
.tdOff
{
    BACKGROUND: #FFFFDD;
}

.reviewCommentInput
{
	background-color : #F4F4F4;
    WIDTH: 350px
}

.reviewScoreInput
{
	background-color : #F4F4F4;
    WIDTH: 40px
}

.screenshotInput
{
	background-color : #F4F4F4;
} 

.gamesearchInputs
{
	background-color : #F4F4F4;
}

.authorSelects
{
    background-color :  #F4F4F4;
    WIDTH: 130px
}

.authorSelects2
{
    background-color :  #F4F4F4;
    WIDTH: 200px
}

.boxborder 
{
	border : 1px solid #1A168B;
	background : White;
	
}

.prereview {
	font-weight : normal;
	color : Gray;
	line-height : 17px;
}


.news_set
{
border: #26a solid 1px;
width: 65%;
background-color: Menu;
-moz-border-radius:10px;
}

.interview_set
{
border: #26a solid 1px;
width: 75%;
background-color: Menu;
-moz-border-radius:10px;
}

.interview_set_screenshot
{
border: #26a solid 1px;
width: 90%;
background-color: Menu;
-moz-border-radius:10px;
}

.MAINLINKS 
{
	color: #1A168B;
}

A.MAINLINKS:HOVER 
{
	color: Black;
} 

.review_input
{
	font-family : Verdana, Helvetica, sans-serif;
	color : black;
	background-color: #D0D1DF;
	font-size-adjust : inherit;
	WIDTH: 75%;
	font-weight : 200;
}

.textarea_interviews
{
	WIDTH: 100%;
}

a.links_links:hover
{
    COLOR: #336699 ;
    TEXT-DECORATION: underline;
}

.links_links
{
    COLOR: black;
	font-family: Verdana, sans-serif;
    FONT-SIZE: 10px;
	TEXT-DECORATION: none;
}

.main_text
{
	font-family: Verdana, sans-serif;
	font-size: 10px;
	color: #000000;
	padding: 5px;
}	

.game_set
{
border: #26a solid 1px;
width: 98%;
background-color: Menu;
-moz-border-radius:10px;
}

.continentSelects
{
    background-color :  #F4F4F4;
    WIDTH: 70px
}

.gamescore
{
	font-family: Verdana, Helvetica, sans-serif;
	color: gray;
	WIDTH: 50px;
	font-weight: normal;
	font-style: italic;
}

.table_data { font-family:arial; font-size:9pt; color:#000000; background-color:#ffffff; }

.flat { background-color:#000000 }

.table_header { background-color:#006699; color:#ffffff; }

.latest_post { font-family:arial; font-size:8pt; color:#000000; }
.latest_post_link { background-color:#c0c0c0; color:#000000; font-size:9pt; font-family:arial; border: solid 1px #000000; text-decoration:none;}

.new	{font-family:verdana; font-size:7pt; color:#ff0000; font-weight:bold;}
.notnew {font-family:verdana; font-size:7pt; color:#808080;}

.message { border-bottom:solid 1px #000000;}

.highlight { background-color:#c0c0c0; }

.quote { padding:5px; border:solid 1px #000000; background-color:#e6e6e6; color:#000000;}



 .Table
    {
        display: table;
	border: solid 1px #b2b2b2;
	background-color:#E9E9E9;
	width: 90%;

    }
    .Heading
    {
        display: table-row;
        font-weight: bold;
        text-align: left;
    }
    .table_head
    {
        font-weight: bold;
        text-align: left;
    }
    .Row
    {
        display: table-row;
        text-align: left;
    }
    .Cell
    {
        display: table-cell;
        padding: 2px;
    }
    .Row div:hover
    {
	background-color:#b2b2b2;
    }
