/*---------------------------------------------------------- 
CPANEL specifications - AL Legacy skin
------------------------------------------------------------ */

/* load the main site font */
@font-face {
   font-family: Audiowide;
   src: url(../font/Audiowide-Regular.ttf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {  margin: 0; padding: 0; 
}

html { overflow-y: scroll; 
	overflow-x: hidden;
}

body { background: #DBD7D1; font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;font-size: 80%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
	display: block;
}

.container { display: none; }
	
/*---------------------------------------------------------- 
 Main site width
------------------------------------------------------------ */
#wrapper {
	width: 100%;	
	max-width: 1280px;
	margin: auto;
	

} 
 
#main {
	width: 100%;
	margin-right: 5%;
	float: left;

}		
	
/*---------------------------------------------------------- 
 Top
------------------------------------------------------------ */
/* background */
#top_background {
	width: 100%;
	float: left;
	display: block;
	background: url(../../../templates/0/images/top_bg.jpg) 0 0 no-repeat;
	height:100%;
	background-color: black;
	margin: 0; padding: 0; 
	}
	
header {
	margin: 0; padding: 0; 

}

	
/* logos */	
#left { 	float: left;}
#logo_img { 	max-width: 100%;}
#logo_img_480 {	max-width: 100%;}	

			
#right { float: right;}
	#right img {
		max-width: 100%;
		float: right;
		}			

		/* animation */
#animation {
    position: relative;
	-webkit-animation-name: STcharacters;
	animation-name: STcharacters;
	-webkit-animation-duration: 20s;
	animation-duration: 20s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}

@-webkit-keyframes STcharacters {
    0% {
        top: 145px;
		left: -20%;
		opacity: 0;}	
	
	10% { opacity: 1;}
	70% { opacity: 1;}
	
	100% {
        top: 145px;
		left: 45%;
		opacity: 0;
    }
}
@keyframes STcharacters {
    0% {
        top:145px;
		left: -20%;
		opacity: 0;}		
		
	10% { opacity: 1;}
	70% { opacity: 1;}
    	
    100% {
        top:145px;
		left: 45%;
		opacity: 0;
    }
}

#animation_vert{ position: relative;
	-webkit-animation-name: STcharacters_vert;
	animation-name: STcharacters_vert;
	-webkit-animation-duration: 10s;
	animation-duration: 10s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}

@-webkit-keyframes STcharacters_vert {
    0% {
        top: 145px;
		left: -5%;
		opacity: 0;}	
	
	10% { opacity: 1;}
	70% { opacity: 1;
	left: 0%;}
	
	100% {
        top:10px;
		left: 5%;
		opacity: 0;
    }
}
@keyframes STcharacters_vert {
    0% {
        top:145px;
		left: -5%;
		opacity: 0;}		
		
	10% { opacity: 1;}
	70% { opacity: 1;
	left: 0%;}
    	
    100% {
        top:10px;
		left: 5%;
		opacity: 0;
    }
}



/* at a resolution of max 480 (smartphones) we want a smaller logo with border */		
@media screen and (max-width: 480px) { 
	.container { width: 15%; } 
	#left { width: 85%;
		}	
	#logo_img { margin-left: auto;
			margin-right: auto;
			display: none;
		}
	#logo_img_480  { margin-left: auto;
			margin-right: auto;
			margin-bottom: 5px;		
		}
	#animation, #animation_vert{ display: none;}
	#right { width: 0%;
		display: none;
	}
	#top_background  { border-top-width: 0px;
			border-left-width: 0px;
			border-bottom-width: 7px;
			border-bottom-color: #161c71;
			border-style: solid;
			box-shadow: 0 0 7px #161c71;
		    background: -webkit-linear-gradient(black, #161c71); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient(black, #161c71); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient(black, #161c71); /* For Firefox 3.6 to 15 */
			background: linear-gradient(#161c71, black); /* Standard syntax (must be last) */
		}
}	

/* at a resolution of max 960 (Tablets & low res laptop) we want the original logo without the bee */				
@media screen and (min-width: 481px) and (max-width: 960px){  
	.container { width: 15%; } 
	#left { width: 100%; }
	#logo_img{ margin-left: auto;
			   margin-right: auto; 
		}
	#animation, #animation_vert{ display: none;}
	#logo_img_480{ display: none;}
		
	#right { width: 0%;
		display: none;
	}
}

/* For high res screens we want the full package - original logo and bee */
@media screen and (min-width: 961px) { 
	.container { width: 15%; } 
	#left { width: 50%;}
	#logo_img_480{ display: none;}	
	#right{ width: 35%;
		display: block;
		text-align: right;}
	}	
	
/* For high res screens we want the full package - original logo and bee */
@media screen and (min-width: 1280px) { 
	.container { visibility : hidden; } 
	}		
	
/*---------------------------------------------------------- 
 Menu
------------------------------------------------------------ */
/* ---------the side menu--------*/

/* the side menu for smartphones, tablets and old (laptop) screens */
/* it is also used for the high res monitors, but then only the skin switch will be visible */

	body, html {
        height: 100%;
        margin: 0;
     }

	.container {
		display : block;
		z-index: 3;
		position: relative;
        width: 100%;
        left: 0;
        -webkit-transition:  left 0.4s ease-in-out;
        -moz-transition:  left 0.4s ease-in-out;
        -ms-transition:  left 0.4s ease-in-out;
        -o-transition:  left 0.4s ease-in-out;
        transition:  left 0.4s ease-in-out;
    }
    
    .container.open-sidebar {
        left: 170px;
    }
    
    #sidebar {
		z-index:1;
		position: absolute;
    }
	
    #sidebar ul li a {
        display: block;
        -webkit-transition:  background 0.3s ease-in-out;
        -moz-transition:  background 0.3s ease-in-out;
        -ms-transition:  background 0.3s ease-in-out;
        -o-transition:  background 0.3s ease-in-out;
        transition:  background 0.3s ease-in-out;
    }
	
    .main-content {
        width: 100%;
        height: 100%;
        padding: 1px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        position: absolute;
    }
	
    .main-content .content{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
		padding-left: 60px;
		width: 100%;
    }
	
    .main-content .content p{
        width: 100%;
        line-height: 160%;
    }
	
    .main-content #sidebar-toggle {
        background: #161c71;
        border-radius: 3px;
        display: block;
        position: absolute;
        padding: 10px 7px;
        float: left;
    }
	
    .main-content #sidebar-toggle .bar{
        display: block;
        width: 18px;
        margin-bottom: 3px;
        height: 2px;
        background-color: #fff;
        border-radius: 1px;   
    }
	
    .main-content #sidebar-toggle .bar:last-child{
         margin-bottom: 0;   
    }
	
	/*-----some code for the skin submenu-------*/
	
	.clearfix:after {
		display:block;
		clear:both;
	}

	/*----- Menu Outline -----*/
	.skin-wrap {
		width:100%;
	}
	 
	.skin-menu {
		width:100%;
		margin:0px auto;
	}
	 
	.skin-menu li {
		margin:0px;
		list-style:none;
	}
	 
	.skin-menu a {
		transition:all linear 0.15s;
	}
	 
	 
	/*----- Top Level -----*/
	.skin-menu > ul > li {
		float:left;
		display:inline-block;
		position:relative;
	}
	 
	/*----- Bottom Level -----*/
	.skin-menu li:hover .sub-menu {
		z-index:1;
		opacity:1;
	}

	.sub-menu {
		width:75%;
		padding:5px 0px;
		position:absolute;
		top:100%;
		left:30px;
		z-index:-1;
		opacity:0;
		transition:opacity linear 0.15s;
		box-shadow:0px 2px 3px rgba(0,0,0,0.2);
	}	 
/* 'position' is needed for smartphone view else the logo is covered by the sidemenu button */
@media screen and (max-width: 480px) { 
	.main-content {position: relative;}
	.main-content #sidebar-toggle {position: relative;}
	}	

/* for the lower resolutions, we don't have the menu bar below the top */ 
@media screen and (max-width: 1279px) {  	
	#games { display: none; }
	#menus { display: none; } 
	#demos { display: none; } 
	#users { display: none; }
	#admin { display: none; }
	#other { display: none; }
	.container.open-sidebar { left: 245px;}
	#sidebar { left: -245px;
        width: 245px;
	}
	.sub-menu li { font-size:20px; }
}

/* for the high resolutions, we only have the skin switch in the side menu */ 
@media screen and (min-width: 1280px) {  	
	#games_side { display: none; }
	#demos_side { display: none; }
	#users_side { display: none; }
	#menus_side { display: none; }
	#admin_side { display: none; }
	#other_side { display: none; }
}


/* ---------the main menu below top--------*/

/* This piece of code is used for higher res :
/*	1) making the side menu go to the left of the screen  --> Container absolute
/*  2) Side bar needs to be transparant for resolutions between 1281 and 16** or something --> #sidebar
/*  3) header nav is switched to absolute, if this is not done, the hyperlinks won't work anymore becauwe of position of container
/*  4) since header nav is absolute, the main part of the site needs to be repositioned */
@media screen and (min-width: 1280px){  	
	.container {position: absolute;}
	#sidebar {background-color: rgba(0, 0, 0, 0);}
	header nav { position: absolute; margin-top: 225px;}	
}

nav ul {
  list-style: none;
  	margin: 0; padding: 0; 
}

.nav li {
  position: relative;
}
.nav > li { 
  float: left; 
} 

.nav li a:first-child:nth-last-child(2):before { 
  content: ""; 
  position: absolute; 
 }
 
 /* submenu positioning*/
.nav ul {
  position: absolute;
  z-index: 1;
  left: -99999em;
  top: 61px;
}
.nav > li:hover > ul {
  left: auto;
}
.nav > li li:hover > ul { 
  left: 100%;
}

.topbutton
{
  cursor: pointer;
  border: 0px;
  background: #161c71;
  font-family: Audiowide,Arial,helvetica,sans-serif;
  color: White;
  height: 60px;
  width: 213px;
  font-size: 20px;
  border-bottom: 3px solid #12164a;
  border-left: 1px solid #12164a;
  padding-top: 3px;
  text-decoration:none;
}

.topbutton:hover {
  background: #1e269c;
  color: white;
  text-decoration:none;
  border-bottom: 3px solid #12164a;
}

.topbutton:visited {
  text-decoration:none;
  color: white;
}

.topbutton > a:visited {
  text-decoration:none;
  color: white;
}
#other {

  width: 215px;
}

#game_editor, #game_comments, #game_series, #game_music, #game_submissions, #game_reviews, #submitted_reviews,
#menu_editor, #menu_comments, #menu_submissions, #demo_editor, #demo_comments, #demo_music, #demo_submissions,
#user_admin, #individuals, #author_types, #crew_editor, #companies, #company_logo, #add_news, #approve_news, 
#submitted_news, #add_news_images, #statistics,#did_you_know, #trivia_screenshots, #trivia_quotes, #add_links, #validate_links,
#modify_links, #link_categories, #articles, #article_types, #screenshots, #modify_links, 
#link_categories, #articles, #article_types, #article_screenshots, #add_magazines, #manage_issues, #game_interviews, 
#game_interviews_help, #forum, #logout, #game_individuals, #game_author_types, #menu_individuals, #menu_author_types,
#menu_crew_editor, #demo_individuals, #demo_author_types, #demo_crew_editor, #demo_interviews, #demo_interviews_help {
		height: 30px;
		font-size: 16px;
		text-decoration:none;
		display:table-cell;
		text-align:center;
		vertical-align:middle;

}

#side_game_editor, #side_game_comments, #side_game_series, #side_game_music, #side_game_submissions, #side_game_reviews, #side_submitted_reviews,
#side_menu_editor, #side_menu_comments, #side_menu_submissions, #side_demo_editor, #side_demo_comments, #side_demo_music, #side_demo_submissions,
#side_user_admin, #side_individuals, #side_author_types, #side_crew_editor, #side_companies, #side_company_logo, #side_add_news, #side_approve_news, 
#side_submitted_news, #side_statistics,#side_did_you_know, #side_trivia_screenshots, #side_trivia_quotes, #side_add_links, #side_validate_links,
#side_modify_links, #side_link_categories, #side_articles, #side_article_types, #side_screenshots, #side_modify_links, 
#side_link_categories, #side_articles, #side_article_types, #side_article_screenshots, #side_add_magazines, #side_manage_issues, #side_interviews, 
#side_interviews_help, #side_forum, #side_logout, #side_game_individuals, #side_game_author_types, #side_menu_individuals, #side_menu_author_types,
#side_menu_crew_editor, #side_demo_individuals, #side_demo_author_types, #side_demo_crew_editor, #side_demo_interviews, #side_demo_interviews_help {
		height: 30px;
		font-size: 16px;
		text-decoration:none;
		display:table-cell;
		text-align:center;
		vertical-align:bottom;

}
