.al-text-muted {
    color: #bcbdbd !important;
}

.al-text-center { text-align: center; }
.al-text-right { text-align: right; }

.al-m-auto {
    margin: auto;
}

.al-w-100 {
    width: 100%;
}

.al-p-0 { padding: 0 !important; }
.al-p-1 { padding: 0.5rem !important; }
.al-p-2 { padding: 1rem !important; }

.al-mb-1 { margin-bottom: 0.5rem !important; }
.al-my-1 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.al-border {
    border: dotted 1px scale-color($brand_primary, $lightness: -30%);
}

.al-float {
    &-left { float: left; }
    &-right { float: right; }
}

.al-fontsize {
    &-small { font-size: .75rem; }
}

ul.al-list-unstyled {
    list-style-type: none;
}

.al-oddeven {
    &:nth-child(even) {
        background-color: $brand_background_light;
    }
}

.al-shadow {
    box-shadow: 0 0 12px black;
}
