$brand_primary: #00d3d3;
$brand_primary_dimmed: scale-color($brand_primary, $lightness: -40%);

$brand_secondary: #fff;

$brand_background: #122323;
$brand_background_light: #0d2e2e;

$brand_muted: #bcbdbd;

$brand_font_family: Audiowide, Arial, helvetica, sans-serif;


